{% extends 'layout.html' %}
{% set page = {
    "cssname": "diagnosis",
    "css": "true",
    "title": ""
} %}
{% block content %}

<section class="box-wrapper diagnosis-section01">
  <div class="box-inner">
    <div class="diagnosis-result">
      <div class="diagnosis-sec01-title">
        <h2>予想される納税額</h2>
      </div>
      <div class="diagnosis-sec01-price">
        <dl class="main-price">
          <dt>計約</dt>
          <dd>000,000,000 <span>円</span></dd>
        </dl>
        <dl class="sub-price">
          <dt>配偶者</dt>
          <dd>000,000 <span>円</span></dd>
        </dl>
        <dl class="sub-price">
          <dt>子ども1</dt>
          <dd>000,000 <span>円</span></dd>
        </dl>
        <dl class="sub-price">
          <dt>法定相続人の人数</dt>
          <dd>3<span>人</span></dd>
        </dl>
        <dl class="sub-price">
          <dt>相続財産の額</dt>
          <dd>000,000 <span>円 節税可</span></dd>
        </dl>
        <dl class="sub-price">
          <dt>基礎控除額</dt>
          <dd>000,000 <span>円 節税可</span></dd>
        </dl>
        <dl class="sub-price">
          <dt>課税標準額</dt>
          <dd>000,000 <span>円 節税可</span></dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<section class="box-wrapper diagnosis-section02">
  <div class="diagnosis-sec02-title">
    <h2>あなたに起こりうる<br class="pc-none">終活の問題点</h2>
  </div>
  <div class="diagnosis-sec02-point">
    <ul>
      <li>遺産分配には現金が必要となります！</li>
      <li>節税対策のために生命保険の加入が有効です！</li>
      <li>お墓の事前購入で税金を免除できます！</li>
    </ul>
    <div class="regist-button">
      <a href="#"><img src="../images/diagnosis/regist-button-pc.jpg" href="#" alt="まずは無料登録"></a>
    </div>
  </div>

</section>



{% endblock %}