{% extends 'layout.html' %} {% set page = { "css": ["haka"], "js": ["haka"],
"title": "お墓について | " } %} {% set breadcrumb_list = [ { "url": "/", "text":
"ホーム" }, { "url": "", "text": "お墓について" } ] %} {% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<section class="box-wrapper">
    <div class="box-inner">
        {% include '_breadcrumb.html' %}
    </div>

    <!-- <div class="top-image-and-local-nav"> -->
    <div class="top-image">
        <img src="images/top/haka-top.jpg" style="" alt="" />
    </div>

    <!-- </header> -->

    <main>
        <div class="local-nav">
            <div class="local-nav-content01">
                <div class="local-nav-content01-title">
                    <div class="accordion">
                        <ul>
                            <li>
                                <a class="toggle">
                                    <p class="accordion_icon"><span></span><span></span></p>
                                    <h5>カテゴリから記事を探す</h5>
                                </a>
                                <div class="local-nav-content01-01">
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                    <p><a href="">○●○●○●</a></p>
                                </div>
                            </li>
                            <li style="background-color: #f18972;">
                                <a class="toggle">
                                    <p class="accordion_icon"><span></span><span></span></p>
                                    <h5>お墓についての記事</h5>
                                </a>
                                <div class="local-nav-content01-02">
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                    <p style="border-color: #f18972;">
                                        <a href="">○●○●○●</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="head-bar01">
                        カテゴリから記事を探す
                        <a class="menu-btn01">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="sp-menu01">
                    <li>
                        <a href="">
                            <div class="local-nav-content01-01">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-02">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-03">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-04">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-05">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-06">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-07">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-08">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-09">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-10">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-11">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-12">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="local-nav-content02">
                <div class="local-nav-content02-title">
                    <div class="head-bar02">
                        お墓についての記事
                        <a class="menu-btn02">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="sp-menu02">
                    <li>
                        <a href="">
                            <div class="local-nav-content02-01">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-02">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-03">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-04">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-05">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-06">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-07">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-08">
                                <p>○●○●○●</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="local-nav-content03">
                <div class="local-nav-content03-title">
                    <div class="head-bar03">
                        よく読まれている記事
                        <a class="menu-btn03">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="sp-menu03">
                    <li>
                        <img src="http://via.placeholder.com/250x200" alt="" style="margin-top: 20px;" />
                        <a href="">
                            <div class="local-nav-content03-01">
                                <p>○●○●○について解説！</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/250x200" alt="" style="margin-top: 20px;" />
                        <a href="">
                            <div class="local-nav-content03-02">
                                <p>○●○●○について解説！</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/250x200" alt="" style="margin-top: 20px;" />
                        <a href="">
                            <div class="local-nav-content03-03">
                                <p>○●○●○について解説！</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-image02">
            <img src="images/top/haka-top.jpg" style="" alt="" />
        </div>
        <div class="content">
            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    最近のお墓事情
                </div>
            </div>

            <div class="content01-text01" style="clear: both;">

                <div class="container" style="background-color:#f3f3f3">

                    お墓といえば、以前は「○○家の墓」と彫刻された、縦長の和型墓石が一般的でした。それが、２０００年
                    代になりますと、「やすらぎ」、「ありがとう」、「愛」など、好きな言葉を彫刻する、横長の洋型墓石が主流へと
                    変わって行きました。。<br><br>
                    最近のお墓はといいますと、社会問題にもなっている少子高齢化を背景に、室内墓や永代供養墓、樹林葬
                    、散骨などが登場し、お墓そのものの形が変わってきております。しかし、お墓の種類が多くなりすぎている
                    ため、自分たち家族にとって、どのお墓が一番合っているのか分からず、迷っている方が多いようです。<br><br>
                    また、近年「墓じまい」という言葉が生まれたように、様々な理由でお墓を維持していくことが難しく、今のお
                    墓を取り壊し、ご遺骨を他のお墓に移す方も増えております。<br><br>
                    お墓をこれから定める方も、すでにお持ちの方も、お墓の悩みは尽きないものです。ご家族の皆様が、いつ
                    までも安心してお参りができるよう、ご家族でじっくりと話し合ってからお墓を決めることをお勧めします。<br><br>
                    <!-- <img src="images/top/graph01.png" alt="" /><br><br> -->

                    <!-- <img src="images/top/graph02.png" alt="" /><br><br> -->

                    <!-- <img src="images/top/graph03.png" alt="" /><br><br> -->

                    <!-- <img src="images/top/graph04.png" alt="" />
                    <img src="images/top/graph05.png" alt="" /><br><br> -->

                </div><br><br>
            </div>


            <div class="content01-circle-pc">
                <img src="images/top/haka-content.jpg" style="" alt="" />
            </div>
            <div class="content01-circle-sp">
                <img src="images/top/haka-content.jpg" style="" alt="" />
            </div>

            <!-- <div class="content01-circle" align="left">
        <img src="/images/top/souzoku_1.png" alt="" width="22%" />
        &nbsp;
        <img src="/images/top/souzoku_2.png" alt="" width="22%" />
        &nbsp;
        <img src="/images/top/souzoku_3.png" alt="" width="22%" />
        &nbsp;
        <img src="/images/top/souzoku_4.png" alt="" width="22%" />
        &nbsp;
        <img src="/images/top/souzoku_5.png" alt="" width="22%" />
        &nbsp;
        <img src="/images/top/souzoku_6.png" alt="" width="22%" />
        &nbsp;
        <img src="/images/top/souzoku_7.png" alt="" width="22%" />
        &nbsp;
        <img src="/images/top/souzoku_8.png" alt="" width="22%" />
      </div> -->

            <!-- <div class="content01-image-pc">
                <img src="http://via.placeholder.com/800x350" alt="" width="100%" />
            </div>
            <div class="content01-image-sp">
                <img src="http://via.placeholder.com/500x800" alt="" width="100%" />
            </div> -->


            <div class="card  mb-4">
                <div class="card-body">
                    <p class="card-title font-weight-bold h2">お墓の種類</p>
                    <div class="container text-center ">
                        <div class="row d-flex mb-3 justify-content-center ">
                            <p class="category_btn rounded-pill mr-3  col-5"><span
                                    class="card-category-text ">お墓を選ぶ前に知っておきたいこと</span> </p>
                            <p class="category_btn rounded-pill  col-5 "><span
                                    class="card-category-text">お墓を選ぶ前に知っておきたいこと</span> </p>
                        </div>
                        <div class="row d-flex mb-3 justify-content-center">
                            <p class="category_btn rounded-pill mr-3 col-5 "><span
                                    class="card-category-text">お墓を選ぶ前に知っておきたいこと</span>
                            </p>
                            <p class="category_btn rounded-pill col-5 "><span
                                    class="card-category-text">お墓を選ぶ前に知っておきたいこと</span></p>
                        </div>
                        <div class="row d-flex mb-3 justify-content-center">
                            <p class="category_btn rounded-pill mr-3 col-5 "><span
                                    class="card-category-text">お墓を選ぶ前に知っておきたいこと</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="background-color:#f3f3f3">
            </div><br><br>




            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    お墓を選ぶ前に知っておきたいこと
                </div>
            </div>
            <div class="content02-image">
                <img src="images/top/haka-content.jpg" style="" alt="" />
            </div>

            <div class="content01-text02">
                <div class="container" style="background-color:#f3f3f3">

                    <p class="category-mini-tittle">

                        《今に伝わるお墓の歴史》<br><br>
                    </p>
                    ・お墓の始まりは縄文時代<br><br>
                    今なお全国各地で古来のお墓が発見されていることからもわかるように、日本では、縄文時代から
                    死者を埋葬する習慣があったようです。なかでも、青森県の「三内丸山遺跡」は有名で、大規模な
                    大人の墓地や、子供のお墓が見つかっています。<br><br>
                    続く弥生時代には、甕棺（かめかん）や石棺、木棺で埋葬されていることが主流になっていきまし
                    た。それとともに、墳墓といわれる、お墓の周りに方形や円形の溝をめぐらしたものも出てくるよ
                    うになります。お墓の規模は次第に大きくなっていったのです。<br><br>
                    その後、古墳時代に入ると、その名のとおり、権力者たちはこぞって巨大なお墓を造るようになり
                    ました。代表的なものは、大阪府の「大仙陵古墳（仁徳天皇陵）」で、その大きさは世界でも最大
                    級です。中国の始皇帝陵、エジプトのグフ王のピラミッドと共に、世界三大陵墓の一つと言われて
                    います。<br><br>
                    ところが、こうした大規模なお墓は、大化の改新により姿をひそめるようになってしまいます。「
                    薄葬令」と呼ばれる法律では、身分ごとに葬儀やお墓について細かく定められていたからです。<br><br>

                    ・お墓と仏教の関係<br><br>
                    では、お墓と仏教のつながりは、いつからどのように始まったのでしょうか？一説によれば、鎌倉
                    時代から室町時代にかけて、武士が台頭するようになってからだといわれてます。奈良時代や平安
                    時代には、寺院が貴族の手厚い庇護を受けていましたが、貴族の没落に伴い、武士を中心に仏教が
                    庶民へ布教され始めたことが関係しているようです。また、同じころに位牌と戒名が中国から伝わ
                    ったこともあり、位牌型の板碑や今日の墓石に近い角柱型のものも作られるようになっていきまし
                    た。<br><br>

                    とはいえ、お墓そのものが庶民と深く関わるようになったのは、江戸時代に入ってからのことです
                    。この時代には「寺請制度」によって、それぞれの家庭がいずれかの寺院の檀家になる必要があり
                    ました。その影響もあり、お墓はもちろん、祖先に対する供養や葬儀、仏事に関するあらゆる事柄
                    が生活の中に定着したといえます。<br><br>

                    ・現代のお墓になるまで<br><br>
                    個人墓が主流だった江戸時代から、いわるゆ家のお墓が一般化したのは明治時代のことでした。明
                    治7年、当時の東京府の公営墓地として、青山に公園型の墓地が設けられたのを皮切りに、次々と
                    公園型の墓地が造られるようになりました。戦後には、昭和23年に「墓地埋葬に関する法律（墓埋
                    法）」が施行され、4年後の昭和27年には民間が運営する霊園もできました。<br><br>
                    現在では、お墓の形一つをとっても、その家ごとに異なります。時代と共にお墓の形態は変化して
                    いきますが、お墓参りに行くことで故人を偲び先祖に感謝をする気持ちは、いつまでも変わらずに
                    持ち続けていきたいものです。<br><br>

                    <p class="category-mini-tittle">

                        《お墓を購入するのに良い時期はある？》<br><br>
                    </p>

                    ・思い立ったら吉日<br><br>
                    仏教では、過去、現在、未来で物事を考えます。そしてこれらを合わせて三世（さんぜ）と言いま
                    す。一番、大切なのは現生で、前世でも来世でもありません。生きている人を基本にした仏教本来
                    の考えでは、お墓をいつ建てたら良いという決まりはありません。大切なのは供養の気持ちです。
                    ただ、遺骨をお墓に入れなくてはいけないという法律や義務は一切ありませんが、可能なら（お墓
                    がある場合）四十九の法要までに納骨を行いたいものです。それが無理なら一周忌法要までにお墓
                    を建てて納骨するか、おそくとも三回忌までには行いたいものです。<br><br>
                    お墓を買うということは費用的にも労力的にも大変なことです。最近では、寿陵墓（＝生前墓）を
                    購入する人が増えてきています。自分で納得のいくお墓を求められるのは幸せなことだと思います
                    。お墓や仏壇や礼拝物などは（どんな高価なものでも）相続税の対象にならないので生前にそれら
                    を買われると節税対策になります。必然的にその分のお金は生前の資産から差し引かれるので、後
                    に残った家族の相続税の負担を軽減することができます。不動産取得税・固定資産税などもお墓に
                    関してはかからないので、税金の心配をしないで持っていることができます。<br><br>
                    ・寿陵の話<br><br>
                    生きている間にお墓を建てる人が増えています。これを寿陵（墓）あるいは生前墓とよびます。見
                    たことのある人も多いと思いますが、朱で戒名が刻まれているお墓が寿陵です。民間の霊園では最
                    近、申込者の半数近くの方が生前にお墓を求めているケースもあるようです。<br><br>
                    古来中国では生前にお墓を建てることは長寿を授かる縁起の良いこととされていました。古書にも
                    「寿蔵」「寿穴」「寿堂」などと書かれています。最近では縁起のためだけではなく、子供に負担
                    をかけたくない、または自分の気に入った墓碑銘や石、場所などを選びたいいという人が寿陵墓を
                    建てているといわれています。<br><br>
                    生きているうちにお墓を建てると早死する、または悪いことが起きると言う人もいるようですが、
                    それは迷信です。「寿陵」の寿が示すように「家に幸せをもたらし、長寿が約束される」といわれ
                    、寿陵は大変おめでたいお墓なのです<br><br>

                    <p class="category-mini-tittle">

                        《多様化するお墓の種類》<br><br>
                    </p>

                    ・一般墓<br><br>
                    墓石を建てる従来型のお墓です。管理運営の形態により、公営霊園、民間霊園、寺院墓地の3つの
                    タイプに分類されます。<br><br>
                    ・納骨堂<br><br>
                    「納骨堂」は、他人の委託を受けて焼骨を収蔵する為に、都道府県知事の許可を受けた施設のこと
                    です。昨今、墓地の不足・家族の形態の変化によって墓地を継承する方が減少し、注目されるよう
                    になりました。遺骨を建物の中に納めるため、言わばお墓のマンションとも言えます。<br><br>
                    一般的に、お墓を購入する場合は永代使用権、墓石などの高額な費用がかかりますが、納骨堂は使
                    用料・管理料等のみのため比較的費用は低額になります。ただし、お墓は永久に使用することがで
                    きますが、納骨堂は使用期間が設定されており、期限が来ると再度契約し再度料金を支払う場合も
                    あります。最近では都心部を中心に、ご遺骨の納められた箱がコンピュータ制御され、ICカードを
                    かざすことで参拝ブースに運ばれてくる、自動搬送式納骨堂も登場し話題を呼んでます。<br><br>
                    ・永代供養墓<br><br>
                    お墓を継承する人が いなくなったとしても、寺院や墓地管理者が責任を持って永代にわたり、その
                    遺骨を管理してご供養をするお墓のことです。寺院や墓地によって納骨の方法、ご供養の期間、管
                    理の方法、費用などは様々なため、お求めの際は良く内容を確かめる必要があります。<br><br>
                    ・合祀墓<br><br>
                    「お墓は、家族のみが眠るもの」という概念をはずし、遺骨を共同で祀る形のお墓のことです。納
                    骨の方法は、はじめから合祀をする以外に、はじめは骨壷のままで墓所に収納し、一定の期間後に
                    合祀にするケースもあります。また、合祀墓の形態には、ロッカー形式・仏壇形式などがあります
                    が、費用も供養方法も当然変わってきますので、必ず現地をご自分の目で確認して納得行くまで説
                    明を受けて下さい。<br><br>
                    ・樹木葬<br><br>
                    墓石の代わりにシンボルツリーとよばれる樹木を植え、その周りにご遺骨を埋葬します。<br><br>
                    ・海洋散骨<br><br>
                    ご遺骨をパウダー状に海にまく供養方法。散骨後、お参りをする場所があいまいになるため、家族
                    や親族の理解を得てから行うことが必要となります。<br><br>

                    <p class="category-mini-tittle">

                        《一般墓地の3つのタイプとは？》<br><br>
                    </p>

                    ・寺院墓地<br><br>
                    お寺の境内、または近隣にあり、その寺院が管理している墓地のことをいいます。寺院のお墓を得
                    るということは、そのお寺の檀家になることが前提となっている場合がほとんどなので、必ず住職
                    にお寺の行事やお付き合いの仕方について確認した方がよいでしょう。同時に、住職の人柄につい
                    ても、長く信頼してお付き合いができるかどうか考慮に入れる必要があります。<br><br>
                    利点としては、手厚く供養していただけるという点です。お墓が境内にあるため法要を本堂でいと
                    なむことができ、また、頼めばいつでも僧侶が読経して供養してくれます。お墓がお寺の中にある
                    ため、墓所内の管理も安心できます。<br><br>

                    ・公営墓地<br><br>
                    都道府県、市町村などの地方自治体が管理・運営している墓地です。申し込み先は各都道府県や市
                    町村役場になります。<br><br>
                    公営墓地は、墓地にとって最も重要な永続性が保証されて、かつ、永代使用料や管理費が安く抑え
                    れています。また、自治体が管理しているため、宗旨・宗派による宗教的な制約は一切ありません
                    。<br><br>
                    ただし、申し込み資格に関しては条件がつきます。たとえば、「現住所がその自治体にある」、「
                    ご遺骨がある」などです。募集の時期に関しても、ほとんどの自治体で募集期間が決まっており、
                    希望者が多い場合は抽選となります。また、立地の面で不便な所も少なくありませんので、申し込
                    みに当たっては十分な検討が必要です。<br><br>
                    ・民営霊園<br><br>
                    財団法人や宗教法人が経営主体となっている霊園で、宗旨・宗派を問わずに申し込むことができま
                    す。<br><br>
                    公営霊園に比べると永代使用料や管理費などは多少割高ですが、管理棟や礼拝室などの施設が充実
                    し、園内もきれいに整備されており、いつでも気持ちよくお参りに行くことができます。また、公
                    営霊園のような申し込むための条件や抽選もなく、いつでも誰でもお申し込みをすることができま
                    す。<br><br>

                    <p class="category-mini-tittle">
                        《人気の高い都立霊園とは》<br><br>
                    </p>

                    都立霊園は、東京都が管理・運営する、宗教を問わない公営の霊園です。青山、雑司ヶ谷、谷中、
                    染井、多磨、小平、八王子、八柱と８ヶ所あり、毎年一部霊園を除き募集が行われています。<br><br>
                    申し込みの受付は、年一度6月下旬から７月初旬頃にかけてありますが、申込みには居住年数やご
                    遺骨の有無など一定の資格が必要となります。また、毎年応募者が多く抽選となり、区分によって
                    は10倍を超える高倍率となります。<br><br>
                    都立霊園は一般埋蔵施設のほか、合葬埋蔵施設、樹木型合葬埋蔵施設など、跡取りのことで心配の
                    ない区分もあります。<br><br>
                    なお、八柱霊園に限り、霊園が所在する松戸市にお住いの方も申し込みをすることができます。


                    <p class="category-mini-tittle">
                        《一般墓地を選ぶ時のポイント》<br><br>
                    </p>

                    ・立地<br><br>
                    お参りに行きやすい所が一番。一般的にお連れ合いの方が亡くなるころには、皆さんもそれなりに
                    ご高齢のはずです。お墓参りに行くには遠方では大変ですので、自宅から1時間以内で行ける霊園
                    で決める方が多いようです。また、車だけではなく、公共の交通機関を使ってのアクセスもチェッ
                    クしましょう。最寄りの駅からお参り用の無料送迎バスがあり、便利に行ける霊園もあります。<br><br>
                    ・価格<br><br>
                    墓所を求めるには、まずは永代使用料、管理費、墓石代、彫刻代が必要です。お墓を建てた後は、
                    管理料の他にも、埋葬、法要時の諸費用、寺院墓地の場合はお布施などが掛かります。担当する石
                    材店、または墓地管理者に、掛かる費用を確認しましょう。<br><br>

                    ・管理<br><br>
                    墓地では管理者が定期的な清掃や見回りにあたりますが、中には管理事務所が無く管理人が常駐せ
                    ずに、園内の清掃や手桶などの備品の管理がしっかりと行われていない墓地もあります。管理体制
                    についても必ず確認しましょう。<br><br>
                    ・設備<br><br>
                    管理事務所や駐車場、休憩所、法要設備など、諸設備の有無や規模は重要です。また、墓所内が平
                    坦で、お年寄りや車いすの方でも安心してお参りができるかどうかも確認しましょう。<br><br>
                    ・宗旨・宗派の規定<br><br>
                    民営霊園や公営霊園の場合は、一部民間霊園を除き宗旨・宗派に制限はありません。寺院墓地の場
                    合には、同じ宗派の方か、他宗派の場合には、その宗派に改宗しなければ、原則としてその墓所は
                    購入できません。寺院墓地を検討する際は、自分の家の宗派を確認することが大切です。<br><br>
                    ・運営主体の信頼性<br><br>
                    墓地の運営は永続性の観点から、公共性の高い自治体や宗教法人が行っています。しかし、それぞ
                    れの墓地は、主に管理費で墓地を運営し、存続していきますので、将来、予算が足りなくなって充
                    分な管理がされなくなる場合もあります。ですから、墓地を求めるときは、その霊園の将来を見極
                    めて購入しましょう。また、お寺の場合は、法要などをその寺院に頼むようになるため、住職の人
                    となりが信頼できるかどうか充分に確認しましょう。<br><br>

                    <p class="category-mini-tittle">
                        《お墓を建てるときに掛かる費用とは》<br><br>
                    </p>

                    ・永代使用料（墓地使用料）<br><br>
                    お墓を建てるときに「墓地を買う」と言われる方が多いですが、正確には「墓地の永代使用権を買
                    う」ことで、土地そのものを買うわけではありません。永代使用料は申込時に一度のみ支払い、使
                    用権を継いだ場合には再度支払うことはありません。<br><br>
                    永代使用料は安価な順に、公営、民営、寺院と言われています。しかし、公営霊園は面積が２㎡や
                    ３㎡以上の大きな区画しかないことが多くそれなりの金額になるため、金額だけの比較ですと
                    、１㎡以下のコンパクトなサイズの区画が多い民営霊園の方が、安価になるケースもあります。
                    なお、永代使用料は非課税です。<br><br>
                    ・墓石費用<br><br>
                    墓石の費用は、墓石本体、工事費、彫刻代、消費税の総額です。墓石の価格は区画の大きさと石の
                    種類によりかなりの幅がありますので、石材店の担当者に自分たちの希望を伝え、必ず見積もりを
                    取りましょう。<br><br>
                    墓石に一番必要なことは耐久性です。硬度が高く、水を吸いにくい石を選ぶことをお勧めします。<br><br>
                    ・管理料<br><br>
                    墓地内の参道、水道、駐車場など、墓地の使用者が共同で使う施設の維持、管理に充てられます。
                    支払いは年間払いが多いです。<br><br>
                    管理料は滞納すると、使用権が取り消されることもありますので、忘れずに支払うようにしましょ
                    う。<br><br>


                    <p class="category-mini-tittle">
                        《ゆとり墓所や芝生墓所など墓所のタイプも様々》<br><br>
                    </p>

                    ・一般墓所<br><br>
                    隣の墓所との境界をはっきりとさせるために外柵と土台を作り、その上に石碑を建てる伝統的なお
                    墓のスタイル。面積の大きい墓所に多く見られる。<br><br>
                    ・ゆとり墓所（緑地付き墓所）<br><br>
                    左右の隣接する墓所との間に２０㎝程度の空間（ゆとり）を設け、ゆったりとした墓所を演出しま
                    す。面積の小さい墓所で取り入れられ、面積以上に広い墓所に感じられます。<br><br>
                    なお、空間部分に芝生や玉竜を植え、緑地付き墓所と呼ばれることもあります。<br><br>
                    ・芝生墓所<br><br>
                    欧風のお墓をイメージした墓所。土台を作らずに、芝生が敷かれた地面に直接石碑を建てるタイプ
                    の墓所です。<br><br>


                    <p class="category-mini-tittle">
                        《指定石材店制度とは？》<br><br>
                    </p>

                    民間墓地や寺院墓地で採用されているシステムで、墓石工事は墓地管理者が指定した石材店だけが
                    行えます。「石材店を自由に選べない」と思われますが、この制度は霊園・墓地の永続性や墓石の
                    保証という観点から、「素性のはっきりとした信頼のある石材店に限定する」という考えに基づい
                    ています。<br><br>
                    しかし、突然霊園に見学に行った場合、待機している石材店を順番で割り振られて紹介され、希望
                    する石材店で墓石工事ができないことがあります。墓石工事をお願いしたい石材店がある場合は、
                    あらかじめその石材店とコンタクトを取り、霊園見学を直接申し込むようにしましょう。<br><br>
                    寺院墓地の場合は、ご住職の許可が得られれば墓石工事ができるケースも稀にあります。公営霊園
                    では指定石材店制度はありませんので、どこの石材店でも墓石工事を行うことができます。<br><br>

                    <p class="category-mini-tittle">
                        《墓相って何？》<br><br>
                    </p>

                    私たちのまわりには、手相、家相、人相など「相」と付くもので命運を占う方法がありますが、そ
                    れと同様にお墓の向きや建て方、形、色などで、家族の運勢を見ようというのが「墓相」です。<br><br>
                    墓相学は紀元前の中国で発祥した風水地理学を源流としており、先祖をどの地に埋葬するか、墓の
                    向きをどうするかとった墓地環境が、家族や子孫の繁栄に大きな影響を与えることを知り得てきま
                    した。例えば、吉方向は、東向き、南向き、東南向き、凶方向は、西向き、北向き、西北向き。ま
                    た、青色、黒色、深紅色は凶相で、白色は吉相と言われています。<br><br>
                    しかし、仏教には「墓相」という記述はなく、「お墓の建て方はこうあるべきだ」といったような
                    教えはありません。「墓相」をどのように捉えていくのかは、手相、家相、人相などと同じように
                    、実際にお墓を建てるその人自身の考え方次第ということになるでしょう。<br><br>

                    <p class="category-mini-tittle">
                        《ペットと一緒に入れるお墓》<br><br>
                    </p>

                    ペットが亡くなった時、過去に自宅の庭に埋葬をしたという話を耳にしましたが、最近は住宅事情
                    も変わり、特に都市部では自宅の庭に埋葬することは現実的ではありません。ペットの遺骨をどこ
                    に埋葬すればよいのかわからず、そのまま自宅に安置する方や、ペット専用の合祀墓に埋葬するな
                    ど、希望通りの供養ができずに心の負担になっている方も多いと聞きます。<br><br>

                    そのような悩みを解決するために、最近ではペットと一緒にお墓に入れる霊園が増えてきています
                    。霊園内の全区画でペットと一緒に入れる霊園と、区画が限定されている霊園がありますので、詳
                    しくは石材店に相談してみましょう。<br><br>

                    <p class="category-mini-tittle">
                        《世界のお墓事情》<br><br>
                    </p>

                    ・アメリカのお墓<br><br>
                    かつては教会に併設された教会墓地に埋葬するのが一般的でしたが、現在では広大な敷地を持つメ
                    モリアルパークなどに埋葬されるケースが多くなっています。家族単位よりも個人単位でお墓を建
                    てることが多いです。また、最近では火葬の割合も高くなってきており、その割合は２５％を超え
                    ると言われています。<br><br>
                    ・ヨーロッパのお墓<br><br>
                    教会の敷地に埋葬する習わしが続いていたヨーロッパですが、１８０４年パリに庭園式霊園のペー
                    ル・ラシューズ墓地が開園したことにより、以降、霊園に埋葬する傾向が強くなってきています。
                    ヨーロッパではカソリックの国は土葬が主流ですが、プロテスタントの国では火葬が増えてきてい
                    ます。<br><br>
                    ・中国のお墓<br><br>
                    土葬の習慣があった中国ですが、最近では政府が火葬を推進しています。また、年間死亡者数が
                    ８００万人を超えるともいわれており、政府は散骨なども推奨し、土地や資源の節約を図ろうとも
                    しています。富裕層においては、墓地や殉教品を恒久化するケースも出てきているようです。<br><br>
                    ・韓国のお墓<br><br>
                    韓国では回りが芝生で覆われた土饅頭型のお墓が主流でしたが、火葬化が進み、石造りの墓や樹木
                    葬などが急速に広がりつつあるようです。特に、樹木葬は国民の半数近くが好むという統計が出て
                    います。<br><br>
                    ・イスラム教徒のお墓<br><br>
                    イスラム教徒の埋葬は、全て土葬で行われます。イスラム教では、死は一時的なものであり、アッ
                    ラーの審判の日に再び蘇ると信じられているからです。また、お墓や遺体の頭は、全て聖地メッカ
                    の方角に向いて埋葬されます。<br><br>
                    ・お墓のない文化<br><br>
                    インドやインドネシアのバリ島のヒンドゥー教では、火葬場で焼かれた遺灰を川に流す水葬。チベ
                    ットやインドのゾロアスター教徒は葬儀後に鳥に遺体を食べさせるという鳥葬などをおこなってい
                    ます。<br><br>
                </div><br><br>
            </div>

            <a href=""><button>お墓の種類一覧へ戻る</button></a>

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    墓所を決めてからやることは？
                </div>
            </div>
            <div class="content01-text03">

                <div class="container" style="background-color:#f3f3f3">


                    <p class="category-mini-tittle">
                        《墓石の形を決めよう》<br><br>
                    </p>

                    墓石の形は主に「和形墓石」、「洋型墓石」、「デザイン墓石」の3つのタイプがあります。墓石
                    の形や大きさは、霊園で定めてられている規則に反していなければ自由に決めることが可能ですが
                    、各霊園や石材店で用意されている規格の形を選ぶ方が多いようです。霊園によっては、洋型専用
                    区画など、制限を設けている場合もありますので、希望の墓石が建てられるか注意しましょう。<br><br>


                    <p class="category-mini-tittle">
                        《墓石の形 3タイプ》<br><br>
                    </p>
                    ・和型墓石<br><br>
                    石を３段に重ねた伝統的な縦長の墓石。彫刻には○○家の墓と家名を掘るのが一般的です。寺院墓地
                    では根強い人気があります。<br><br>
                    ・洋型墓石<br><br>
                    欧風の墓石を思わす横長の墓石。家名だけではなく、ありがとう、やすらぎ、絆などの好きな言葉
                    や、バラやユリなどのイラストを彫刻する方も多いです。スタイリッシュでモダンに見え、どっし
                    りとした安定感もあることから、一番多く建てられている墓石の形です。<br><br>
                    ・デザイン墓石<br><br>
                    和形墓石や洋型墓石のような規格の形ではなく、自分自身のイメージを形にしたオリジナルの墓石
                    。球状やピラミッド型の他、ギターや車など、趣味にちなんだ形をした墓石も。オリジナル墓石を
                    建てる場合は、各霊園の工事規則に反していないか調べ、石材店と細かな打ち合わせを重ねて進め
                    ていく必要があるため、規格の墓石よりも時間を要します。<br><br>


                    <p class="category-mini-tittle">
                        《石の種類を決めよう》<br><br>
                    </p>
                    現在墓石に使われている石の種類は300種以上あるといわれています。産地や色も様々ですが、最
                    近は中国やインドなど、海外で採れる石が多く使われています。<br><br>
                    カラフルできれいな石が数多くありますが、その石の耐久性や安定性は、一般の方にはなかなかわ
                    かりません。石を選ぶときは見栄えの良さだけで即決せず、長年の経験をもつ石材店に相談し、石
                    の特徴を確認するようにしましょう。<br><br>


                    <p class="category-mini-tittle">
                        《日本・世界各国の銘石》<br><br>
                    </p>
                    ・香川県産　庵治（あじ）石<br><br>
                    別名「墓石のダイヤモンド」。「斑（ふ）」と呼ばれるまだら模様が最大の特徴で、良質の原石は
                    数が少なく、まさに最高級の墓石です。非常に硬質で、加工には高度な技術と時間が必要とされま
                    す。<br><br>
                    ・神奈川県産　本小松（ほんこまつ）石<br><br>
                    箱根山の噴火の際に流れ出た溶岩が固まって出来た石。採掘時は茶褐色ですが、研磨をすると淡灰
                    緑色の独特な色と模様の石面になります。時の流れとともに趣のある色合いに変化し、その変わり
                    ゆく姿に「侘びと寂び」を感じる石として人気があります。<br><br>
                    ・茨城産　真壁小目（まかべこめ）石<br><br>
                    茨城県真壁町東部にある加波山の麓一帯で採掘されている、関東を代表する石の一つ。青味を帯び
                    たシンプルな石目で、墓石だけではなく、国会議事堂などの多くの歴史的建造物にも使用されてい
                    ます。<br><br>
                    ・インド産　クンナム石<br><br>

                    数あるインド産の黒御影石の中で最高級品。その名前はインドのクンナム地方で採れることに由来
                    します。クンナム石は変色、変質が無く非常に耐久性に優れており、古くから墓石材として使用さ
                    れています。<br><br>
                    ・南アフリカ産　インパラブルー石<br><br>
                    強い黒味の中に、はっきりとした粗目の石目が特徴。青い小さな結晶が混ざっており、太陽などの
                    光の角度によって結晶がキラキラと神秘的に輝きます。男女問わず多くの方に選ばれている人気の
                    高い石です。<br><br>
                    ・中国産　新八光（しんはっこう）石<br><br>
                    国内で最も使用されている石。薄い茶色味を帯びた粗目の石面で、主に外柵などの土台部分に使用
                    されています。中国産の石としては古くから使用実績があり、経年変化も少なく安定感が抜群に優
                    れている石の一つです。<br><br>


                    <p class="category-mini-tittle">
                        《公営霊園の墓石工事はどこに頼むのが一番？》<br><br>
                    </p>
                    都立霊園をはじめとする公営の霊園では、民営霊園のような指定石材店制度が無いため、自分達で
                    石材店を探して墓石工事をお願いしなければなりません。数多くある石材店の中から、お墓を建て
                    た後のアフターフォローのことも考えて、信頼できる石材店を選ぶ必要があります。<br><br>
                    ・石材店選びの3つのポイント<br><br>
                    1、 霊園の近くに店舗があるか？<br><br>
                    →お墓参りの時には生花や線香の購入ができ、埋葬や法要の申込みや墓石のメンテナンスも頼みや
                    すい。霊園近くに店舗があると、お墓を建てた後が安心。<br><br>
                    ２、その霊園における工事実績があるか？<br><br>
                    →実際に建っている墓石を見ることができ安心して墓石工事をお願いできる<br><br>
                    ３、図面や見積書がしっかりとしているか？<br><br>
                    →お墓は専門的で分からないからこそ、図面や石の産地加工代が漏れなく記載された見積書が必要<br><br>


                    <p class="category-mini-tittle">
                        《彫刻も様々》<br><br>
                    </p>
                    ありがとう、やすらぎ、絆、愛、笑顔、感謝、空、家族、希望、一期一会、翔、和、こころ、海、
                    これらは全て墓石に彫刻されている言葉です。最近のお墓は、家名や家紋だけではなく、好きな言
                    葉や花のイラストを彫刻し、ご家族の想いを彫刻で残す方が増えてきました。<br><br>
                    また、奥様のご両親と一緒にお墓に入る場合、両家の名前と家紋を彫る方もおり、彫刻も様変わり
                    しています。<br><br>
                    ただし、寺院墓地など一部の墓地では、彫刻の内容に制限がある場合がありますので、トラブルを
                    回避するためにも、彫刻前に必ず確認が必要です。<br><br>


                    <p class="category-mini-tittle">
                        《お墓を建てたときに執り行う法要とは》<br><br>
                    </p>
                    ・開眼法要（かいげんほうよう）<br><br>
                    お墓を建てたときに執り行う法要が開眼法要です。お墓は建てただけではただの「もの」に過ぎな
                    いとされていますが、開眼法要を執り行うことによって、仏様の魂が墓石に入り、ただの「もの」
                    から仏塔になります。つまり、開眼法要をすることによって、初めて手を合わせるにふさわしいお
                    墓に変わります。<br><br>
                    開眼法要はご納骨の時に納骨法要と一緒に執り行うのが一般的で、僧侶のほかにも親族などに参列
                    してもらいます。生前にお墓を購入した場合は、建ててからできるだけ早い時期に執り行うのが好
                    ましいとされています。<br><br>
                    日取りが決まりましたら、菩提寺のご住職に法要をお願いすることになりますが、菩提寺が遠方の
                    場合や、ご自身が長男でなく菩提寺が無いなどの理由で、法要をお願いするお坊さんがいない場合
                    は、お墓を建てた霊園の管理事務所や石材店に相談すれば寺院を紹介してもらえます。<br><br>
                    なお、開眼法要は地域により呼び名が異なり、開眼供養、入魂式、お魂入れ、お性根入れなどと呼
                    ばれることもあります。また、一般的に浄土真宗では開眼法要は行いません。<br><br>
                    ・開眼法要当日の流れ<br><br>
                    1、 墓所を掃除し、お線香、花、果物やお菓子などのお供え物、塩、酒、米を用意します。地域に
                    よっては晒を使う場合もあります。<br><br>
                    2、 墓前に僧侶をお呼びし、読経をあげてもらいます。埋葬と一緒に行う場合は、読経が終わり次
                    第ご遺骨を納めお墓の蓋を閉めます。<br><br>
                    3、 墓石に水を上げ、線香、花、果物、菓子を供えます。なお、お供え物は上げたままにしておく
                    と、鳥や野犬に食い散らかしてしまいますので、持ち帰るようにしましょう。<br><br>
                    4、 参列した方と会食をします。<br><br>
                    ※開眼法要当日は、お墓を建てた石材店が法要のお手伝いをしますので、必ず事前に石材店と打ち
                    合わせをしてください。<br><br>
                    ・仏壇も開眼法要<br><br>
                    身内が亡くなって満中陰（四十九日）を迎えるとき、これまでの白木の位牌を黒塗りの本位牌に代
                    えて仏壇に安置するようになるため、仏壇の無い家はそれまでに用意する必要があります。<br><br>
                    また、仏壇も開眼法要がありますので、新たに仏壇を用意した場合は、四十九日や百か日などの法
                    要時に、一緒に開眼法要もお願いしましょう。<br><br>


                    <p class="category-mini-tittle">
                        《埋葬時の必要書類は？》<br><br>
                    </p>
                    ・埋葬許可証<br><br>
                    埋葬する際に墓地管理者に提出する書類です。火葬の際、火葬場に提出した火葬許可証に、火葬が
                    終了した証明印が押されて返却されますが、それが埋葬許可証となります。埋葬許可証の返却は、
                    手渡しではなく骨壺と一緒に桐の箱に納められて返却されることがありますので、注意してくださ
                    い。<br><br>
                    ・永代使用許可証（墓地使用許可証）<br><br>
                    墓地を使用する権利を得ている証明書です。墓地の申し込み手続きが完了すると、墓地管理者から
                    発行されます。埋葬の際、管理事務所に埋葬許可証と一緒に提出します。<br><br>
                    ※埋葬の手続き方法は、墓所によって異なりますので、必ず事前に墓地管理者に確認をしてくださ
                    い。
                </div><br><br>


            </div>

            <a href=""><button>お墓の種類一覧へ戻る</button></a>


            <div class="content-text-most">
                <div class="content-title-box">
                    <div class="content02-little-box"></div>
                    <div class="content-title">
                        お墓参りの心得
                    </div>
                </div>

                <div class="container" style="background-color:#f3f3f3">


                    <p class="category-mini-tittle">
                        《お墓参りはいつ行く？》<br><br>
                    </p>
                    お墓を建てた後は、定期的にお参りに行きましょう。お彼岸やお盆の時期だけではなく、故人の誕
                    生日や命日、家族のライフイベントの報告など、思い出したときは気軽に行かれるとよいでしょう
                    。<br><br>
                    生前にお墓を建てた場合も、誰も入っていないからとそのままにせず、定期的にお墓に行き掃除を
                    してください。墓石に取り付いた砂やほこりの汚れを水拭きこまめに落とすだけで、石が風化を予
                    防でき、きれいな状態を長く維持できるようになります。<br><br>
                    お参りに行く際の服装は、きちんとした身支度で行きたいものですが、お墓を掃除するときに汚れ
                    ることもありますので注意しましょう。<br><br>
                    霊園に売店が無い場合は、生花や線香を買っていきます。墓石をふく雑巾も忘れないようにしまし
                    ょう。<br><br>


                    <p class="category-mini-tittle">
                        《お参りの作法》<br><br>
                    </p>
                    お墓についたら、まず、お墓の掃除をしましょう。掃除が終わったら、花立に水を入れお花を飾り
                    ます。次に用意した供物をお供えします。線香に火をつけてお参りをしますが、線香は束のまま火
                    をつけて、人数分に分けてお供えするのが一般的です。<br><br>
                    お参りの順番は、個人と縁の深い方からとなります。まず、はじめにお線香をお供えし、墓石に水
                    をかけます。水は「清浄なもの」の象徴で、水をかけることにより、ご先祖様の霊を清めるとされ
                    ています。<br><br>
                    そして、ご先祖様の眠る墓石に向かって合掌し、冥福を祈ります。墓石よりも体を低くするのが礼
                    儀正しい作法と言われており、しゃがんで合掌礼拝します。<br><br>
                    お参りが終わったら、お供えは鳥や猫などに荒らされないように持ち帰るようにします。また、古
                    くなったお塔婆は、本数が多くなると風に煽られ倒壊することがありますので、抜いて墓地の焼却
                    炉でお炊きあげをしてもらいましょう。<br><br>


                    <p class="category-mini-tittle">
                        《合掌の仕方》<br><br>
                    </p>
                    合掌はインド生まれの祈りの形で、二通りのやり方があります。一般的なのは、右手(仏様)と左手(
                    自分)の指と指をぴったりと合わせる方法で、仏と自分が合体し祈る心になるとしています。<br><br>
                    もう一つは、両手の指をそれぞれの間へ交互に組み合わせて合掌する方法で、十二合掌(密教)と言
                    われる方法です。<br><br>
                    また、お参りをするときは、数珠を手に合掌するのが作法です。数珠は仏教徒のシンボルだと言わ
                    れていますが、それ以上に、ご先祖様への功徳を何倍にもする力があるとされています。それゆえ
                    、数珠をもってお参りすることは、ご先祖様に対してより良い供養となることでしょう。<br><br>


                    <p class="category-mini-tittle">
                        《お墓のお掃除は定期的に》<br><br>
                    </p>
                    久しぶりにお墓参りに行くと、草が生え放題で墓石もホコリやシミが目立ち、よごれがひどいこと
                    があります。墓所から離れて暮らしていると、あまりお参りに行くことができず、お墓の汚れにつ
                    いて悩んでいる方も多いようです。<br><br>
                    多くの霊園では、管理料を毎年、あるいは複数年分まとめて支払うようになっています。管理料を
                    支払っているから、お墓の掃除は霊園や寺院がやるものだと考える方がおりますが、管理料は参道
                    や水道、管理棟など、墓地の所有者が共同で使用する設備や施設の維持、管理に充てる費用のため
                    、墓所内の清掃は自分自身で行う必要があります。<br><br>
                    なかなかお墓参りに行くことのできない方のために、有料で定期的に墓所内の清掃を行っている霊
                    園もあります。ご希望される方は、そのようなサービスがあるかどうか、霊園の管理事務所や墓石
                    を購入した石材店にご相談してみてください。<br><br>


                    <p class="category-mini-tittle">
                        《自分でできるお墓のお手入れ》<br><br>
                    </p>
                    ・墓石を洗うこと<br><br>
                    まずははじめに枯れた花、線香の燃えカスなどを取り除きます。墓石は、水を含んだスポンジかや
                    わらかい布で洗います。それでも汚れが取れない場合、たわしを使ってもかまいません。ただし、
                    彫刻部分や角は欠けやすいので、力を入れすぎないようにやさしく磨いてください。彫刻の掃除に
                    は歯ブラシを利用すると便利です。<br><br>
                    ・敷地内の草むしり<br><br>
                    草むしりのためには、小さな窯を持参すると便利です。玉砂利が敷いてある場合、砂利の間の草の
                    根っこが取りにくいのですが、鎌があれば簡単に取ることができます。<br><br>
                    敷地内に植木が植えてる場合、木が大きくならないようにせん定する必要があり、植木ばさみを持
                    参することをお勧めします。木が大きくなると、根っこが広がり石の柵を圧迫し、ひび割れや崩れ
                    の原因にもなるため、大きくなりすぎた場合は、石材店に相談し植木を処分することも検討しまし
                    ょう。<br><br>
                    草むしりをすると、墓石のまわりに敷いた玉砂利が土に沈んで見苦しくなってしまうことがありま
                    す。この場合、園芸用のシャベルで玉砂利を掘り起こして、目の粗いザルに入れ、洗ってから敷き
                    なおします。玉砂利の汚れがひどく水で洗っても落ちない場合は、石材店に頼んで交換すると見栄
                    えが良くなります。<br><br>


                    <p class="category-mini-tittle">
                        《お盆》<br><br>
                    </p>
                    ・お盆とは？<br><br>
                    「盂蘭盆会（うらぼんえ）」のことで略してお盆と言います。お盆の行事は『盂蘭盆経』に説かれ
                    ている目連尊者の話に由来します。目連はお釈迦様の弟子の中でも神通力が一番と言われていまし
                    た。ある時、目連はこの神通力を使って母親の死後の世界を見ます。すると、母親は餓鬼道に堕ち
                    て飢えと渇きに苦しんでいる姿を目にします。そこで目連はお釈迦様にどうしたら母親を救えるの
                    かたずねました。お釈迦さまは「お前は母親の生前、物惜しみして他人に布施をしなかった。代わ
                    りにお前が布施行をしなさい」と言われました。目連はお釈迦様の教えにしたがい、僧侶たちの夏
                    の修業期間のあける7月15日に多くの僧や貧困に苦しむ人たちに飲食物などを施しました。すると
                    、その功徳によって母親は極楽往生がとげられました。それ以来（旧暦）7月15日は、父母や先祖
                    に報恩感謝をささげ、供養する重要な日になったのです。<br><br>
                    現在、日本各地で行われているお盆の行事は、各地の風習や、宗派による違い（例・浄土真宗では
                    霊魂が返ってくるとは考えません）によって様々ですが、一般的に先祖の霊が家に帰ってくる期間
                    だとされています。<br><br>
                    ・迎え盆・送り盆<br><br>
                    13日の朝、ご先祖様の霊を迎える「精霊棚」をつくります。そして、13日の夕方から夜にかけて菩
                    提寺とお墓にお参りをし、先祖の霊を迎えます。これを「精霊迎え」ともいい、この時に霊が迷わ
                    ずに帰ってこられるように焚くのが「迎え火」です。<br><br>
                    16日の「送り盆」の日に、お盆の間一緒にすごした先祖の霊を送り出すのが「精霊送り」です。こ
                    の時には「送り火」を焚きます。<br><br>
                    なお、精霊棚はお供え物をする棚で、特に決まったまつり方はありません。むしろを敷き、その上
                    に供物や蓮の葉、故人の好きな花、旬のものなどを飾ります。<br><br>
                    ・棚経<br><br>
                    お盆の期間に菩提寺の僧侶が棚経にまわられますので、お布施を用意しておきます。また、遠方か
                    ら来ていただいた場合には、お車代もお渡しすることをお勧めします。<br><br>
                    ・新盆（あらぼん、にいぼん）<br><br>
                    故人の四十九日の忌明けの後、初めて迎えるお盆をいいます。四十九日よりも前にお盆を迎えた場
                    合には、その年ではなく翌年が新盆となります。新盆は普段のお盆よりも丁寧に営みます。<br><br>
                    ・新盆提灯・盆提灯<br><br>
                    地域により異なりますが、故人の霊が道に迷わず家に戻れるように、目印として提灯を灯します。
                    新盆には新盆提灯として白張りの提灯、そして親せきや縁者からのお供えには柄のついた提灯を用
                    いることが多いです。<br><br>


                    <p class="category-mini-tittle">
                        《お彼岸》<br><br>
                    </p>
                    ・お彼岸とは？<br><br>
                    お彼岸は「彼岸会（ひがんえ）」とも言い、春は3月20日頃の春分の日を挟んで前後3日ずつ、秋は
                    9月23日頃の秋分の日を挟んで前後3日間ずつのそれぞれ１週間のことをいいます。<br><br>
                    彼岸は向こう岸を意味する言葉で、迷いの多い此岸（この世）に対して、仏の理想の世界である向
                    こう岸、つまり悟りの世界や浄土のことを言います。日本では、その浄土に渡るために、善事を行
                    い、先祖に思いを馳せ、供養を行う期間を彼岸と言うようになりました。<br><br>
                    仏教には西方浄土といって、西に極楽があるという考えがあり、春分の日、秋分の日とも、真東か
                    ら出た太陽が、浄土があるとされる真西に沈む日であることから始まった日本独自の行事です。約
                    １２００年前に全国の国分寺の僧侶らが、春と秋の2回、7日間にわたり仏をたたえてお経をあげた
                    と伝えられています。それから次第に、一般人にもお彼岸が広まったとされます。仏教行事ですが
                    、インドや中国にはありません。お彼岸は、暑さ寒さも彼岸までというように、季節の変わり目を
                    実感させる、日本の四季のシンボル的存在でもあります。<br><br>
                    ・お彼岸の供養<br><br>
                    お彼岸は、仏教精神を生活の中で実践する日でもあります。仏教では、六波羅蜜といわれる６つの
                    徳目を実践して修行を成しとげれば、彼岸、つまり極楽浄土の悟りの世界に渡ることができると言
                    われています。<br><br>
                    6つの徳目<br><br>
                    1、 布施（ふせ）・・・・他人へ施しをすること<br>
                    2、 持戒（じかい）・・・戒律を守ること<br>
                    3、 忍辱（にんにく）・・不平不満を言わず耐え忍ぶこと<br>
                    4、 精進（しょうじん）・常に仏道を精進努力すること<br>
                    5、 禅定（ぜんじょう）・心を安定させること<br>
                    6、 智慧（ちえ）・・・・真実を見抜く力を働かせること<br><br>
                    ・お彼岸の過ごし方<br><br>
                    家庭では仏壇を掃除し、新しい花や季節のもの、おはぎ、彼岸団子などをお供えして供養をします
                    。家族そろってお墓参りにも行きましょう。特に子供をお墓参りに連れて行くことは、ご先祖様を
                    敬う気持ちを通して、人を大切にする気持ちを育てることにつながります。<br><br>
                    菩提寺で営まれる「彼岸会」にも参加しましょう。正式な法要に参加することは、供養の心を育て
                    るだけではなく、伝統的な仏教文化に触れる絶好の機会でもあります。時間が無い場合でも、本堂
                    のご本尊へのお参りとご住職へのあいさつは欠かさないようにしましょう。<br><br>


                    <p class="category-mini-tittle">
                        《卒塔婆》<br><br>
                    </p>
                    ・卒塔婆とは？<br><br>
                    お盆やお彼岸、納骨や年忌法要の時に、お墓の後ろに建てる１ｍから２ｍくらいの期の板のことで
                    す。<br><br>
                    卒塔婆には、墨で戒名とそれぞれの宗派の聖句、あるいは梵字などがかかれています。死者の供養
                    のために建てるものですが、浄土真宗のように卒塔婆を建てる習慣が無い宗派もあります。<br><br>
                    卒塔婆はもともと、古代インドの言葉でストゥーパという言葉を音訳したものです。ストゥーパと
                    は、仏塔とも訳され、お釈迦様の遺骨を納めた塔のことをいいます。お釈迦様が入滅すると、遺骨
                    が8つに分けられ、8つの国に遺骨を安置するための塔が建てられました。後には、お釈迦様だけで
                    はなく、高僧が亡くなってもストゥーパを建てるようになりました。<br><br>
                    ストゥーパはもともとお椀を伏せたようなかたちをしていましたが、時代をおって変化し、また、
                    仏教が中国を通って日本にくる間に、色々なかたちに変化しました。<br><br>
                    現在の卒塔婆は、お墓に石碑として建てられる五輪塔が元になっています。五輪塔も元をたどれば
                    ストゥーパで、仏教の世界観である、「空・風・火・水・地」の５つの要素が表現されてますが、
                    卒塔婆も同じような形をしております。<br><br>
                    ・卒塔婆はどうして建てる？<br><br>
                    卒塔婆は故人の供養のために建てられます。お墓は「○○家」と刻まれており、先祖代々の供養のた
                    めに建てられるものですが、卒塔婆には死者の戒名が書かれ、個人の供養のために建てられます。
                    卒塔婆は故人へのお手紙といわれることもあります。<br><br>

                    お盆やお彼岸、年回帰のとき、お寺から「卒塔婆を建てて供養しておきますよ」と言われることが
                    あります。また、用事があって法事に行けないときに、「卒塔婆を建てておいてください」と住職
                    に電話する人も多いようです。<br><br>
                    こうした時は、故人を供養する良い機会です。できるだけ卒塔婆供養をお願いした方をお勧めしま
                    す。また、その時には必ずお寺に供養料を納めてください。卒塔婆の大きさによって、供養料が決
                    められているお寺が多いようです。<br><br>
                    また、卒塔婆は法要のたびに建てるため、複数の古い卒塔婆がそのまま放置されている墓所があり
                    ます。塔婆立が倒壊することもあるため、墓地の管理者に相談し、古い卒塔婆は早めに処分しまし
                    ょう。<br><br>
                    ・施餓鬼会と卒塔婆供養<br><br>
                    お盆と共に夏の行事のひとつとなっているのが「施餓鬼会（せがきえ）」です。本来、この「施餓
                    鬼会」はお盆とは別の行事です。地域によって5月の連休中や、年忌、百ヶ日の法要などと合わせ
                    て行う場合もあるようですが、大半の地域ではお盆の期間に行われています。その際にも、卒塔婆
                    を建てて供養を行います。<br><br>
                    仏教でいう「餓鬼」とは、いつも飢えと渇きで苦しんでいる亡者のことです。「餓鬼」の世界はま
                    さに飢えの世界で植物があっても食べることのできない世界です。食べても喉がハリのように細く
                    なって飲み込むことができなかったり、食べようとして手にすると、その食物が燃え尽きてしまっ
                    たりします。このような「餓鬼」に飲食（おんじき）を施して救い出すのが施餓鬼です。<br><br>
                    自分の力でその苦しみから抜け出すことのできない餓鬼にとって、「施餓鬼会」が唯一の救いにな
                    るとされています。「施餓鬼会」の法要では、お寺に設けられた施餓鬼壇に「三界万霊」と書いた
                    位牌を安置し、檀家の人が持ち寄った米や野菜、果物、菓子などと一緒に卒塔婆を建てて法要を行
                    って亡者を供養し、その滅罪追福を祈ります。
                </div><br><br>



                <div class="content-title-box">
                    <div class="content02-little-box"></div>
                    <div class="content-title">
                        お墓と宗教
                    </div>
                </div>


                <div class="container" style="background-color:#f3f3f3">


                    <p class="category-mini-tittle">
                        《仏教と宗派について》<br><br>
                    </p>
                    ６世紀初め、唐や百済で隆盛を極めていた仏教が、最新の文化として日本に伝えられました。後、
                    聖徳太子が仏教の教えを政治の中心理念とし、日本に仏教の教えを浸透させ、平安時代の最澄・空
                    海の出現により、本格的に日本人の心をとらえました。鎌倉時代には、法然、親鸞、道元、栄西、
                    日蓮といった僧が民衆に仏教を広め、力強い信仰を集めるようになりました。彼らの説いた教えは
                    弟子たちによって広められましたが、その後、それぞれ宗派が形成されていきます。<br><br>
                    ・天台宗（平安時代）<br><br>
                    宗祖：最澄<br><br>
                    総本山：比叡山延暦寺<br><br>
                    ８０４年遣唐使として唐に留学し、帰国後「法華経」を基盤とした円（天台）と禅、戒、密教を学
                    び四宗融合させたものを日本に伝えました。比叡山に理論面、実践面を統合して体系を完成させた
                    「天台宗」の道場を開きました。法華経の教えを中心に、菩薩となるための菩薩戒を取り入れ、密
                    教、浄土教そして禅をも包括した総合的な教えを持つ宗派です。<br><br>

                    ・真言宗（平安時代）<br><br>
                    宗祖：空海<br><br>
                    本山：金剛峯寺、教王護国寺、智積院、長谷寺<br><br>
                    ８０４年遣唐使として唐に渡り、長安で青竜寺の恵果から密教を授けられ８０６年に帰国。京都高
                    雄山神護寺で布教活動を行い、８１６年高野山を賜り金剛峯寺を建立、８２３年東寺（教王護国寺
                    ）を賜り、この二寺を根本道場として開宗しました。歴史上の人物であるお釈迦様ではなく、時空
                    を超えた大日如来を教え主とする密教。「この身このまま仏になる」という即身成仏の信仰を持ち
                    ます。<br><br>
                    ・浄土宗（鎌倉時代）<br><br>
                    宗祖：法然<br><br>
                    総本山：知恩院<br><br>
                    １３歳で比叡山に入り、天台を学んだ後、中国僧善導の「観経疏」を読んで専修念仏の布教を開始
                    しました。大原問答によってその名声を高め、「選択本願念仏集」を書いて開宗しました。阿弥陀
                    如来の救いを信じ、「南無阿弥陀仏」と唱えていると、身も体も清らかになって、死後は極楽浄土
                    に生まれて仏様になることができると教えます。<br><br>
                    ・浄土真宗（鎌倉時代）<br><br>
                    宗祖：親鸞<br><br>
                    本山：東本願寺、西本願寺など<br><br>
                    ９歳で比叡山に入り２０年間修行し、２９歳のときに法然の門に入り、専修念仏の布教を行いまし
                    た。布教が禁止され越後に流されましたが、許された後は主に関東地方で布教活動を再開しました
                    。念仏で往生を願うだけで、それどころか念仏を唱えようという気持ちが起きただけで、みなが救
                    われるということが説かれています。<br><br>
                    ・時宗（鎌倉時代）<br><br>
                    宗祖：一遍<br><br>
                    総本山：清浄光寺<br><br>
                    １０歳で浄土宗西山派の門に入り、南無阿弥陀仏を唱えて全国を遊行し、空也上人の踊念仏を受け
                    継ぎました。信仰の有無にかかわらず、全ての人々は一辺が唱えた念仏によって、阿弥陀仏に救わ
                    れると説かれています。<br><br>
                    ・臨済宗（鎌倉時代）<br><br>
                    宗祖：臨済義玄<br><br>
                    総本山：妙心寺、建仁寺、建長寺、円覚寺など<br><br>
                    菩提達磨によって中国に伝えられた禅宗が、臨済義玄によって深められて臨済宗となりました。日
                    本には栄西によってもたらされましたが、その後、次々と渡来僧が中国から訪れてたくさんの寺院
                    が開山しています。<br><br>
                    ・曹洞宗（鎌倉時代）<br><br>
                    開祖：道元<br><br>
                    両大本山：永平寺、総持寺<br><br>
                    比叡山で学びましたが、その後宋に渡って曹洞禅を学び、宇治に興聖寺を創建、１２４４年には永
                    平寺を開山しました。「正法眼蔵」を著し、日本曹洞宗の布教活動を開始しました。<br><br>
                    ・日蓮宗（鎌倉時代）<br><br>
                    宗祖：日蓮<br><br>
                    本山：身延山久遠寺<br><br>
                    １６歳で出家し、比叡山をはじめ各地で修業し、布教をはじめました。辻説法などを行いますが、
                    鎌倉幕府の怒りを買い、何度も流罪となりました。<br><br>


                    <p class="category-mini-tittle">
                        《神道》<br><br>
                    </p>
                    神道は自然や自然現象に八百万の神を見出す、日本固有の一神教でない民族宗教といわれています
                    。神道は、一般的には明確な経典や教義が無く、その根幹にあるのは、神羅万象や祖霊、死者など
                    への畏敬の念であるといわれています。<br><br>
                    神道は仏教と違い、１～３年後以降は亡くなった方の命日から数えてぴったり５年後、１０年後に
                    追善法要である霊祭（みたままつり）が行われます。一般的には５０年祭まで続けられます。<br><br>
                    神社は、神道の神々を祭神としていますが、全国の神社の多くは神社本庁が統括しています。一般
                    的には現在、初詣や厄除、初宮参りや七五三、結婚式や地鎮祭など、神道の行事は日常生活のいた
                    るところに見かけることができます。<br><br>


                    <p class="category-mini-tittle">
                        《キリスト教》<br><br>
                    </p>
                    キリスト教は、旧約聖書（３９巻）と新約聖書（２７巻）の２部の書物を合わせて「聖書」として
                    います。旧約聖書は紀元前１５００年頃から紀元前４００年頃の間にヘブル語で、新約聖書は紀元
                    ４０年頃から紀元９０年頃の一般的にはギリシャ語で書かれています。<br><br>
                    原罪キリスト教の教会には、カトリックとプロテスタントなどがあります。カトリックとプロテス
                    タントの信じる神は全く同じ共通の神ですが、それぞれに特徴があります。<br><br>
                    ・カトリック<br><br>
                    カトリックは、聖ペトロの後継者であるローマ教皇を中心とした信者の集まりになります。また、
                    聖書があって、教会が聖書を解釈することになります。<br><br>
                    聖職者は一般的に神父と呼ばれており、生涯独身で一生を司牧に捧げ全うします。信徒の離婚や避
                    妊、中絶は禁じられていますが、適度の飲酒や喫煙は禁じられていません。<br><br>
                    ・プロテスタント<br><br>
                    プロテスタントにとって教会とは、人間の作ったものであると捉えられており、教皇や教会の権威
                    は認めていません。聖書の解釈に関しては、個人の良心に委ねられています。ミサや告解など教会
                    の決まり事もありません。<br><br>
                    教会の代表は、牧師と呼ばれていますが、その地位は信徒と同様であり、結婚もできます。また、
                    信徒の離婚や避妊、中絶は容認していますが、飲酒や喫煙は概して禁止されています。
                </div><br><br>

                <div class="content-title-box">
                    <div class="content02-little-box"></div>
                    <div class="content-title">
                        お墓のメンテナンス
                    </div>
                </div>

                <div class="container" style="background-color:#f3f3f3">




                    <br>どんなに頑丈に作られたお墓でも、時間の経過とともに墓石に傷がつき、風雨の浸食で風化が生じてしまいます。地震や地盤沈下も影響し、墓石の破損の原因は数えればきりがありません。破損の状況がひどい時は石材店に相談し、お墓のリフォームを行うことをお勧めします。
                    <br>
                    <br>
                    <p class="category-mini-tittle">
                        《主な墓石のリフォーム内容》
                    </p>
                    <br>・石碑の傾きを直す
                    <br>・汚れてしまった玉砂利の交換
                    <br>・外柵、カロートの作り替え
                    <br>・墓石の接合部分の目地補修
                    <br>・石碑の建て替え
                    <br>
                    <br>お墓を長持ちさせるために、雑巾やたわしなどで丹念に汚れを落とし、乾いた布で余計な水分を拭き取っておきましょう。濡れっぱなしのままにしておくと、苔が生えて劣化の原因になります。
                </div><br><br>


                <div class="content-title-box">
                    <div class="content02-little-box"></div>
                    <div class="content-title">
                        お墓の引っ越し/墓じまい
                    </div>
                </div>



                <div class="container" style="background-color:#f3f3f3">
                    <br>既に埋葬されているご遺骨を別の墓地に移すことを、専門的には「改葬（かいそう）」と言います。改葬はわかりやすく「お墓の引っ越し」とも言われ、最近ではご遺骨を引き上げたお墓を解体することから、「墓じまい」と言われるようになりました。
                    <br>改葬を行うには、改葬元となる現墓地が所在する市町村役場に申請し、「改葬許可証」の交付を受ける必要があります。
                    <br>
                    <br>
                    <p class="category-mini-tittle">
                        《改葬する主な理由》
                    </p>
                    <br>・お墓が遠くお参りに不便
                    <br>・故郷のお墓を見るものがいなくなった
                    <br>・複数のお墓を一つにしたい
                    <br>・お墓の維持が大変
                    <br>
                    <br>
                    <p class="category-mini-tittle">
                        《改葬の一般的な手続き》
                    </p>
                    <br>１、現在ご遺骨が埋葬されている墓地が所在する市町村役場に行き「改葬許可申請書」を入手する
                    <br>２、ご遺骨の移転先となる墓地の管理者から「受入証明書」を発行してもらう
                    <br>現在ご遺骨が埋葬されている墓地の管理者から「埋葬証明書」を発行してもらう
                    <br>市町村役場に受入証明書と埋葬証明書を添付して申請をし「改葬許可証」を交付してもらう
                    <br>現墓地の管理者に改葬許可証を見せご遺骨を取り出し、その墓所を誰も使わない場合は墓所を解体撤去して更地に戻す
                    <br>移転先の墓地管理者に改葬許可証を提出し埋葬する
                    <br>
                    <br>※「改葬許可証」の申請方法は、各市町村により異なる場合があります。必ず事前に申請する市町村役場に確認をしてください。
                    <br>
                    <br>
                    <p class="category-mini-tittle">
                        《改葬時に起こりえる問題点》
                    </p>
                    <br>・親戚などから反対されてしまった
                    <br>・埋葬されているご遺骨の数が多い
                    <br>・現墓地が遠方のため改葬許可証の申請ができない
                    <br>・ご遺骨の運搬が難しい
                    <br>・現墓地の解体費用がわからない
                </div><br><br>
            </div>
        </div>
    </main>
</section>

{% endblock %}