{% extends 'layout.html' %}
{% set page = {
    "css": [],
    "title": ""
} %}
{% set lists = [
  ["/mypage_troubles", "重要度チェック"],
  ["/mypage_trouble-detail", "問題点詳細"],
  ["/mypage_trouble-check", "お悩みチェック"],
  ["/mypage_status-modal", "ステータス確認モーダル"],
  ["/mypage_status", "ステータス確認"],
  ["/mypage_notifications", "お知らせ"],
  ["/mypage_legacyinfo", "相続予定財産情報"],
  ["/mypage_diagnosis", "マイページ診断"]
] %}
{% block content %}

<section class="box-wrapper">
  <div class="box-inner">
    <ul>
      {% for url, title in lists %}
      <li style="display:block;margin:10px 0;"><a href="{{url}}.html">{{title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}