{% extends 'layout.html' %} {% set page = { "css": ["sougi"], "js": ["sougi"],
"title": "葬儀について | " } %} {% set breadcrumb_list = [ { "url": "/", "text":
"ホーム" }, { "url": "", "text": "葬儀について" } ] %} {% block content %}

<section class="box-wrapper">
    <div class="box-inner">
        {% include '_breadcrumb.html' %}
    </div>

    <!-- <div class="top-image-and-local-nav"> -->
    <div class="top-image">
        <img src="/images/top/bana_sougi.jpg" alt="" />
    </div>
    <!-- </header> -->

    <main>
        <div class="local-nav">
            <div class="local-nav-content01">
                <div class="local-nav-content01-title">














                    <div class="accordion">
                        <ul>
                            <li>
                                <a class="toggle">
                                    <p class="accordion_icon"><span></span><span></span></p>
                                    <h5>カテゴリから記事を探す</h5>
                                </a>
                                <a href="">
                                    <div class="local-nav-content01-01">
                                        <p>税務</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="toggle">
                                    <p class="accordion_icon"><span></span><span></span></p>
                                    <h5>葬儀についての記事</h5>
                                </a>
                                <p>アコーディオンの文章が入ります。</p>
                            </li>
                        </ul>
                    </div>














                    <div class="head-bar01">
                        カテゴリから記事を探す
                        <a class="menu-btn01">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="sp-menu01">
                    <li>
                        <a href="">
                            <div class="local-nav-content01-01">
                                <p>税務</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-02">
                                <p>法務</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-03">
                                <p>不動産</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-04">
                                <p>ファイナンシャルプラン</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-05">
                                <p>介護施設</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-06">
                                <p>介護タクシー</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-07">
                                <p>葬儀</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-08">
                                <p>お墓</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-09">
                                <p>仏具・位牌</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-10">
                                <p>遺品整理</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-11">
                                <p>遺骨でつくるダイヤモンド</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content01-12">
                                <p>樹木葬・海洋散骨</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="local-nav-content02">
                <div class="local-nav-content02-title">
                    <div class="head-bar02">
                        葬儀についての記事
                        <a class="menu-btn02">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="sp-menu02">
                    <li>
                        <a href="">
                            <div class="local-nav-content02-01">
                                <p>葬儀の種類</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-02">
                                <p>葬儀当日までにすること</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-03">
                                <p>葬儀社の選び方</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-04">
                                <p>葬儀について</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-05">
                                <p>葬儀が終わったら</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-06">
                                <p>葬儀後の手続き</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-07">
                                <p>葬儀後の給付金制度</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="local-nav-content02-08">
                                <p>葬儀の豆知識・各種作法等</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="local-nav-content03">
                <div class="local-nav-content03-title">
                    <div class="head-bar03">
                        よく読まれている記事
                        <a class="menu-btn03">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="sp-menu03">
                    <li>
                        <img src="http://via.placeholder.com/250x200" alt="" style="margin-top: 20px;">
                        <a href="">
                            <div class="local-nav-content03-01">
                                <p>○●○●○について解説！</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/250x200" alt="" style="margin-top: 20px;">
                        <a href="">
                            <div class="local-nav-content03-02">
                                <p>○●○●○について解説！</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/250x200" alt="" style="margin-top: 20px;">
                        <a href="">
                            <div class="local-nav-content03-03">
                                <p>○●○●○について解説！</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-image02">
            <img src="/images/top/bana_sougi.jpg" alt="" />
        </div>
        <div class="content">
            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    そもそもなぜお葬式をするか
                </div>
            </div>
            <div class="content01-text01" style="clear: both;">
                人は誰もが人生の最期の時を迎え、お別れの時がやってきます。そんな時、周りの家族や近しい親族、友人達、今までお世話になった方々が別れがやってきたことを理解して、送り出すために、お葬式を開きます。<br />
                お葬式にはどのような意味があるのでしょう。<br />
                お葬式のことを葬儀と呼んだりお葬式と読んだりします。葬儀には亡くなった人を弔ったり偲ぶための宗教的な意味があるとされております。また、お葬式を開いて葬儀場に会葬にきた関係のあった方々が、祭壇に飾られた故人の遺影を目にして、仏式の場合焼香をしたり、手を合わせたりと儀式に沿った作法を行うことにより、ああこの人とここでお別れの時が来たのだなと理解します。そんな周りの家族や友人、近くに住んでいた近所の人や仕事関係の方々が心の中で、故人とのお別れの時がやってきたと理解して、区切りをつける意味合いも含まれております。<br />
            </div>
            <div class="content01-circle">
                <img src="/images/top/souzoku_1.png" alt="" width="24%" />
                <img src="/images/top/souzoku_2.png" alt="" width="24%" />
                <img src="/images/top/souzoku_3.png" alt="" width="24%" />
                <img src="/images/top/souzoku_4.png" alt="" width="24%" />
                <img src="/images/top/souzoku_5.png" alt="" width="24%" />
                <img src="/images/top/souzoku_6.png" alt="" width="24%" />
                <img src="/images/top/souzoku_7.png" alt="" width="24%" />
                <img src="/images/top/souzoku_8.png" alt="" width="24%" />
            </div>

            <div class="content01-image">
                <img src="/images/top/sec08-02-01.png" alt="" width="100%" />
            </div>

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    末後の水
                </div>
            </div>
            ご臨終の後最初にすることは末後（まつご）の水です。末後の水にはあの世でのどの渇きに困らないように故人の唇を潤す習わしです。または死に水とも呼びます。<br />
            作法としてはお茶碗に水を入れて、箸などの先にガーゼや布、脱脂綿などに水をしみこませて故人の口元に優しくあてます。<br />
            順序は故人との関係が近しい方から行います。<br />
            この儀式は葬儀社の納棺の儀式の際にあらためて行うことがあります。その際に最近ではお酒が好きだった方はビールや好きだったお酒を水の代わりに使うこともあります。<br />

            <a href=""><button>葬儀の種類一覧へ戻る</button></a>
            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    エンゼルケア
                </div>
            </div>
            病院にてご逝去された場合は、医院にもよりますが、清拭や着替えを行います。また脱脂綿を詰めたりして衛生処置も行われます。最近では浴衣や仏衣を着るのではなく気に入っていた洋服を着る方もいます。その際は硬直が始まる前の逝去した当日などに着せ替える必要があります。<br />
            納棺の際に浴衣や仏衣を着た上から書けるようにしてお棺の中に入れる方もいます。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    エンゼルメイク
                </div>
            </div>
            女性の場合は死化粧としてメイクをする方もいます。その際は親族の女性の方が普段使っていた化粧品を使ってお化粧をしてあげることもありますし、葬儀社のメイクスタッフの方に生前の写真やイメージを伝えて生前のイメージに合わせてお化粧を進めるといいでしょう。男性の場合はひげを整えたり、爪を切ったり薄化粧を施すことも最近では多く見られます。また、病気などが理由で生前のお元気だったころに比べ顔がやせてしまっているときは含み綿と言ってお顔をふっくらさせることもあります。

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    葬儀を受注するまでの流れ(動画あり)
                </div>
            </div>
            一般的に最期の時を迎える場所はいくつかに分かれます。病院で逝去された場合は、医師が死亡確認をし、死亡診断書という公文書が発行されます。また、自宅で逝去された場合はかかりつけ医がいる場合に限り、故人が持病で亡くなり担当医から２４時間以内に診察・治療を受けているときは、かかりつけ医が看取っていない場合でも死亡診断書を交付してもらえます。かかりつけ医がいない場合は死亡診断書ではなく死体検案書を交付できる警察署に連絡します。救急車を呼んだとしても遺体搬送は救急車は行えないため、警察が来ることになります。<br />
            警察が自宅にくる場合は無理に遺体を動かさないようにしましょう。<br />
            警察は事件性がないことを確認しに来ますので、できるだけそのままの状態で警察の聴取をうけるのが望ましいです。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    死亡届を提出する
                </div>
            </div>
            その後、死亡診断書または死体検案書を自治体に提出をし、火葬許可証を発行してもらいます。この火葬許可証がないと、葬儀をした後の火葬や埋葬をすることができないため、必ず行わないといけない手続きです。<br />
            死亡診断書や死体検案書を受け取ってから自治体に7日以内に提出をしないといけないため、この手続きは早急に行う必要があります。<br />
            一般的に家族のものが死亡届の提出を行うと思われがちですが、火葬場の予約は葬儀社が行うことがほとんどのため、葬儀社の担当者が死亡届を預かり、自治体に提出を代行し、火葬許可証を火葬場に提出しているのが一般的な流れになります。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    安置する場所を決定して搬送をする
                </div>
            </div>
            逝去した場所が、自宅以外の病院の霊安室や介護施設・警察などだった場合、安置する場所を決める必要があります。安置をする場所の候補は自宅・葬儀式場・火葬場の安置室・葬儀社の安置室があります。<br />
            その目的地まで病院などの各施設からご遺体を搬送しないとなりません。<br />
            そのために葬儀社が決まっていても決まっていなくても、葬儀業者に搬送を依頼する必要があります。<br />
            各施設には何日もそのまま安置はできないため施設の方より早めの搬送を促されます。各施設にはほとんどの場合、近くの葬儀会社や提携している葬儀社がありそこを進められるため、その葬儀社が知っている葬儀会社か、またインターネットなどで検索しみたことのある葬儀社なのか、信頼できる業者なのかをしっかりと判断する必要があります。<br />
            また、生前より葬儀の事前相談や事前の見積もりを取っていた葬儀会社があり、そこに決めている場合は、施設より勧められた搬送業者をお断りして、お願いすることが決まっている葬儀会社にお迎えに来ていただくほうがいいでしょう。<br />
            もし、依頼する葬儀業者の葬儀プラン料に施設から安置場所への搬送料が含まれていた場合、施設から紹介された搬送業者に別に搬送料を支払ってしまうと損をする場合もあるためです。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    安置をする場所に枕飾りを用意する
                </div>
            </div>
            枕飾りとは通夜までの間に親族の方がお線香をあげたり、手を合わせられるように簡易的な仏具を風習や宗派によって定められたきまりに沿って用意をします。<br />
            仏式の場合多くは、枕飾りを設置した後に枕経というお経をお坊さんに呼んでもらうのが、昔からの習わしとなっております。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    仏式の枕飾り（写真・イラスト挿入）
                </div>
            </div>
            仏式の場合はお線香をあげられる香炉を１つ置き、線香立てを香炉の左に置き、お線香に火をつけるための燭台を一つまたは一対用意します。宗派にもよりますが、リンを置き、ごはん・団子・水を用意します。ごはんには２本の箸を上から刺して立てます。<br />
            また枕花としてお花も用意します。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    神式（写真・イラスト挿入）
                </div>
            </div>
            神道の場合、八足という神道の儀式で使う机を用意します。そして三方と呼ばれる神饌（＝しんせん　神に供える酒や食）をのせます。ろうそくをすることは仏式と同じですが、枕花の代わりに、花瓶に榊を飾ります。地域により異なりますが三方の中には決まった並べ方で水・米・塩・酒を並べます。<br />
            これの他に故人の普段の食事や好みのものを並べる常饌と呼ばれる供え物をすることもあります。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    キリスト教（写真・イラスト挿入）
                </div>
            </div>
            キリスト教には枕飾りという習慣はありませんが、日本では仏式や神式の枕飾りがあることからその代わりに十字架・花（白い色のもの）・聖書・燭台・食事（水・パン）を白い布をかけた小さなテーブルに用意することがあります。<br />
            <p>
                一般的に枕飾りの費用は葬儀社の葬儀プランに含まれていることもありますが、プランとは別になっており、別途精算が必要な葬儀社もあります。
            </p>

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    葬儀の打ち合わせをする
                </div>
            </div>
            枕飾りの設置が終わったら葬儀社と葬儀の打ち合わせを始めます。その際、葬儀全体での予算を葬儀社に伝えるようにしましょう。葬儀プランだけ予算で選んでしまうと、会葬者によって変わってくる返礼品や仕出し料理などの飲食接待費やお寺のお布施などについても、葬儀社以外にかかる費用もありますので、全体的な予算感を大切にして打ち合わせを進めるといいでしょう。また、事前に葬儀社と事前相談をしていたり、見積書があった場合はそれを元にして打合せを行います。事前相談を行った時に会員になっていた際、割引制度など案内されていた場合はその割引が現時点でも適用されるかなども確認するといいでしょう。<br />
            また、希望する葬儀形式がどんな形式なのか、またその形式を選んだ場合どのようなメリットデメリットがあるかも気にする必要があります。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    菩提寺がある場合
                </div>
            </div>
            先祖代々必ず入るお墓がありそこを管理しているお寺などがあればそこが菩提寺になりその寺の檀家になっていることが多いです。<br />
            基本的に葬儀の読経のお勤めは枕経から始まり四十九日以降の法要まで、そしてその先の法要までその菩提寺の住職または僧侶の方が行うことになるため故人がお亡くなりになり葬儀の打ち合わせを始める前にまず最初に菩提寺に連絡を入れる必要があります。<br />
            菩提寺の連絡先や名前がわからない場合は親戚の方に聞くか仏壇の引き出しなどに寺の封筒などが入っていることがありますので、そのように調べて連絡するようにしましょう。また、菩提寺がいる場合は一日葬・火葬式・無宗教など今までの風習とは違う葬儀の形式を選ぶ場合必ず菩提寺の住職の理解を得ることが大切です。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    葬儀社の選び方
                </div>
            </div>

            大手の葬儀社<br />
            地域で何店舗も葬儀会館を持っていたり<br />
            上場しているところやブランド力のあるところ、地域で一社独占のようなところは規模が大きいため、人件費や運営費がかさむため値段が高いことが多い<br />
            しかし、ここで葬式をあげたというステータスとして感じられることもあります。<br />
            また、規模が大きいほど多くの方が利用しているため、安心感もあります。<br />

            地元に古くからある葬儀社<br />
            地域で老舗の葬儀社は実際に近所の近くで施工実績を積み重ねており、地域の風習や式場の勝手などが、分かっており失敗がないことが安心と言えます。<br />
            何より大手の葬儀社ができる前から地域の何代の前の皆様がお住まいの地域の方々もしくはもしかするとあなたのご先祖様も葬儀の手伝いをしていたとも言える老舗の葬儀社は営業年数の実績が長いほど失敗もなく信用を積み重ねてきたからこそ、今も地元で営業しているというケースが多いです。<br />
            料金はネット葬儀社に比べ安すぎず、大手葬儀社に比べて高すぎないことが特徴<br />
            安心感や信頼感で老舗葬儀社を選ばれるのは良いかもしれません<br />

            格安コールセンター型、大手企業のお葬式<br />
            運営会社は全国規模で展開しているが、実際にはその会社が施工するのではなく、各エリアごとに提携している小規模な葬儀社や個人事業主と契約をし、決められたマニュアルで提携した加盟店が葬儀を行うため、どのような人が働いているかわからず、品質がバラバラになるためそこが不安材料になります。<br />
            最大のメリットは価格が圧倒的に安いため会葬者が少ない葬儀など価格を重視する方には向いているいます。<br />

            互助会の葬儀社<br />
            互助会とは正式名称を冠婚葬祭互助会と呼び、冠婚葬祭のサービスを提供する組織です。<br />
            互助会では冠婚葬祭のサービス代金を前もって分割払いをする仕組みになっています。満期が来る前でも追加料金を払えば冠婚葬祭を行うこともできます。<br />
            一般的に掛け金は１カ月１口３，０００円から５，０００円程度で１０年単位の長い期間で払い込んでいきます。この掛け金は預金ではなくサービス代金の前払いなので利息は付きません。<br />
            注意しなければいけないのは互助会に加入していて積み立て金だけでお葬式ができると考えている方も中にはいるため注意が必要です。<br />
            前述の通り葬儀には様々な費用が掛かるため掛け金の積立金だけで葬儀全体の費用を賄えるわけではありません。また、加入を検討する場合は加入するプランでお葬式のどの部分の費用をカバーできるのか、また自分の希望するお葬式のタイプはどれくらい積立金のほかに追加料金が必要になるのかを確認することが大切です。<br />
            この積立の掛け金はサービスの利用券を前払いで購入しているシステムなので解約する場合は解約の手数料が発生するため、基本的に積み立てたお金が全額戻ることはないという点に注意が必要です。もし互助会以外の葬儀社がいいと思った場合は葬儀社によっては会員になると互助会の解約手数料を一定額まで実質負担してくれる葬儀社もありますので、そういったこともひとつの手段とも言えます。<br />
            もしすでに互助会に入っているのであれば、エンディングノートに書いて家族に伝えておくとよいでしょう。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    火葬だけを行う場合(直葬・火葬式)
                </div>
            </div>
            <div class="content02-text01" style="clear: both;">
                お葬式を開かずに火葬だけを行うことを直葬または火葬式と呼びます。葬儀をしないため葬儀式場を借りませんので、直接火葬場へ行きご火葬をする形式なので直葬と言われる所以でもあります。名前の呼び方から、病院などから直接家に帰らずにすぐにその日に火葬場に行って火葬をすると想像されている方も多いかと思いますが、実際には亡くなった直後に死亡診断書または死体検案書が発行されて、その日のうちに火葬許可証を発行できたとしても、日本では法律で死後24時間を経過しないと火葬及び埋葬ができないと法律で定められているためすぐにその日に火葬をすることはできません。よって、直葬・火葬式を選ばれた方でも、一旦ご自宅に安置したり、自宅に帰れない方は葬儀社の安置場または火葬場の安置室に預かり安置をしてもらい死後24時間以降の火葬場で予約を取れた火葬日時まで、安置をすることとなります。<br />
                その場合、面会ができる施設とできない施設があるため、火葬日までにお別れができなくなってしまうのが気になる方は、必ず預かり安置をするところが面会ができるか事前に確認しておくことが大切です。<br />
                火葬式のメリットはお葬式を行わないため費用を格段に抑えられるところがメリットとされています。また、実際の所要時間は1日の内の半日程度で済むため、お立ち合いになられる方のスケジュールの負担も減らすことができます。<br />
                しかし、デメリットもありそれは親族の方が供養をしっかりできなかったと思う場合もあるところです。例えば、故人の方側の親族の方のお住まいの地域ではしっかりとお葬式を上げることが通例になっている場合や昔ながらの風習を重んじる考えの場合、火葬だけする葬儀に呼ばれて立ち合いをして驚いてしまうかたも少なからずいらっしゃいます。お葬式とは先述で記した通り、周りの方々が供養をする場でもありますので、お葬式という儀式をやらずに直接火葬場に来てしまうと周りの方々が供養をしっかりできていないと感じてしまうこともデメリットの一つと言われております。<br />
                しかし、故人の周りの方々が高齢の方が多かったり、会葬にいらっしゃる方がほとんどおらず、ごく近しいご親族のみの場合や故人の意向で葬儀はしなくていいと言われていた場合などは直葬や火葬式を選ばれることが良い場合もあります。<br />
            </div>

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    お葬式を1日で行う場合(一日葬)
                </div>
            </div>
            お葬式は本来2日間にわたり行うものでしたが、近年より1日で葬儀をあげる1日葬が増えてきました。ワンデー葬とも呼びます。実は、1日葬をみかけるようになったきっかけは前述にありました、火葬のみ行う直葬・火葬式の供養をしっかり行えないデメリットを補うために1日葬を行うようになったためです。<br />
            火葬式の火葬時間の前に1時間だけ、どこかの葬儀会場(または自宅)を借りて小さな祭壇を飾り、お葬式や無宗教形式でお別れをする時間を行うようになりました。<br />
            それが1日葬の始まりです。風習にそった2日間にわたるお葬式を開くまでは考えていないが、火葬だけして見送るのも心許ないと考える方に適した葬儀形式です。<br />
            1日葬のメリットは遺影を設置し祭壇を飾り周りの方々が手を合わしたり出棺前にお花を棺に入れたりとお別れの時間をゆっくり取れるため、直葬や火葬式にくらべ供養の時間をしっかりと取れるところです。<br />
            デメリットととしては、火葬式に比べ式場を借りるための費用や祭壇を設置したりするため様々な費用が直葬・火葬式に比べかかってしまうところです。<br />
            また、親族の方の中には葬儀を本来の習わし通りに2日間行わないことに違和感を覚える方もいらっしゃって親族間で、なぜ2日間で行わないのかという声が上がる場合もあります。お墓が寺院墓地にあり、葬儀を行う際はその寺の住職にお勤めを依頼する場合についても、2日間にわたって葬儀を行わないとならないなど、住職の承諾も取った上で1日葬形式を取ることをお勧めします。<br />
            なお、1日葬は家族だけで行うことが多く見られます。理由としては、火葬の前の時間に1日葬を行うため、時間帯が日中になるので、親族以外の一般関係の会葬者が時間帯が理由で会葬しにくいこともあり、火葬場まで火葬の立ち会いができる親族の方のみで行うことが多いからです。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    お葬式を家族だけで2日間にわたり行う場合(家族葬)
                </div>
            </div>
            家族葬の場合は、今までの風習通り2日間にわたり葬儀を行いますが、会葬に呼ぶ方を家族の方に絞って葬儀をとり行います。故人や喪主の方が本来ですと友人、会社関係の方を葬儀に呼ぶことが予想される場合は葬儀をとり行う際に訃報で家族葬で執り行う旨を伝えるか、葬儀後に家族葬で葬儀を行ったことの報告を友人や会社関係の方に伝えるようにします。<br />
            家族葬というものに定義はなく、家族だけで葬儀を行うことが多くなった近年で、葬儀社が『家族葬プラン』などと商品を出したり、新聞雑誌マスコミ等がその傾向を取り上げることが要因で『家族葬』という言葉が浸透しました。<br />
            しかし実際には家族葬として葬儀を行っても訃報を耳にした友人や会社関係の方々が弔問に来てしまうこともあります。<br />
            その場合葬儀式場のキャパシティが家族で人数が一杯の場合、会葬にきてしまった一般の会葬者の方々を会場の外で待たせてしまうこともあります。<br />
            葬儀な、周りの方々がお別れの時を理解するための儀式であり、お焼香をしたり手を合わせたいという周りの方の弔う場所を作る目的がありますので、もし一般の会葬者がいる場合は遠慮をせずに呼ぶことも一つの考え方かもしれません。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    お葬式に一般の会葬者(友人、会社関係)を呼ぶ場合
                </div>
            </div>
            お葬式に友人や、会社関係の会葬者も呼ぶ場合気にしなければいけないことは、葬儀にいったいどれくらいの人が来るかを把握することです。故人の関係者や家族の関係先で、葬儀の知らせをする時に、各グループや会社の代表者に連絡をしてそのグループで会葬にくる予想人数を聞くのがいいでしょう。家族だけでの葬儀でも同じことですが、葬儀を行う場所にも配慮が必要です。<br />
            最寄駅から徒歩やタクシーでどれくらいで葬儀場に来れるかなど交通アクセスが良いかどうかも考える必要あります。<br />
            また、体の不自由な方や高齢者の方で車椅子やストレッチャーなどで介護タクシーで来る方がいる場合はその配慮も必要です。<br />
            バリアフリーになっている葬儀式場を選ぶのも良いでしょう。<br />
            会葬の方が葬儀後の会食をするときの仕出し料理もどんなものがいいか考える必要があります。大皿での仕出し料理のためぴったりと人数分用意する必要はありませんが、返礼品と同じく少し余裕を持って発注しておくことが大切です。
            <br />
            葬儀の返礼品について<br />
            葬儀や法事の際に香典などを受けとった際に御礼品を用意しなければなりません。また、会社関係の関係者などから葬儀が終わった後に香典が書留で届いたりしますので、そちらも御礼品を用意しなければなりません。<br />
            返礼品にはあと返しといって葬儀をませた後に品物をお送りする方法がと即日返しといって葬儀の際にお香典に対して御礼の品を準備しておきお返しするものです。<br />
            あと返しの場合は、葬儀に来られた方に会葬御礼として１０００円ほどのお清め塩とお茶と会葬礼状をつけたものを配り、後程香典の額に対してデパートに行って返礼品を買って送ります。最近ではセブンイレブンなどのコンビニでもあと返しのギフトを注文できます。あと返しの商品としてもらった人が好きなものを選べるカタログギフトなども人気です。あと返しは満中陰志と言って四十九日法要（満中陰）を無事に済ませたことの報告を兼ねて送るものでもあります。<br />
            あと返しの金額の相場は地域などにもよりますが、もらった香典の半額を返す半返しにする方が多いです。しかし、地域などにもよりますが、葬儀後にあと返しの品を選びに行く負担があったりと、最近では２千円から３千円ほどの即日返しの品を葬儀の時にそ場で返してしまう即日返しが増えてきています。<br />
            それぞれにメリットがあり、あと返しにはお香典の額に合わせてそれぞれの品を選べたり、４９日法要を済ませたことを来られない方々に報告ができて丁寧な対応がとれたりしますし、葬儀の際に参列者の手荷物にならないのがメリットです。<br />
            即日返しのメリットは選ぶ商品にもよりますが、あと返しより費用が割安なことと、後程あと返しの商品を選ばなくていいという喪主の負担を減らせることがメリットです。しかし即日返しといってもあまりにも過分に香典を受け取った先には即日返しを当日に渡したうえで、後程いただいた額の半額をあと返しとして送ることが常識とされています。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    葬儀打ち合わせで葬儀形式が決まったら葬儀の日までに様々なものを準備します。
                </div>
            </div>
            葬儀までに必要なものは、宗派などにもよりますが<br />
            喪服<br />
            数珠<br />
            お布施の袋<br />
            心付の袋<br />
            お棺に入れるもの<br />
            が必要になるかとおもいます。<br />
            喪服は最近では洋装がほとんどです。喪服でタブーとされているのは女性の場合光物のアクセサリーは結婚指輪以外はつけないのが常識です。また、毛皮など動物の皮製品は殺傷を意味するのでタブーとされています。メイクはナチュラルに、髪型もシンプルなものが好ましいでしょう。<br />
            男性については金の腕時計などきらびやかな装飾品は避けなければなりません。<br />
            数珠とは『念珠』や『寿珠』とも言われ、本来は108個の珠で構成されています。この数は煩悩の数を表しており人間の煩悩を数珠が引き受けてくれるとも言われています。しかし現在では数に制限はなくさまざまな珠の数の数珠があります。そのような数珠は片手数珠と呼ばれたり一輪数珠とも呼ばれております。また、数珠の大きさで珠が大きいものを男性用、珠の小さいものを女性用として一般的に使われております。よく数珠の貸し借りをしているのを目にしますが、数珠にはその人の念がうつりこむといわれており人に貸したりするのは縁起が悪いと言われております。数珠は唯一の個人が持つ仏具でもあるのです。<br />
            一方で念仏を唱えるごとに珠を数えながら念仏を唱えた数を数える道具とも言われます。数珠の素材は木製であったり、天然石・真珠・プラスチック製の物やガラスのものもあります。<br />
            <br />
            お布施の袋はお経を読んでお勤めを頂く僧侶の方にお布施を包むために必要です。どんな袋に包むか決まりはありませんが、お布施を包む封筒が市販されております。最も多いタイプは水引が付いていない無地の封筒にお布施と書かれた物がよく見受けられます。その下に○○家と書くことが多いです。<br />
            お布施の中に包む金額の相場は寺院によって違いますし、どの法事に向けたものかによっても違ってきます。一番確かめるのにいい方法は親戚の誰かが以前に葬儀の際どれくらい包んだかを聞くのも良いでしょう。初めてお勤めを依頼する場合は寺院の僧侶にいくらぐらい包むか直接聞くのも良いでしょう。<br />
            心づけの袋★<br />
            お棺に入れるものは故人との思い出の品や好きだったものを入れます。写真や手紙本などを入れる方もいます。しかし、燃えないものや杖や釣竿でカーボン製のものは棺の中に入れられません。エンディングノートに棺の中に入れて欲しいものを書いている方もいらっしゃいます。<br />
            お棺に入れるものは思い出のものでもありますので、なくなってしまって困るものや持っていたいものは故人の形見として、大切に持っているのもよいでしょう。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    訃報の通知について
                </div>
            </div>
            葬儀の規模によって訃報の通知方法が変わってきます。ケースごとにご説明します。<br />
            家族葬の場合<br />
            家族葬の場合は家族以外の誰を呼ぶのかを確認しておき、その呼ぶ方には家族葬で葬儀を行うためその旨を伝えておく必要があります。良かれと思って周りの方に周知してしまって料理や返礼品などが足りなくなってしまうこともあるためです。<br />
            <br />
            一般葬の場合<br />
            家族以外の方も葬儀に呼ぶ場合<br />
            近所への回覧や友人会社関係者などにも伝えます。なるべく通知がいきわたるように、ファックスや電話連絡で各代表の方に伝えて周りに周知を広げてもらうようにするといいでしょう。<br />
            最近ではSNSなどで訃報を送れるシステムを導入している葬儀社もあります。また、PDFデータなどで訃報を葬儀社より受け取り、メールなどで通知をすることもあります。<br />
            その際にたくさんの方面からお悔やみのご連絡が来ることも予想されるので、自宅の連絡先を記載するか場合に応じて考慮が必要です。<br />
            <br />
            社葬・合同葬・団体葬<br />
            開催費用・運営責任を追う「施主」を企業や団体がつとめ遺族が喪主をつとめるような場合は訃報も社会的に幅広く流す必要があるため施主の担当者に任せご親族は親族関係や友人関係の連絡を主に行うといいでしょう。<br />
            <br />
            忌中紙について<br />
            忌中紙とは玄関に貼る「忌中」と書かれた紙です。昔の映画などでお葬式のシーンで目にした方もいらっしゃるかもしれませんし、親族の誰かがやらないのかといわれる方もいらっしゃうかもしれません。<br />
            しかし現在ではこのような葬儀で家を開けることを明確に玄関先にはり出すことは空き巣などの犯罪に巻き込まれやすいためほとんど見られなくなりました。<br />
            また、前述にあったような訃報をどこからか入手して訃報には葬儀が行われる式場の情報が書かれていますのでその式場に連絡をして喪主の住所を聞き出し、葬儀の日程中に空き巣に入る犯罪もあるため、このような葬儀の際の情報開示にはとても気を付けなければいけない側面もあります。
            ・葬儀当日までに納棺の儀を行います。<br />
            納棺は家族や身内の方々で行っていましたが、最近では葬儀社スタッフや納棺師が行う場合が多いです。納棺の作法は地域や宗派によって大きな違いがあります。納棺の際に故人を清めるという意味できれいにして棺の中に納めます。宗派によって風習に沿った仏衣などを身に着けて仏式だと仏衣を身にまとい、編み笠や草履・三途の川の渡し賃ともいわれる六文銭を持たせたりします。<br />
            最近では生前好きだったものや気に入っていた品を仏衣などの宗派ごとの身に着けるものを棺に入れた後に一緒に入れることも多いです。また、祭壇などにお供えしていたごはんやお団子を一緒に納棺して出棺することが多いです。<br />
            また、その際に使っていた茶碗は故人が家にはもう帰れないことを知らせるために家に入る前に玄関先で割ってしまうことが習わしとされています。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    通夜の日
                </div>
            </div>
            通夜の日に自宅で安置をしていた場合や葬儀社の安置所などから葬儀式場に棺を移送します。自宅に安置していても棺が入らなくてまだ納棺をしていない場合はストレッチャーで葬儀式場に移送し、葬儀式場にて納棺を行います。その場合通常より早めに家を出ることになります。<br />
            そして全国的に多い時間帯は１８時から１９時に通夜の式を執り行います。近しいご遺族の方々は先に式場入りして、あとから集まる親戚に挨拶をしたり、お経をあげてくれるお寺の僧侶の方を接待したりします。お香典などを受け取る受付を開くのは大体式の１時間から１時間半前になり、家族葬の場合は受付を設けなかったり、少し血縁の離れた親戚に受付を頼んだりします。式が始まり一般的なタイムスケジュールは以下の通りです。<br />
            １８：００開式・ナレーションや式進行の案内 １８：１０読経・お焼香<br />
            １９：００閉式・喪主挨拶（出棺時に挨拶をする場合も）<br />
            一般の会葬者の方は通夜振る舞いを焼香の後に受けます。<br />
            基本的に大皿料理で、寿司桶やお煮しめなどが一般的です。<br />
            閉式後、親族の方々も会食をします。（宗派によってお清めと呼んだりなおらいと呼んだりします。）<br />
            お通夜には故人との最後に過ごす夜を夜を徹して家族が寄り添うという意味が込められております。もともと昔は故人が亡くなったかを見極める意味もあったとされています。もしかすると生き返るかもしれないという周りの人たちの期待もありこのような時間が用意されていたともいわれております。<br />
            よく通夜の際は線香を絶やさずに寝ずの番（夜とぎ）をしなければならないと耳にしますが、最近では葬儀式場の防火上の理由から火を一晩中灯すことが禁止されていることもあったりと寝ずの番が減っているのも現状です。しかし、巻線香と言って蚊取り線香のような形状をした長い時間燃焼する線香利用し、ろうそくではなく巻き線香を代わりにする家もあります。なぜ線香を絶やさない方がいいといわれているのでしょうか。その理由は線香の煙はこの世とあの世をつなぐ架け橋のようなものと考えられているからです。その考えから四十九日までは線香の火を絶やさないようにしようということをよく耳にするわけです。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    告別式
                </div>
            </div>
            告別式とよく耳にしますが、「葬儀」と「告別式」を混合している方も多いかと思います。仏式で葬儀とは故人が仏の弟子入りをしてその際戒律（かいりつ）を授けて、浄土へ向かっていくいう意味があります。告別式とは故人と関係のあった家族や周りの友人や関係者がお別れの時を過ごすための最後の時間としての儀式とされています。<br />
            お別れのための式典ということですね。<br />
            また、一日葬でお葬式をすることになりますので、告別式だけを行うと考える方も多いようです。
            告別式の流れは一般的には出棺の前1時間ほどの時間で告別式を行います。<br />
            例えば仏式で12時台の火葬炉の予約を取っている一例ですと 10時受付開始<br />
            11時告別式　開式 11時～11時40分　読経<br />
            11時40分～11時50分　棺にお花入れをしたり、お別れのお時間を取る<br />
            11時50分～喪主　出棺の挨拶 12時00分火葬場に向け出棺<br />
            という流れが一般的です。地域によっては先に火葬を行い骨葬をする地域もあります。<br />
            その場合は火葬を行った後にお葬式を行います。<br />
            また、地域や寺院によって違いはありますが、初七日の法要を
            告別式の際の読経に組み込んで式中に初七日の読経を一緒にする場合もあります。<br />
            読経が終わった後は、棺の蓋を開けて最後のお別れの時間を過ごします。<br />
            花祭壇を飾っている場合は花祭壇の生花を摘んで棺にお花入れを行ったり、故人の好きだった食べ物やお気に入りの服を入れたりします。<br />
            火葬場によっては棺の蓋を開けてのお別れはここが最後になることもあるためお顔に触れられるのはこの場面になります。<br />
            棺へのお花入れやお別れをして棺の蓋を閉めましたら、出棺する前に喪主の挨拶をします。ここでは、会葬来てくれた会葬者へのお礼の言葉や、故人のエピソードや思い出を語ることが多いです。挨拶の最後に、残された家族と故人の生前と変わらぬご指導ご鞭撻のほどよろしくお願いしますとお話になられる方が多いです。<br />
            出棺の際仮位牌を喪主が持ち遺影を次に親しい親族の方に持ってもらいます。お寺の僧侶に続いて位牌をもった喪主、次に遺影を持った親族、近しい男性の方々で持ち上げられた棺の順に霊柩車に向かいます。棺が霊柩車に安置されましたら喪主は霊柩車に乗車します。他の火葬場に同行をする親族の方などはマイクロバスに乗車して火葬場へ向かいます。最近ではマイクロバスを借りるほど親族に人数がいない場合は、自家用車を出してりタクシーを呼んだりしまして、霊柩車につづいて火葬場へ行くパターンも増えております。<br />
            霊柩車は最近では木製の彫刻で飾られた白木の宮型霊柩車は少なくなってきており、近隣の住民の方への配慮などで洋型の霊柩車を使用しているところが増えてきております。<br />
            <br />
            告別式での挨拶例<br />
            ・出棺の挨拶例①<br />
            「本日はお忙しい中、ご会葬いただきまして誠にありがとうございました。このように大勢の方々にお見送りいただき感謝にたえません。遺された私ども、故人の遺志に沿い、一生懸命努めてまいる所存でございます。今後とも故人同様、宜しくご指導ご鞭撻のほど賜りますようお願い申し上げて、ご挨拶にかえさせていただきます。」<br />
            <br />
            ・出棺の挨拶例②<br />
            「本日はお忙しいところ、故○○のためにご参列いただきまして誠にありがとうございました。あらためて○○が生前中、たくさんの方々に支えらええていたことを痛感し、その幸せを、今悲しみと同じようにかみしめております。遺された私どもも、これから頑張ってまいります。○○の生前中同様のご親交、またご指導をいただきますようお願い申し上げます。」<br />
            <br />
            ・火葬場へ到着してから<br />
            火葬場へ到着しましたらそのまま火葬炉に向かいます。火葬場には火葬業に従事したスタッフの方々がいますが、その方々や霊柩車を運転した人たちに気持ちとして心付を渡すこともあります。事前に葬儀社のスタッフの方に心づけを渡しておいて、火葬場のスタッフや霊柩車の運転手にかわりに渡してもらうこともよくあることです。立ち合いをしたご親族は火葬炉の前で最後のお別れをしたあと集骨までの時間を火葬場の控え室で過ごします。火葬場によっては、収骨を待つ間食事を取るところもありますし、お茶菓子とお茶を飲んだりして待つことがあります。<br />
            <br />
            ・収骨(骨上げ・拾骨) <br />
            火葬がとりおこなわれたあと、収骨をする場所へ移動して立ち合いをしている人たちでご遺骨を囲みます。立ち会う人が皆で箸を持って、一つのお骨を2人で箸で挟んでお骨壺に入れていきます。普段の生活では縁起が悪いとされていますが、このときは一つのお骨を2人で箸で掴みます。この箸ですが、二本のうち一本は竹、もう一本は白木で作られており、このように日常とは違うことをすることにより、故人が亡くなったことに気付くようにする今があるとされています。お亡くなりになって家に帰る際家に帰るとき玄関から入らず庭から入ったり、逆さ水といって湯灌のお湯を水を先に入れて次にお湯を入れるなど、日常とは違うことをする風習と同じような意味があります。<br />
            お骨を近しい順から1組ごとに挟んでお骨壺に入れていきます。これをはしわたしと呼び、あの世への橋渡しを意味すると言われております。<br />
            故人が眼鏡をしていた場合は、棺に入れてしまうと燃えないため、棺に入れることはできません、なのでこのタイミングでお骨と一緒に入れることもあります。<br />
            また、眼鏡を入れてしまうと取り出せないため、ご家族の方が形見で持ち帰ることもあります。<br />
            この時に火葬許可証が埋葬許可書として火葬場から発行されるので、納骨の際に必ず必要になる大切な書類のため、なくさないように保管しましょう。<br />
            収骨が終わると葬儀式場にもどります。<br />
            <br />
            ・初七日法要<br />
            最近では本来亡くなってから7日目に行う法要である初七日法要を繰り上げ法要としてお葬式に組み込むことが多くなっております。実際には葬儀の日取りなどもありますし、ちょうど7日目に法要を行うのが難しいこともありこのような形式を取る方が多くみられます。<br />
            組み込む場合には告別式の読経の後に式中に、初七日の読経を行う方法や、収骨をした後に葬儀式場に戻ってから初七日の法要をして、精進落とし料理をたべて会食をするという方法もあります。法要が終わると２日間にわたる葬儀スケジュールが終わります。<br />
            <br />
            ・精進落とし（繰り上げ初七日法要）の席での挨拶例<br />
            「本日は亡き○○の葬儀に、たいへんお世話になりまして、ありがとうございました。皆様
            のお力添えにより、無事に葬儀を終えることができました。ささやかではございますが、精
            進落としの膳をご用意いたしましたので、しばらくの間、おくつろぎいただければと存じま
            す。本日は、ありがとうございました。」<br />
            <br />
            ・献杯の挨拶<br />
            「故人の冥福を祈って献杯。」<br />
            ※ここで献杯の挨拶をされるかたと故人の間であった思い出やお人柄をお話になられる方が
            多いです。<br />
            <br />
            ・お帰りの時の挨拶<br />
            「まだまだ皆様のお話など、承りたく存じますが、そろそろお時間となりました。遺りまし
            た家族一同、頑張っていきたいと思います。本日はどうもありがとうございました。」<br />
            <br />
            挨拶するときの注意点<br />
            遺族からの挨拶は故人に代わってお世話になった方々にお礼を述べるという気持ちが大切で
            す。故人の経歴などにはあまり触れず、ご会葬いただいたお礼を、簡単に述べましょう。<br />
            ポイントとしては会葬者に対するお礼・故人との関係や間柄・故人との思い出・遺族の心境
            と心構えについてお話になられるとよいでしょう。<br />
            <br />
            ここで葬儀の進め方にあたって葬儀全体の流れをおさらいして<br />
            ご葬家が行うことと葬儀社が行うことの一覧をまとめさせていただきます。<br />
            【葬儀内容のお打合せ時】<br />
            ご葬家が行うこと<br />
            ・医師から死亡診断書の受け取り<br />
            ・喪主の決定 ・お写真の用意 ・会葬者数の予測<br />
            ・日時、場所（自宅または式場）の決定 葬儀社が行うこと
            ・葬儀費用の見積もり<br />
            ・役所への死亡届提出代行 ・火葬場への火葬許可証の届け出 ・各種葬儀手配<br />
            ・霊柩車と火葬場の手配 【葬儀までの準備】 ご葬家が行うこと<br />
            ・親戚、町内会への連絡 ・友人、勤務先への連絡<br />
            ・各係の依頼（受付・交通・案内など）<br />
            ・納棺の際にお入れになられる品の用意（故人の愛用品など）
            葬儀社が行うこと<br />
            ・納棺 ・祭壇、会場設営 ・返礼品の確認 ・お清め料理の確認<br />
            ・葬家及び各担当係との打ち合わせと確認 【お通夜】 ご葬家が行うこと<br />
            ・各係の確認（受付・交通・案内など）<br />
            ・弔辞・弔電の確認（読み上げる場合は順番を決める）<br />
            ・供え物の並び順をきめる（生花や供物） 葬儀社が行うこと<br />
            ・各係との打ち合わせ ・導師との打ち合わせ ・式進行 ・会葬御礼状の確認<br />
            【葬儀・告別式】<br />
            ご葬家が行うこと<br />
            ・各係の確認（受付・交通・案内など）<br />
            葬儀社が行うこと<br />
            ・火葬場に行く人数と車両の確認 ・精進落とし料理の確認<br />
            ・式進行 ・出棺 【火葬】 ご葬家が行うこと ・お別れ ・火葬の立ち合い<br />
            ・ご収骨 葬儀社が行うこと ・火葬場での案内 ・控室での飲食用意<br />
            【繰り上げ初七日法要】<br />
            ご葬家がおこなうこと<br />
            ・ご遺骨安置<br />
            ・繰り上げ初七日法要 ・お礼の挨拶 ・精進落とし（献杯） 葬儀社が行うこと<br />
            ・初七日法要の準備 ・お清め準備 ・法要後の食事の準備<br />
            <br />
            ・仏式以外の葬儀はどんな形式なんでしょうか。 神式の葬儀について<br />
            神式では逝去後、末期の水→お清め→死化粧→死装束と儀式を行います。自宅に戻ると神棚
            封じとして表に忌中札を張ります。安置する場合は北枕か、部屋の上位に安置します。<br />
            お顔は顔あてをします。納棺の儀では故人に好んだ食べ物をお供えする「柩前日供」をしま
            す。神式の場合は通夜を通夜祭とよび仏教で位牌にあたるものを霊璽（れいじ）と呼びます
            。霊璽に霊を移す遷霊祭をします。<br />
            神式では葬儀を葬場祭と呼び、斎主に神職を招いて執り行います。斎主入場後、葬場→棺→
            供物→祭員→参列者の順にお祓いをします。その後祭祀を奏上します。祭祀では故人の生い
            立ち功績などを述べます。その次に誄歌の奏上をした後、弔辞・弔電の読みあげ、遺族の玉
            串奉奠をします。そして供物を下げた後斎主が退場します。一般会葬者の玉串奉奠は葬場祭
            後の告別式で行われます。この玉串奉奠は仏式の焼香にあたるものです。<br />
            キリスト教の葬儀について<br />
            キリスト教では臨終に司祭が立ち合います。これをカトリックで「塗油の秘跡」プロテスタ
            ントでは「聖餐式」と呼びます。<br />
            仏式の通夜がプロテスタントでは前夜祭と呼びます。カトリックでは通夜というようなもの
            はありませんが、プロテスタントにならって「通夜の儀」などとよんで通夜のようなものを
            行うことが多いです。どちらも聖歌・讃美歌の合唱、聖書朗読、神父又は牧師の言葉祈り、
            献花といった順序で式が進んでいきます。<br />
            カトリックではミサ聖祭式（安息のミサ）、追悼説教、聖歌合唱、聖水のそそぎ、散香、聖
            歌合唱、弔電・弔辞の紹介、式辞朗読の順番で式を進行します。プロテスタントは聖書朗読
            、讃美歌合唱、聖書朗読、黙とう、讃美歌合唱、弔電・弔辞紹介、式辞朗読といった順序で
            式が進行します。どちらも最後に参列者が献花を行います。教会によって式の内容がことな
            りますので、その教会の指示に従うようにします。<br />
            葬儀後の法要や位牌、仏具について ・初七日法要について<br />
            初七日法要とは仏教で追善法要と呼ばれるものであり、故人が三途の川にたどり着き、無事
            に三途の川を渡り切れるよう祈る意味があるとされております。<br />
            葬儀と別日に本来風習にならって別で行う場合は僧侶がお骨を安置した祭壇に読経をします
            。お寺の僧侶の方から説話を聞いたりします。身内でやることが多いと思いますのでお電話
            などで出欠を取って催すのがいいでしょう。<br />
            ちなみにここまでに手を合わせたりしていた位牌は白木でできた白木位牌です。葬儀から初
            七日法要では白木位牌に直接僧侶の方が戒名や法名をかいたり、半紙に書かれた戒名や本名
            を張り付けたりします。初七日を過ぎると今度は四十九日の法要までに漆塗りなどの装飾が
            施されている本位牌を用意する必要があります。四十九日法要で今までの仮位牌から本位牌
            に僧侶に魂入れをしてもらうのです。その本位牌がご自宅にある仏壇に安置される位牌とな
            るのです。<br />
            仮位牌に書かれている戒名や法名、命日、享年の年月日俗名などを間違いがないように位牌
            を扱う業者に白木の仮位牌を直接見せて本位牌に掘る戒名などの情報を確実に伝えるように
            しましょう。<br />
            新しくつくる本位牌は納品まで数週間かかる場合もあるので、早めに本位牌を作るようにし
            たほうがいいでしょう。<br />
            本位牌の種類<br />
            本位牌の位牌に使用される材料で代表的なものは檜・シナ・ベニマツなどの木材を使用しま
            す。この木材を成形したものに塗りを施して行きます。そして金装飾を施していきます。<br />
            古くからこの塗に使用していた素材は天然の漆を利用していました。<br />
            最近では漆に近いカシュー塗料材だったり、ウレタン塗料材を利用するタイプの塗り位牌も
            あります。<br />
            塗り位牌とは別の種類で唐木位牌というものもあります。これは黒檀や紫檀などの
            木材の色が美しく木目もきれいな素材を使った位牌のことです。<br />
            唐木と呼ぶのは唐の国（中国）から輸入されていたことから由来しています。<br />
            漆塗りの塗り位牌とは異なり木目が直接表から確認出来てとてもきれいな木目と色の位牌で
            す。<br />
            唐木位牌に使われる黒檀は名のごとくとても美しい黒色をしており、インドネシアやスリラ
            ンカなどの原産のものが多く木のダイヤモンドとも呼ばれています。<br />
            紫檀はベトナム・タイ・ラオスが原産です。色は赤茶がかった色味があります。<br />
            鉄刀木といわれる唐木も人気で東南アジアや中米、アフリカ、西インド諸島などでとれる木
            材があります。とても固く木目の美しさにとても人気があります。<br />
            また、唐木位牌にはそのほかに屋久杉・黄王壇・楓・黒柿・花梨・欅といった素材を使う位
            牌もあります。<br />
            最近ではモダン位牌といい、従来の素材を使わずにクリスタルや樹脂、陶器性のものなども
            あります。また、木材を木材以外の素材と組み合わせ、寄木細工のような位牌もあります。
            最近では位牌は様々なデザインがあり、カラーもたくさんあります。特に無宗教で葬儀をあ
            げた方などは、戒名を持ちませんので、生前に使っていた名前（俗名）を位牌に入れて、モ
            ダンタイプの位牌を購入される方も多いです。<br />
            こういったモダン位牌はモダン仏壇や、カウンターなどにおける手元供養タイプのデザイン
            性のある仏壇と一緒に安置することが多いです。<br />
            自宅での供養の仕方にも多種多様性が現れてきているのが最近のトレンドとなっています。
            最近ではマンションや都市部にすむ方には大きな仏壇を家の中に置くのが難しいためモダン
            タイプのコンパクトな小さなサイズの仏壇や位牌が多く販売されております。小さいサイズ
            の位牌は安いものも多いので人気の理由ともなっています。<br />

            <div class="content-title-box">
                <div class="content01-little-box"></div>
                <div class="content-title">
                    過去帳とは
                </div>
            </div>
            位牌と一緒に過去帳のこともご説明いたします。過去帳とは過去帖とも書きますが、先祖代
            々の俗名（生前に使っていた名前）と戒名が記されている仏具の一種です。<br />
            これを見ると自分が生まれる前のあったことのないご先祖を知ることができるようになって
            います。過去帳は基本的に仏壇の中におかれていることが多く、本のような形状をしている
            ことが多いです。大体仏壇の引き出しの中などにあることが多いでしょう。しかし、仏壇や
            仏具とセットになっているわけではなくない場合もありますので、仏壇を購入する際は過去
            帳も欲しいことを業者に伝えるといいでしょう。この過去帳ができた経緯としては、依然日
            本では仏教を信仰することが推奨されており、必ず菩提寺をつくり、そこの檀家になって先
            祖代々の墓をそこに持つことが義務付けられていました。そして檀家ごとにその檀家の家族
            構成やいつだれが亡くなっていつ生まれたかという記録をつけるためにできたものが過去帳
            の始まりとされています。今でいうところの戸籍のようなものとして長い間使われてきまし
            た。先祖代々から付き合いのある菩提寺には過去帳が保管されていますので、もし、自分の
            家のルーツを知りたいと思った方は菩提寺に過去帳があるか確かめてみるのもいいかもしれ
            ません。しかし、現在に至るまでに火事や地震等の天災また、戦争や戦も何度かあった中で
            過去帳が必ず保管されているは寺によってわからないのも現状です。家系図を作ってみたい
            時などに役に立つこともあります。しかし、寺院にある過去帳をみせてもらうのは現在では
            個人情報の兼ね合いから他の檀家の情報も載っているものを直接見ることはなかなかできず
            、自分の家の情報を他の紙に書き写してもらい確認することになることも少なからずありま
            す。もし家に過去帳がなかった場合は寺院に確認してみるのもよいでしょう。<br />
            キリスト教の場合はどうでしょう。キリスト教には信徒籍台帳または信徒記録票というもの
            が存在します。これはキリスト教の信徒がここの教会に通っていることを記録するものです
            。これは教会側が作成しているものなので、もし家がキリスト教の場合は家で通っている教
            会に伺ってみるといいでしょう。神式の場合霊簿というものがありますので氏子になってい
            る神社などに確認するのがいいでしょう。<br />
            過去帳は本のようなものと前述にありましたが、過去帳には糸で綴じられた和綴じタイプの
            ものと折本タイプのものがあります。折本タイプは１枚の長い髪が蛇腹のようにおられてい
            るものに表紙がついているものです。和綴じタイプは寺院で使うものによく見られます。<br />
            納骨<br />
            納骨は遺骨を埋葬することです。納骨をすると良い時期は決まっていませんが、仏式ですと
            四十九日や一周忌にあたる時期に合わせて納骨を行うことが多いです。神道の場合は五十日
            祭などが多いです。<br />

            <div class="content-title-box">
                <div class="content02-little-box"></div>
                <div class="content-title">
                    葬儀後の挨拶まわりやお礼・法事の準備の仕方
                </div>
            </div>
            ご葬儀当日から２．３日中にお世話になった方々にご挨拶にまわります。<br />
            挨拶に向かう先はお寺・世話役・お手伝いをしていただいた人・故人の職場・ご近所な
            どです。寺院・僧侶へは「先日の葬儀に際しましては、ご多忙のところ、たいへんご丁
            寧なお勤めを賜り、ありがとうございました。おかげさまで、無事に葬儀を執り行うこ
            とができました。」などとお礼のあいさつをするとよいでしょう。<br />
            近所の方へは「生前中は、何かとお世話になりありがとうございました。この度の葬儀
            に際しましてもご迷惑をおかけして申し訳ございませんでした。おかげさまで、とどこ
            おりなく葬儀を終えることができました。〇〇がいなくなり寂しくなりましたが、残さ
            れた家族みんなで頑張っていきたいと思います。これからも、変わらぬお付き合いを、
            どうぞよろしくお願いします。」などといった内容の挨拶をするとよいでしょう。<br />
            葬儀にいただいた弔電や供花供物などへの礼状を出すことも礼儀の一つです。<br />
            弔電への礼状 「○○の候　皆様益々ご清栄のこととお慶び申し上げます<br />
            さて先般　母○○儀　死去に際しましては<br />
            ご鄭重なるご弔電を頂き厚く御礼申し上げます<br />
            早速拝眉の上お礼申し上げるところ略儀ながら書中をもってご挨拶申し上げます。<br />
            令和　　年　　　月　　　日　　　　　　 〇〇〇〇」 供花供物への礼状<br />
            「○○の候　皆様益々ご清栄のこととお慶び申し上げます<br />
            さて先般　母○○儀　死去に際しましては遠路わざわざご会葬たまわり<br />
            そのうえご鄭重なるご弔意ならびに<br />
            ご厚志に預かり誠にありがたく厚く御礼申し上げます<br />
            略儀ではございますが粗筆をもって御礼かたがたご挨拶申し上げます<br />
            令和　　年　　　月　　　日 〇〇〇〇」 忌明け法要の準備から法要当日まで<br />
            ①故人の命日かそれより前の日で招待する方が集まりやすい日時を選びます。<br />
            ②ご葬儀の時、お世話になったお寺に連絡して法要の予約を入れます。<br />
            ③お寺や自宅以外での会食を考えるのであれば、招待する方の人数などに合わせた会場を探します。<br />
            ④招待する方を決め、リストを作成して、会食の会場へ連絡します。<br />
            ⑤法要並びに法事の案内状を作成、送付します。<br />
            ⑥出欠の返事を整理し、料理を用意する人数、席順、引き出物の数などを関係先に連絡
            する。<br />
            ⑦お寺からの移動方法や最終人数など、全体を再度確認して、漏れがないようにチェッ
            クする。<br />
            四十九日の法要<br />
            忌明け　仏教では五七日（三十五日）・七七日（四十九日）の法要をもって忌明けとな
            ります。 埋骨をし、白木位牌から塗り位牌に変えて仏壇に納めます。<br />
            埋葬をする際墓石開眼・納骨法要として魂を宿す読経を行います。<br />
            忌明けと法要について<br />
            初七日　親族、関係者を招き読経、焼香、会食で供養をする法要です。<br />
            百ケ日　近い親戚を招いての法要です。以後、一周忌、三回忌、七回忌、一三回忌、一
            七回忌、二十三回忌、二十七回忌、三十三回忌、も同じく法要をします。<br />
            新盆　お盆のしきたりに沿って供養をします。<br />
            法要の流れは読経→導師法話→施主挨拶→献杯→会食の順番が一般的です。<br />
            <br />
            初盆（新盆）法要<br />
            故人がなくなってから最初のお盆の時に行われる法要です。故人が迷わないで自分の自
            宅に帰ってこれるように玄関や仏壇の周りに飾りつけを行うのが、風習となっています
            。 なぜ、一周忌法要や三回忌法要というものがあるのでしょう<br />
            仏教には「輪廻転生」と言って亡くなった人は生まれ変わるという考え方があります。
            その世界観を六道という概念で表します。そこには三善道と呼ばれる天道・人間道・修
            羅道とそれに相反する三悪道と呼ばれる畜生道・餓鬼道・地獄道があり生前の行いに悪
            かった人は四十九日が経過したあと三悪道に落ちてしまうといわれております。<br />
            万が一故人が三悪道に進んでしまった際にも一周忌や三回忌法要で追善供養をすること
            によりその罪を緩和して故人を良い道へ道ぶくことができると考えれているからです。
            また、時の流れとともに故人との思い出などを偲んで故人の周りの方が集まって命のつ
            ながりや人と人とのつながりを感じられる機会でもあります。 各法要の準備
            １カ月前まで 日程を決定し、法要と会食の会場を予約します。<br />
            僧侶の手配も菩提寺などに連絡して行います。<br />
            会場と僧侶の手配が確定したら参列する方に案内状や
            電話などでお知らせをして出欠をとります。 ２週間前まで
            ろうそく・線香などの法要で必要なものをよういする
            参列者から香典やお供え物をもらった場合にお返しとしての引き出物を準備しておきま
            す。お菓子などが一般的です。のし紙は黒白又は黄白の結び切りで用意します。<br />
            表書きには「志」又は「粗供養」と書きます。<br />
            卒塔婆を用意します。宗派や寺院によっては供養のために卒塔婆を用意します。<br />
            必要であれば依頼しましょう。 法要前日まで
            お墓を掃除して家族で気持ちよく法要を迎えましょう。 礼服を用意する
            １周忌までは基本的に喪服を着用します。子供や学生がいる場合はなるべく地味なデザ
            インの服を選び、制服があればネクタイやリボンは色が派手であれば、外して参列させ
            るといいでしょう。１周忌より先は平服でいいとされています。<br />
            挨拶・進行を考えておく<br />
            当日の挨拶の言葉や当日の進行、会食の場合の参列者の席次を考えておきます。<br />
            上座から僧侶、親族、故人と親しかった友人の順に並び末席に喪主と家族が座るのが良
            いでしょう。その際の献杯をする方を決めておき事前に依頼しておくようにしましょう
            。<br />
            四十日法要を開くにあたっての案内状例<br />
            謹啓○○の候益々ご健勝の御事とお慶び申し上げます<br />
            さて先般父○○儀永眠の際はご丁重なるご弔詞<br />
            並びにご厚意を賜り　ご芳情の程誠に 有り難く厚く御礼申し上げます<br />
            来る○○月○○日は故〇〇〇の<br />
            ７７日忌に相当たりますので　生前のご厚誼を賜りました方々にお集まりいただき故人<br />
            を 偲び感謝の気持ちから心許りの粗餐を差し上げたく存じます<br />
            ご多様中誠に恐れ入りますが左記による来駕賜りたくお願い申し上げます 敬具
            記<br />
            日時　令和　　年　　月　　日（　　　曜日） 場所　〇〇〇〇〇<br />
            電話　００００－００－００００ 令和　　年　　月　　日<br />
            誠に恐れ入りますがご出席の有無を〇日までにお知らせ賜りたくお願い申し上げます<br />
            法要での挨拶例<br />
            ・開式の挨拶<br />
            「本日はお忙しい中、お集まりいただきありがとうございました。早いもので、もう四
            十九日となりました。ただいまより、△△寺のご住職様のお導きにより、故○○の忌明け
            法要を行いたいと思います。どうぞよろしくお願いいたします。」<br />
            <br />

            ・会食の挨拶<br />
            「どうもありがとうございました。有難いお経を頂戴し、個人もさぞ喜んでいることと
            思います。また生前親しくさせていただいた皆様にお集まりいただき、故人に代わって
            厚くお礼申し上げます。それではささやかですが、お酒とお料理をご用意いたしました
            ので、ごゆっくりおくつろぎください。」<br />
            ※この挨拶の時に故人との思い出やお人柄をお話になられると皆さま会食の際、故人を
            思いだし偲んだりのきっかけになります。<br />
            <br />
            ・お開きの挨拶<br />
            「まだまだ皆様のお話など承りたく存じますが、そろそろお時間となりました。○○がい
            なくなり寂しくなりましたが、のこりました家族一同頑張っていきたいと思います。こ
            れからも、変わらぬお付き合いをよろしくお願い申し上げます。また何かと相談に乗っ
            ていただくこともあるかと思いますが、よろしくご指導賜りますようお願い申し上げま
            す。本日はどうもありがとうございました。」<br />
            <br />
            神式での追悼儀礼<br />
            神式の場合十日ごとに毎十日祭と言って１０．２０．３０．４０．５０日ごとに追悼儀
            礼を行い五十日祭を忌明けとしています。忌明けをしたら神棚や祖霊舎に貼っていた白
            い髪を取り払う清祓いの儀と合祀祭（霊璽を祖霊舎に移す儀式のこと）を行います。
            その後は百日祭、一年祭を行います。<br />
            そのあとの追悼儀礼は２．３．５．１０年目に行っていきます。それ以降は二十年祭、
            三十年祭を行います。<br />
            <br />
            キリスト教式の追悼儀礼<br />
            キリスト教では大きく分けてプロテスタントとカトリックに分かれていてそれぞれ死後
            の追悼の仕方は様々ですが、カトリックの場合は十一月にある万霊節（１１月２日、２
            日が日曜の場合は３日に死者のために祈りをささげる日のこと）に全ての死者に向けた
            追悼ミサがあります。<br />
            また死亡した日から３日、７日、３０日目に教会で追悼ミサを行う場合もあります。
            プロテスタント場合はお亡くなりになった１カ月、１年目などの区切りに記念式をしま
            す。それ以外は遺族などで記念の集いをします。<br />
            <br />
            死後の手続き<br />
            死後の手続きの流れを前もって知っておくことによりもしものときに落ち着いて順序だ
            てた行動できます。ここでは手続きの流れについてご説明いたします。<br />
            手続きはたくさんありますが、まず手続きに優先順位をつけることが大切です。
            たとえば生命保険の保険金請求期限は死後３年とされていますので、資金に余裕がある
            のであればすぐに手続きをする必要はありません。しかしお葬式の費用にあてたり生計
            を共にしていたかたが亡くなり、当面の生活資金などで必要な場合は死亡後すぐに請求
            してもよいでしょう。 直近でまず必要になる手続きは
            死亡届の提出（７日以内）<br />
            世帯主の変更（１４日以内） 健康保険証を返して埋葬料などを受け取る<br />
            年金の手続き 公共料金、電話などの名義変更や解約<br />
            相続した財産の名義を変更などです。 相続や税金関連では 遺言書をさがす<br />
            遺言書の確認や検認 相続放棄などの手続き（３カ月以内）<br />
            所得税の準確定申告（４カ月以内） 遺産分割協議書の作成<br />
            相続税の申告（１０カ月以内）<br />
            このようにたくさんの手続きがあるため重要な手続きや期限が迫っている手続きから手
            を付けていくようにしましょう。<br />
            <br />
            死後の手続きによく必要になる書類<br />
            死後の手続きではよく「戸籍謄本」「住民票」「印鑑証明書」などが必要になります。
            これらの書類はほぼすべての手続きで必要になりコピーではなく原本が必要なところが
            多いため、一度に何通か発行してもらい持っておくと何かとどの窓口や手続き先でも提
            出を求められるので便利です。<br />
            <br />
            ・戸籍謄本<br />
            戸籍謄本（戸籍全部事項証明書）には生年月日・結婚・親子関係・死亡日などが記載さ
            れている公的な証明書です。そしてその戸籍にある全員の情報が記載されています。現
            在ではその情報がコンピュータ化されておりそのような書類を戸籍全部事項証明書と呼
            んでおります。それ以前のコンピュータ化されていないものを戸籍謄本と呼んでいます
            。<br />
            <br />
            ・住民票<br />
            住民票は氏名・生年月日・住所・本籍などが書かれている住んでいる自治体から取得で
            きる署名所です。亡くなった方の住民票を取るには亡くなった時に住んでいた地域の市
            区町村役場にて取得します。死亡届が提出された後に住民票には死亡したことが記載さ
            れます。もし手続き先でそのような住民票を取得してほしいといわれた場合は死亡した
            ことが載っている住民票がほしい旨を窓口の方に伝えるといいでしょう。<br />
            <br />
            ・印鑑証明書<br />
            印鑑証明書は本人が実印と同じことを証明するために自治体に登録した印鑑を証明する
            書類です。手続きをする方が住んでいる自治体で取得します。<br />
            手続き先によっては３カ月以内のものなど期限に指定がある場合があるので注意が必要
            です。<br />
            死亡を証明する書類<br />
            死亡を証明する書類には以下のようなものがあげられます。<br />
            ・死亡診断書（死体検案書）<br />
            ・死亡したことが記載されている戸籍謄本または除籍謄本<br />
            除籍謄本とは戸籍内の全員が戸籍からいなくなり閉鎖された戸籍についての書類。死亡
            や結婚、転籍などが理由となる。<br />
            ・死亡したことが書いてある住民票またはその除票<br />
            除票とは住民票から死亡や転出が理由で抹消された住民票のこと。５年の保存期間があ
            る。 相続の手続きでは出生～死亡までの戸籍謄本が必要になる<br />
            故人が出生後、結婚して親とは別の戸籍になったり、本籍地を移動したりするとその都
            度戸籍が複数存在することになります。例えばA市で生まれ、結婚を機にB市に転居し
            て新たな戸籍を作り、子供が成人し独立したため、C市に転居をして転籍した場合など
            は、死亡後A・B・C市にて３つの市から戸籍を取得する必要があります。<br />
            まず最初にに本籍があったC市にて戸籍を取ると転籍前のB市があることがわかります
            。<br />
            そしてB市で戸籍を取ると転籍前がA市だということがわかります。A市にて戸籍を取る
            と出生が記載されていることが確認できると取得しなければいけない戸籍謄本はすべて
            とれたことがここでわかります。<br />
            改製原戸籍と除籍<br />
            １９４８年（昭和２３年）に施行された新戸籍法により１９５７年（昭和３２年）頃に
            家単位の戸籍から、夫婦を単位とする形式の戸籍に変わりました。<br />
            その後、戸籍をコンピュータ管理にすることが決まり１９９４年（平成６年）の戸籍法
            が改正されました。この戸籍法の制定などで戸籍が書き換えられた以前の戸籍は改製原
            戸籍（かいせいげんこせき・かいせいはらこせき）と呼ばれます。このような改正以前
            の戸籍を持つ人は改製原戸籍を見ないと情報を得ることができないのです。相続手続き
            で必要になる改製原戸籍や除籍謄本、結婚転籍前の戸籍謄本には有効期限がないため、
            終活の一つとして自分や家族の戸籍謄本をそろえるのもよいでしょう。<br />
            <br />
            ・名義変更や解約について<br />
            故人の名義になっている契約など、引き継ぐ場合は名義変更を、引き継がないものには
            解約をしなければなりません。ここでは様々な名義変更や解約についてご説明いたしま
            す。<br />
            世帯主の変更について故人が２人世帯の世帯主だった場合、残った方が自動的に世帯主
            になります。<br />
            ３人以上の世帯主であった場合は誰が新しい世帯主になるかを１４日以内に届け出をし
            なければいけません。届け出をする場所は住民登録のある自治体になります。<br />
            電話料金・公共料金など<br />
            故人が電話料金・公共料金などの契約者などになっていた場合、解約手続きは多くの場
            合期限はありません。しかし、料金の引き落とし口座が故人のクレジットカードや銀行
            口座引き落としなどの場合は、銀行口座やクレジットカードが使えなくなると支払いが
            されなくなり、督促状などが届いてしまうこともあります。<br />
            エンディングノートなどにそういった情報を書いておくと手続きをされる方の負担が軽
            減されます。 印鑑登録カード・パスポート・運転免許証など<br />
            印鑑登録カードは死亡届の提出後自動的に廃止手続きがなされるため、特に手続き等は
            ないので自治体に返却するかハサミやシュレッターにかけて処分しましょう。マイナン
            バーカード、シルバーパスなどは自治体に返却します。<br />
            調理師免許などの国家資格の免許証などは発行元に返却します。パスポートや運転免許
            証は、基本的に発行元に返すことになっています。有効期限が過ぎれば自動的に失効し
            ますが、公的な本人確認書類のため念のため悪用などされないように発行元に返却する
            のがいいでしょう。<br />
            <br />
            賃貸契約など<br />
            賃貸契約などの契約の権利人は相続人に引き継がれます。（終身建物賃貸借契約という
            相続のない一代限りの賃貸契約の場合は契約者が死亡した時点で契約が終了します。
            もちろん賃料の未払い分やその後の賃料の支払い義務も相続人が引き継ぐことになるた
            めもし、賃貸契約を継続する必要がないならば、契約者が亡くなった時点で早めに家主
            や管理会社に知らせて解約をするのがいいでしょう。<br />
            クレジットカードの年会費や各種会員証<br />
            クレジットカードの契約者が死亡してもカード会社に契約者が死亡したことを伝えない
            と、年会費の支払い請求書がきてしまったり、カード払いにしている何らかの月々の料
            金が引き落とし銀行口座が閉鎖せれない以上、そのまま支払いが進んでしまします。
            カード裏面に書いてある問い合わせセンターに電話をして契約者がなくなったことを伝
            えるといいでしょう。また悪用させれることを防止するためにカードにハサミを入れて
            おくようにしましょう。<br />
            また、月謝などを払っている場所があれば運営会社や代表者に連絡をして退会をします
            。<br />
            この情報もエンディングノートに書いておくことで手続きをする人がトラブルなどなく
            スムーズに手筒気を進められるようになります。<br />
            葬儀の際に給付が受けられる場合<br />
            お亡くなりになられた方が、国民健康保険被保険者・社会保険被保険者・国家公務員共
            済組合組合員の場合、葬祭費・埋葬費として下記の補助を受けることができます。こち
            らの制度はご自身で手続きをすることにより受け取ることができる制度となっておりま
            す。<br />
            <br />
            故人が国民健康保険被保険者の場合<br />
            【受給条件】<br />
            被保険者が死亡した場合、葬儀を行った方に葬祭費を支給<br />
            【補助内容】<br />
            自治体により異なる （１～７万円程度） <br />
            故人が社会保険被保険者の場合<br />
            【受給条件】<br />
            被保険者が死亡した場合、被扶養者に葬祭費を支給<br />
            被扶養者がなくなった場合、被保険者に葬祭費を支給 <br />
            【補助内容】<br />
            被保険者が死亡した場合５万円 扶養者が死亡した場合５万円<br />
            故人が国家公務員共済組合組合員の場合<br />
            【受給条件】<br />
            共済組合・国家公務員組合の加入者の遺族（埋葬を行った人）<br />
            【補助内容】<br />
            各組合により異なる 故人が生活保護受給者の場合<br />
            【受給条件】<br />
            受給者本人が死亡し、遺族が困窮のため葬儀が行えない場合<br />
            【補助内容】<br />
            葬儀に必要な最低額　最大２０万円弱 その他葬儀で行われる様々なサービス<br />
            エンバーミングについて エンバーミングというものは痛いに殺菌防腐処理を施し
            顔や体など損傷した部分があ
            ればそれを修復する作業を行う処置方法である。最近ではこのエンバーミングを行う葬
            儀社が増えています。葬儀プランの中に含まれていることもあります。<br />
            <br />
            湯灌について<br />
            湯灌とは故人の生前の苦しみや痛みなどを納棺をする前に湯でぬぐい清める儀式です。
            生前の疲れや苦労を労い、体も心もきれいにしてお見送りをする意味も込められていま
            す。<br />
            湯灌というものは宗派を問わずつぎに生まれ変わるための準備ともいわれております。
            葬儀社にもよりますが、湯灌は２畳くらいのスペースがあれば十分行えます。マンショ
            ンや団地でもよく行われております。<br />
            遺骨で作るダイヤモンド<br />
            最近では手元供養の一つとして遺骨を使ってダイヤモンドを作りメモリアル品として遺
            族の方が身に着けるなどするダイアモンドが作られています。<br />
            遺骨の中に含まれている炭素の量とその他の成分を精密に調べ、その後高温高圧法で遺
            骨の炭素を結晶化させるのに不必要な不純物を取り除き、黒鉛を生成します。<br />
            そこから人工ダイヤモンドの原石を作成します。また、無色透明以外の色も加工によっ
            て色彩を変えることもできます。<br />
            制作期間は制作会社によって違いますが、３カ月～半年ほどの期間がかかります。<br />
            デメリットとしては作られたダイヤモンドが故人の遺骨からできたものだという証明が
            現在の技術では不可能というところです。高温高圧で細胞レベルで破壊されてしまうた
            めDNA鑑定もできないわけです。会社によっては遺骨や遺灰から抽出した成分がどんな
            ものだったかを記載した証明書をしっかり発行してくれる会社もあります。<br />
            ダイヤモンドを作るまででもないと考える方の中には手元供養として遺骨を入れられて
            携帯ができるペンダントを身に着ける方もいらっしゃいます。<br />
            葬儀の豆知識・各種作法マナー<br />
            お香典について<br />
            お香典はお花やお香の代わりに霊前にお金のことです。<br />
            お香典は不祝儀袋と呼ばれるものに包んで通夜や告別式の時に渡します。この不祝儀袋
            や袋に書く表書きは渡す先の宗教や地域、宗派によって変わってくるのため、渡す先の
            宗教などわからない場合はご霊前と書いた無地の不祝儀袋を使うとよいでしょう。
            どの宗教でも使えるものは
            無地の包みに水引は黒白、双白、双銀の結び切りにします。表書きは御霊前と書きます
            。<br />
            仏式の場合は包みが無地又は蓮の花にし、水引は黒白、双白、双銀の結び切りにします
            。表書きは御香典または御香料・御霊前と書きます。<br />
            神式の場合は無地の包みに水引は黒白、双白、双銀の結び切りにします。表書きは御玉
            串料と書きます。<br />
            キリスト教式の場合は包みが無地または白百合や十字架が書かれたものに水引はないも
            のを用意します。表書きは御花料と書きます。 拝礼の仕方（画像あり動画あり）
            仏式ではお焼香をしますが、実際お焼香の回数や作法など細かいところは宗派によって
            決まりがあります。<br />
            会葬する場合など行われている宗派に合わせてできればいいのですが、わからない場合
            は右手の親指と人差し指と中指で少しお香をつまみ香炉にくべます。１から３回繰り返
            しますが、大規模な葬儀でたくさんの会葬者が予想され場合、焼香は１回にしてくださ
            いとアナウンスされる場合があります。<br />
            神式の場合（画像有動画あり）
            お焼香でなく玉串奉奠をします。通夜の呼び方も通夜祭と呼び、葬儀・告別式は葬場祭
            といいます。<br />
            拝礼の方法は二礼二拍手一礼になりますが、拍手は音を立てずに拍手をする「しのび手
            」という方法で行います。<br />
            玉串奉奠の仕方はまず根元が右手にくるように玉串を受け取ります。<br />
            そして玉串をおしいただいたのち、右回りに９０度回転させて根元を手前にします。こ
            こで左右の手を持ち替えて今度は時計回りに１８０度回します。そうすると根元が祭壇
            に向きます。<br />
            玉串を祭壇の前の台において、後ろに数歩下がり二礼二拍手一礼をします。<br />
            キリスト教の場合（画像有動画あり）<br />
            キリスト教では献花として花を捧げます。これは最近ですと無宗教の葬儀や芸能人のお
            別れ会などでよく目にするようになりました。<br />
            献花の仕方は花が右側になるように受け取り祭壇の前で一礼します。<br />
            花を右回りに９０度回し花が手前になるようにします。そして献花台に花を置いて黙と
            うします。最後に深く一礼します。<br />
            <br />
            お墓について<br />
            お墓は納骨場所であり亡くなった人を偲ぶ場所でもあり家族の生きた証でもあります。
            お墓は終の棲家として先祖代々なくなったら入る場所と考えている方も多いです。
            また、遺された方にとって亡くなった人を偲べる場所があるというのは大切なことです
            。<br />
            お墓参りに行って墓石に語り掛けたり、思いをはせたりすることも多いと思います。お
            墓は亡くなった人を偲ぶ場所として昔から最適と考えれれている場所です。<br />
            これからお墓を立てる人や墓じまいをしてお墓を作り直しする人など自分や夫婦、家族
            がお墓を作ることによって生きた証を作りたいという人の気持ちを表すものでもありま
            す。<br />
            新しい墓地が立つことがたまにあるかと思いますが、墓地を新しく設置できるのは自治
            体・公益法人・宗教法人に限られます。また、墓地は大きく分けて次の３種類に分かれ
            ます。<br />
            <br />
            ①寺院墓地<br />
            寺院墓地は寺院が檀家のために設置している墓地です。ここの墓地を持つ家はそのお寺
            の檀家となりお寺に寄付をしたり、お寺の修繕費を寄進したりと檀家としての義務を果
            たさなければなりません。また、年に数回行われるお寺の行事に参加したりします。こ
            の行事や寄進の内容などは寺院によって異なります。<br />
            <br />
            ②公営墓地<br />
            公営墓地は地方自治体が運営して管理をしている墓地です。自治体にもよりますが、公
            営のため使用料が安く管理も行き届いている場合が多いです。公営墓地があまりにも都
            市部であったり、人気の地域の場合や自治体によっては使用料が他と比べてあまり変わ
            らなかったり、割高になってしまう場合もあるようです。そのような墓地は公募倍数が
            非常に高かったり募集条件が細かく設定されていることがあります。<br />
            また、場合によっては改葬（墓じまいをして別の墓から引っ越してくること）の遺骨を
            受け入れてくれない公営墓地もあります<br />
            <br />
            ③民営墓地<br />
            民営墓地は宗教法人や公益法人が運営をしていて、宗教宗派を問わずに受け入れる墓地
            のことです。上記の寺院墓地と公営墓地以外は民営墓地と呼びます。<br />
            寺院墓地になかには敷地の中に檀家向けの寺院墓地と一般向けの民営墓地がある場合も
            あります。<br />
            墓地は借り物<br />
            販売されているお墓を買うということは、墓地というのはその墓地自体の土地を買い上
            げるものではありません。お墓を立てるための土地の「権利」買うことになります。こ
            の権利のことを「永代使用料」または「使用料」と言います。年間管理料などを滞納し
            たり支払わなかった場合は権利を失いますがその場合基本的に支払った使用料は返金さ
            れないです。<br />
            葬儀に介護タクシーで参列したい<br />
            介護タクシーは車いすやストレッチャーのまま乗り降りすることができるタクシーです
            。家族の方も一緒に同行することができます。<br />
            介護保険を使いたい場合、利用者が自宅・有料老人ホーム・ケアハウス・サービス付き
            高齢者向け住宅（高サ住）などで生活していてかつ、要介護１から５の認定をうけてい
            る人が介護保険を使って保険適用できます。<br />
            介護タクシーは訪問介護サービスの一つであり乗車又は降車の介助があるサービスを行
            うタクシーを介護タクシーと呼んでいます。また、介護タクシーとは特に法律上規定が
            あるわけではなく、介護士資格を持った運転手が実際に介助行為ができるタクシーを介
            護タクシーと呼ぶことが多いです。それに対して介護資格などを保有しない運転手が運
            転するタクシーを福祉タクシーやケアタクシーと呼びます。<br />
            そういったサービスの違いを理解したうえで近くの介護タクシーを検索してみるのもい
            いでしょう。<br />
            また、自治体によっては福祉タクシーチケットを交付しているところもあります。<br />
            喪中はがきを出す必要がある場合は１年以内にご自身の２親等内の親族がなくなった場合は喪中はがきを出す必要がありま
            す。例えば故人の１親等は両親、配偶者、子になり、故人の２親等は兄弟姉妹、祖父母
            、孫となります。しかし昨今では２親等内であってもお喪中はがきを送らない方もいま
            すし、ご自身の考え方にもよります。しかし最低でも常識では１から２親等がなくなっ
            た場合は喪中はがきを送ることが良いとされています。<br />
            喪中はがきを送る先は普段年賀状のやり取りをしている方を対象に送ります。ご自身が
            喪主だった場合には故人が年賀状のやり取りをしていた方にも葬儀に参列された方にも
            送ります。<br />
            <br />
            喪中はがきの書き方<br />
            喪中はがきには定型のデザインは特にないためはがきを購入して自分で手書きで作成す
            ることもできますし、無料のテンプレートをネットからダウンロードして印刷する方も
            います。また郵便局にも喪中はがきは売っているので購入することができます。<br />
            しかし、年末が近づいてきて年賀状シーズンになると喪中はがきが売り切れてしまうこ
            ともありますので注意しましょう。<br />
            <br />
            喪中はがきの内容<br />
            基本的には書くことは決まっており<br />
            ・喪中につき年末年始のご挨拶をご遠慮申し上げますという挨拶文<br />
            ・喪中であることを伝える ・誰が亡くなったか ・何歳で亡くなったか<br />
            ・結びの挨拶 この５点が書かれているといいでしょう。<br />
            文例を一つ上げると<br />
            「喪中につき年末年始のご挨拶をご遠慮申し上げます<br />
            本年〇月に父○○が○○歳にて永眠いたしました<br />
            永年にわたるご厚誼に深謝致すと共に<br />
            明年も変わらぬご交誼のほどお願い申し上げます<br />
            令和　　年　　月　　日 住所電話 氏名」<br />
            といった具合です。 喪中はがきに添書きを書いてもよいのか
            結論から言うと喪中はがきに添え書きをするのはあまりよくありません。<br />
            マナー違反ではないのですが、喪中はがきには添え書きの必要性がないため、
            受け取る方の感じ方によっては添え書きってどうなのかと思われてしまう場合がありま
            す。もし添え書きをするならば法要や葬儀のことを振り返っての御礼や故人との思い出
            に関することを書くのは適しています。<br />[]
            もし伝えたいことが多い場合は寒中見舞いのときに伝えるようにするほうが無難といえ
            ます。<br />
            <br />
            喪中はがきはいつまでに出せばよいか<br />
            喪中はがきは「年賀欠礼状」と呼ばれており相手が年賀状の用意を始める前に出す必要
            があります。時期としては１２月初旬までに喪中はがきを投函するのが良いでしょう。<br />
            <br />
            喪中の連絡をLINEでしていいの<br />
            最近では喪中はがきもLINEで送る方も増えています。タイムラインなどで喪中の連絡を
            する方も少しずつ増えていますが、その場合は相手との関係性を注意して送るようにす
            ることが大切です。LINEやSNS上で喪中の連絡をするのは今の時代で手紙以外の通信
            手段がたくさんある中である意味自然な発想かもしれません。<br />
            しかしこのようなSNSなどの伝え方の場合相手が確実に受け取ったかを確認できないの
            が欠点です。喪中はがきは確実にSNSのように埋もれないで相手に届くものですので、
            冠婚葬祭というのは伝統を重んじて行う風習に沿った儀礼でもあるためなるべく喪中は
            がきを選択されるという考え方も一つではないでしょうか。<br />
        </div>
    </main>
</section>

{% endblock %}