// ----------------------------------------------------------------
// topページ専用
// ----------------------------------------------------------------
@import "_setting/_variables";
@import "_setting/_mixin";
@import "_component/title";

@include touch {
  .headBase {
    width: 90%;
    background-color: $color-cream;
    border: 5px solid $color-pink;
    border-radius: 20px;
    text-align: center;
    @include font-line-height(20, 30);
    color: $color-pink;
    padding: .5em 0 .25em;
    margin: 0 auto;
  }

  .main .box-inner {
    padding: 20px;
  }

  // section01
  .top-section01 {
    background-color: $color-cream;
    h2 img.pc-none {
      width: 55%;
      margin: 0 auto 1rem;
    }
    .top-sec01-title {
      text-align: center; 
    }
    p.top-sec01-form-title {
      margin: .75rem 0;
      text-align: center;
      img {
        height: 36px;
      }
    }
    .form-field {
      &:last-of-type {
        margin-bottom: 30px;
      }
    }
    .form-control-radio:first-of-type {
      width: 70%;
    }
    .form-control-radio:last-of-type {
      width: 30%;
    }
    .form-control-text {
      input {
        width: 80%;
      }
      .form-control-unit {
        width: 2em;
        display: inline-block;
        text-align: right;
      }
    }
    .form-control-button {
      button {
        box-shadow: 1px 2px 4px gray;
      }
    }
  }

  .top-section02-image {
    .box-inner {
      padding: 0;
    }
    h3 {
      width: 100%;
      height: 280px;
      background-image: url(/images/top/sec02-bg-sp.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      @include font-size(20);
      position: relative;
      span {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, .7);
        text-align: center;
        padding: 14px 0;
        position: absolute;
        display: block;
        z-index: 10;
      }
    }
  }

  // section02
  .top-section02 {
    background-color: $color-gray;
    .top-sec02-text-left {
      h3 {
        @include font-size(22);
        text-indent: 1em;
        margin-bottom: .5em;
      }
    }
    .top-sec02-text-right {
      margin: 0 auto;
      text-align: center;
      p {
        @include font-size(20);
        text-align: left;
        margin: 20px 0 10px;
      }
      a {
        display: block;
        @include font-size(18);
        text-align: right;
      }
    }
    .top-sec02-character {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      display: block;
      padding: 20px 0 30px;
      img {
        width: 54%;
      }
    }
  }

  // section03
  .top-section03 {
    h3, .top-sec03-result {
      @extend .headBase;
    }
    h3, .top-sec03-result {
      width: 88%;
      background-color: $color-cream;
      border: 5px solid $color-pink;
      border-radius: 20px;
      text-align: center;
      color: $color-pink;
      padding: .5em 0 .25em;
      margin: 30px auto 20px;
    }
    .top-sec03-specialties {
      margin: 1em 0;
      text-align: center;
      h4 {
        margin: 20px 0 10px;
        img {
          height: 40px;
        }
      }
      h5 {
        @include font-size(20);
      }
      ul {
        width: 90%;
        display: block;
        margin: 0 auto;
        li {
          display: block;
          padding: 20px 0 8px;
          border-bottom: 1px dashed gray;
          p {
            @include font-size(24);
            margin: 8px 0;
          }
        }
      }
      .top-sec03-specialties01 p, .top-sec03-specialties02 p {
        color: $color-green;
      }
      .top-sec03-specialties03 p {
        color: $color-pink;
      }
      .top-sec03-result-arrow {
        width: 35px;
        height: 25px;
        background-image: url(/images/top/sec03-icon01.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 20px auto 14px;
        display: inline-block;
      }
      .top-sec03-result {
        color: $color-white;
        background-color: $color-pink;
        padding: 20px 0;
        margin: 0 auto;
        @include line-height(22, 30);
      }
    }
  }

  // section04
  .top-section04 {
    background-color: $color-cream;
    text-align: center;
    h3 {
      color: $color-pink;
      @include font-line-height(20, 30);
      margin: 20px 0 0;
    }
    img {
      width: 200px;
      margin-top: 50px;
    }
    h4 {
      @include font-line-height(20, 26);
      margin: 20px 0;
    }
    p {
      text-align: left;
      @include line-height(16, 24);
    }
    .top-sec04-result {
      @extend .headBase;
      width: 100%;
      background-color: $color-white;
      padding: 8px 0;
      margin: 40px 0 30px;
    }
  }

  // section05
  .top-section05 {
    border-top: 1px solid $color-pink;
    .box-inner {
      padding: 0 20px 20px;
    }
    h3 {
      margin: 0 0 20px;
      text-align: center;
    }
    h3 span {
      background-color: $color-pink;
      color: $color-white;
      @include font-size(16);
      padding: 4px 8px;
      display: inline-block;
    }
    ul {
      padding: 0 10px;
      li {
        margin: 0 0 .75em;
        display: table;
        span, p {
          display: table-cell;
          vertical-align: top;
        }
        span {
          width: 6em;
          margin-right: .5em;
        }
        &:nth-child(even) {
          color: #BCBCBC;
        }
      }
    }
  }
  
  // section06
  .top-section06 {
    h3 {
      @extend .title-with-border;
    }
    ul {
      li {
        width: 86%;
        display: block;
        margin: 0 auto;
        &:not(:last-of-type)::after {
          content: "";
          width: 53px;
          height: 53px;
          background-image: url(/images/top/sec06-icon01.png);
          background-repeat: no-repeat;
          background-size: contain;
          margin: 0 auto;
          display: block;
        }
        p {
          padding: 1.25em 0;
        }
      }
    }
    .top-sec06-video {
      display: table;
      margin: 0 auto;
      p {
        @include font-size(20);
        text-align: left;
        margin: 40px 0 10px;
      }
    }
  }
<<<<<<< Updated upstream
=======

  // section07
  .top-section07 {
    h3 {
      @extend .title-with-border;
      @include font-size(20);
      margin-bottom: 20px;
      &::before, &::after {
        width: calc((100% - 15em) / 2);
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    li {
      flex-basis: 40%;
      text-align: center;
      margin-bottom: 20px;
      img {
        width: 90%;
      }
    }
  }

  // section08
  .top-section08 {
    h3 {
      @extend .title-with-border;
      @include font-size(18);
      &::before, &::after {
        border-top-color: $color-pink;
        width: calc((100% - 12em) / 2);
      }
    }
    .top-sec08-ranking {
      width: 100%;
      max-width: 640px;
      border: 10px solid $color-blue;
      border-radius: 20px;
      text-align: center;
      margin: 20px auto;
      padding: 10px;
      ul {
        li {
          width: 100%;
          margin: 30px 0 0;
        }
      }
    }
  }

  // section09
  .top-section09 {
    border-top: 1px solid $color-pink;
    .box-inner {
      padding: 0 20px 20px;
    }
    h3 {
      margin: 0 0 20px;
      text-align: center;
    }
    h3 span {
      background-color: $color-pink;
      color: $color-white;
      @include font-size(16);
      padding: 4px 8px;
      display: inline-block;
    }
  }
>>>>>>> Stashed changes
}

@include desktop {
  .main .box-inner {
    padding: 20px 0;
  }

  .top-section01 {
    h2 img.sp-none {
      height: 59px;
      margin: 0 auto .5rem;
    }
    .top-sec01-form {
      width: 84%;
      margin:0 auto;
    }
    .form-field-wrapper {
      width: 38%;
      display: block;
      float: left;
      &:first-of-type {
        width: 62%;
      }
      &::after {
        @include clearfix;
      }
    }
    .form-field {
      margin: 5px 0;
      .form-field-label {
        width: 160px;
        float: left;
      }
    }
    .form-control-radio:first-of-type {
      width: 58%;
      margin: 0 auto;
    }
    .form-control-radio:last-of-type {
      width: 42%;
      margin: 0 auto;
    }
    .form-control-text {
      text-align: center;
      input {
        width: 90px;
      }
      .form-control-unit {
        display: inline;
      }
    }
    .form-control-help {
      white-space: nowrap;
    }
    .form-field-footer {
      width: 100%;
      clear: both;
      .form-control-button {
        input[type=submit], button {
          width: 360px;
          padding: .5em 0;
          margin: 0 auto;
        }
      }
    }
  }

  .top-section02-image {
    padding: 0;
    .box-inner {
      padding: 0;
    }
    h3 {
      width: 100%;
      height: 300px;
      background-image: url(/images/top/sec02-bg.png);
      span {
        @include font-size(28);
      }
    }
  }

  // section02
  .top-section02 {
    .top-sec02-text-wrapper {
      width: 100%;
      justify-content: space-between;
      display: flex;
      position: relative;
      padding: 20px 0;
    }
    .top-sec02-text-left {
      width: 400px;
      @include font-size(15);
      padding-bottom: 40px;
      h3 {
        @include font-size(28);
        text-indent: 0;
      }
    }
    .top-sec02-text-right {
      width: 370px;
      margin: 0 0 0 auto;
    }
    .top-sec02-character {
      left: 410px;
      bottom: 0;
      width: auto;
      display: inline-block;
      position: absolute;
      z-index: 10;
      img {
        width: 210px;
      }
    }
  }

  .top-section03 {
    h3 {
      width: 100%;
      @include font-size(28);
      padding: 4px 0;
      margin: 20px 0;
    }
    .top-sec03-specialties {
      p {
        @include font-size(22);
        letter-spacing: 0em;
        text-align: left;
      }
      h4 {
        background-color: $color-cream;
      }
      ul li p {
        text-align: center;
      }
      .top-sec03-specialties01, .top-sec03-specialties02, .top-sec03-specialties03 {
        width: 33.33%;
        display: block;
        float: left;
      }
      .top-sec03-specialties03::after {
        @include clearfix;
        height: 100px;
      }
      .top-sec03-result-arrow {
        display: block;
        clear: both;
      }
      .top-sec03-result {
        width: 100%;
        text-align: center;
        padding: 6px 0;
      }
    }
  }

  .top-section04 {
    h3 {
      @include font-size(28);
    }
    .box-inner div {
      width: 30%;
      padding: 0 0 50px;
      display: block;
      float: left;
      &.top-sec04-service02 {
        margin: 0 5%;
      }
      &.top-sec04-service03::after {
        @include clearfix;
      }
      h4 {
        color: $color-dark-gray;
        @include font-line-height(18, 26);
        margin: 30px 0;
      }
    }
    .top-sec04-result {
      clear: both;
    }
  }

  // section05
  .top-section05 {
    .box-inner {
      padding: 0 20px 20px;
    }
    ul {
      padding: 0;
    }
    h3 {
      text-align: left;
    }
    h3 span {
      @include font-size(20);
      padding: 4px 40px;
    }
  }

  
  // section06
  .top-section06 {
    ul {
      li {
        width: 30%;
        display: block;
        margin: 0;
        float: left;
        position: relative;
        &:not(:last-of-type)::after {
          transform: rotate(-90deg);
          position: absolute;
          right: -48px;
          top: 114px;
          z-index: 10;
        }
        &:nth-child(2) {
          margin: 0 5%;
        }
      }
    }
    .top-sec06-video {
      .top-sec06-video-item {
        display: table-cell;
        padding: 0 40px;
      }
    }
  }
<<<<<<< Updated upstream
=======

  // section07
  .top-section07 {
    h3 {
      @include font-size(28);
    }
    ul {
      justify-content: space-between;
      li {
        flex-basis: 25%;
        img {
          width: 200px;
        }
      }
    }
  }

  // section08
  .top-section08 {
    h3 {
      @include font-size(28);
    }
    .top-sec08-ranking {
      width: 40%;
      max-width: inherit;
      margin: 20px 0;
      padding: 10px;
      display: inline-flex;
      ul {
        li {
          width: 100%;
          margin: 30px 0 0;
        }
      }
    }
  }
>>>>>>> Stashed changes
}

@include sp {
  .top-section01 {
    h2 img.pc-none {
      width: 80%;
    }
  }
  .top-section02 {
  }
}