// ----------------------------------------------------------------
// マイページ専用
// ----------------------------------------------------------------
@import "_setting/_variables";
@import "_setting/_mixin";

@include touch {
  .main .box-inner {
    padding-bottom: 60px;
    &.box-inner-no-padding {
      padding: 0;
    }
    + .box-inner-no-padding {
      margin: -60px auto 60px;
    }
  }

  .mypage-header-button {
    .form-control {
      width: 80%;
      margin: 0 auto;
      button, input[type=submit], .button {
        padding: .5em 0;
      }
    }
  }

  .mypage-status {
    ul {
      width: 100%;
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0;
      li {
        text-align: center;
        flex-basis: 50%;
        @include font-size(14);
        padding: 2px 0;
        margin: 10px 0;
        &.current {
          color: $color-white;
          background-color: $color-pink;
        }
      }
    }
  }

  .form-field-single {
    text-align: center;
    margin: 20px 0 0;
    .form-control-button {
      .button {
        @include font-size(14);
        box-shadow: 0 1px 2px $color-dark-gray;
      }
    }
  }

  // 重要度チェック
  .my-tl-section01 {
    @include font-size(20);
    .my-tl-box {
      h3 {
        width: 100%;
        text-align: center;
        padding: 4px 0;
      }
      &.my-tl-box1 {
        margin-top: -40px;
        h3 {
          color: $color-white;
          background-color: $color-green;
          padding: 5px 1px;
        }
      }
      &.my-tl-box2 {
        margin: 20px 0 60px;
        h3 {
          color: $color-green;
          border-top: 1px solid $color-green;
          border-bottom: 1px solid $color-green;
        }
      }
      ul {
        li {
          @include font-size(14);
          padding: 14px 10px;
          position: relative;
          &:nth-child(even) {
            background-color: $color-gray;
          }
          a {
            display: flex;
            &::after {
              content: "";
              top: 50%;
              right: 10px;
              width: .75em;
              height: .75em;
              @include font-size(20);
              font-weight: 600;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              background-image: url(/images/mypage/troubles-icon01.png);
              background-repeat: no-repeat;
              background-size: contain;
              display: block;
              position: absolute;
            }
            p {
              margin: 0 0 0 1em;
              align-self: center;
            }
            .label {
              width: 2.3em;
              height: 2.3em;
              @include font-size(17);
              position: relative;
              &::before {
                left: 50%;
                -webkit-transform: translate(-50%);
                transform: translate(-50%);
                bottom: 0;
                position: absolute;
              }
              span {
                @include font-size(10);
                padding: 2px 0 0;
                text-align: center;
                display: block;
                &::before {
                  content: "重要度";
                }
              }
            }
          }
          .label-high {
            color: $color-white;
            background-color: $color-pink;
            &::before {
              content: "高";
            }
          }
          .label-mid {
            color: $color-pink;
            background-color: $color-cream;
            border: 1px solid $color-pink;
            &::before {
              content: "中";
            }
          }
          .label-low {
            color: $color-green;
            background-color: $color-cream;
            border: 1px solid $color-green;
            &::before {
              content: "小";
            }
          }
        }
      }
    }
  }

  // 問題点詳細
  .my-td-section01 {
    .my-td-trouble {
      .my-td-trouble-title {
        @include font-size(20);
        text-align: center;
        position: relative;
        &::before {
          content: "";
          width: 1.5em;
          height: 1.5em;
          background-image: url(/images/mypage/trouble-detail-icon01.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
          margin-right: 5px;
          display: inline-block;
        }
        + p {
          margin: 20px 0;
        }
      }
    }
    .my-td-solution-arrow {
      width: 100%;
      @include font-size(26);
      font-weight: 600;
      color: $color-green;
      text-align: center;
      background-image: url(/images/mypage/trouble-detail-icon02.png);
      background-repeat: no-repeat;
      background-size: 80px 44px;
      background-position: center bottom;
      margin: 0 0 30px;
      padding: 10px 0 55px;
    }
    .my-td-solution {
      .my-td-solution-title {
        @include font-size(20);
        font-weight: 600;
        color: $color-pink;
        + p {
          margin: 10px 0 20px;
        }
      }
    }
    .form-field-single {
      display: block;
    }
  }

  // お悩みチェック
  .my-tc-section01 {
    .breadcrumb + p {
      margin: 20px 0;
    }
    .form-field:nth-child(even) {
      background-color: $color-gray;
    }
    .form-control-checkbox {
      width: 100%;
      padding: 14px 20px;
      label {
        @include font-size(20);
        padding-left: 2.5rem;
      }
      input[type=checkbox] + span {
        top: 0;
        left: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
      }
    }
    .form-field-footer {
      padding: 20px;
    }
  }

  // ステータス確認（横5文字*縦5行）
  $my-st-list-width: 104px;
  $my-st-list-height: 93px;
  .my-st-section01 {
    .my-st-member {
      background-color: $color-gray;
      display: flex;
      flex-wrap: wrap;
      padding: 5px 10px;
      margin: 20px 0;
      .my-st-member-image {
        width: 64px;
        align-self: center;
      }
      .my-st-member-info {
        width: calc( 100% - 74px );
        margin-left: 10px;
        p {
          span {
            display: block;
          }
        }
      }
      .my-st-member-button {
        width: 100%;
        padding: 10px 0;
        display: table;
        .form-control {
          width: 48%;
          display: table-cell;
          &:first-child {
            padding-right: 4%;
          }
          .button {
            @include font-size(14);
          }
        }
      }
    }
    .box-inner-no-padding {
      h3 {
        color: $color-white;
        @include font-size(24);
        text-align: center;
        background-color: $color-green;
      }
      .my-st-family-tree {
        background-color: $color-gray;
        padding: 20px;
        .my-st-family-group {
          width: 100%;
          max-width: 390px;
          color: $color-dark-gray;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          // 104px*158px（5文字*5列)
          div {
            ul {
              width: $my-st-list-width;
              min-height: $my-st-list-height;
              background-color: $color-white;
              border: 2px solid $color-green;
              display: inline-flex;
              align-items: center;
              flex-wrap: wrap;
              padding: 10px;
              li {
                width: 100%;
                display: block;
              }
            }
            &.is_selected {
              ul {
                border-color: $color-pink;
              }
            }
            .my-st-family-rel {
              width: $my-st-list-width;
              height: 24px;
              background-color: $color-gray;
              text-align: center;
            }
          }
          &.my-st-family-group1 {
            div {
              background-image: url(/images/mypage/status-border1.png);
              background-repeat: repeat-y;
              background-size: contain;
              background-position: center;
              padding-bottom: 40px;
            }
          }
          &.my-st-family-group2 {
            .my-st-family-group2-space {
              width: calc( 100% -  #{$my-st-list-width} * 2 );
              background-image: url(/images/mypage/status-border2.png);
              background-repeat: no-repeat;
              background-position: 50% -80%;
              padding-bottom: 40px;
              display: block;
            }
          }
          &.my-st-family-group3 {
            .my-st-family-group3-space1 {
              width: calc( 100% - (#{$my-st-list-width} * 2 + 20px) );
              background-image: url(/images/mypage/status-border3.png);
              background-repeat: no-repeat;
              background-position: 40px 500%;
              padding-bottom: 40px;
              display: block;
            }
            .my-st-family-group3-space2 {
              width: 20px;
              background-image: url(/images/mypage/status-border4.png);
              background-repeat: repeat-x;
              background-position: 0 30%;
              display: block;
            }
            .my-st-family-group3-1 {
              ul {
                border-color: $color-dark-gray;
              }
            }
            .my-st-family-group3-2 {
              background-image: url(/images/mypage/status-border1.png);
              background-repeat: repeat-y;
              background-size: contain;
              background-position: center;
              padding-bottom: 40px;
            }
          }
          &.my-st-family-group4 {
            .my-st-family-group4-2 {
              background-image: url(/images/mypage/status-border1.png);
              background-repeat: repeat-y;
              background-size: contain;
              background-position: center;
              padding-bottom: 40px;
            }
          }
        }
      }
    }

    .form-field-single {
      width: calc( 100% - 40px );
      display: block;
      margin: 30px auto 0;
    }
  }

  // お知らせ
  .is_notTouchDevice .my-not-section01 .my-notifications li .my-not-title:hover {
    color: $color-pink;
  }
  .my-not-section01 {
    .my-notifications {
      li {
        padding: 20px 0;
        border-bottom: 1px dashed $color-dark-gray;
        display: block;
        word-break: break-word;
        .my-not-title {
          color: $color-green;
          @include font-size(18);
          cursor: pointer;
        }
        .my-not-update {
          @include font-size(14);
          padding: 10px 0 0;
          span {
            content: "";
            width: 1em;
            height: 1em;
            background-image: url(/images/mypage/notifications-icon01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-y: bottom;
            margin-right: 4px;
            display: inline-block;
          }
        }
        .my-not-detail {
          padding: 20px 0 0;
        }
      }
    }
  }

  // 相続財産予定一覧
  .my-leg-section01 {
    h3 {
      @include font-size(24);
    }
    dl {
      @include font-size(18);
      dt {
        text-indent: 20px;
        margin: 20px 0 0;
      }
      dd {
        border-bottom: 1px solid $color-pink;
        padding: 4px 20px 8px;
        display: block;
        .my-leg-detail-prices {
          color: $font-color;
          @include font-line-height(18, 36);
          table {
            width: calc( 100% - 40px );
            padding: 0 20px;
          }
          th, td {
            width: 50%;
            font-weight: normal;
          }
          td {
            text-align: right;
          }
        }
      }
    }
    .my-leg-detail {
      margin-top: 30px;
      border-collapse: collapse;
      .my-leg-detail-left, .my-leg-detail-right {
        border:1px solid $color-dark-gray;
      }
      .my-leg-detail-title {
        width: 100%;
        color: $color-white;
        @include font-size(18);
        background-color: $font-color;
        text-align: center;
        padding: 10px 0;
      }
      .my-leg-detail-inner {
        padding: 40px 20px;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            flex-basis: 18%;
            max-width: 80px;
            margin: 0 .5%;
            text-align: center;
          }
        }
        .my-leg-detail-case, table {
          @include font-size(24);
          text-align: center;
          margin: 20px 0 0;
          span {
            @include font-size(16);
            display: block;
          }
        }
      }
      .my-leg-detail-right {
        canvas, table {
          margin: 0 auto;
        }
        table {
          margin-top: 30px;
          td {
            padding: 0 0 0 20px;
          }
        }
      }
    }
    .form-field-footer {
      margin: 40px 0;
    }
  }

  // マイページ診断
  .my-diag-section01 {
    .mypage-diagnosis-inner {
      background-color: $color-cream;
      padding: 20px 0;
      margin: -40px auto 40px;
    }
    h2 img.pc-none {
      width: 55%;
      margin: 0 auto 1rem;
    }
    .diagnosis-top-title {
      text-align: center; 
    }
    p.diagnosis-title {
      margin: .75rem 0;
      text-align: center;
      img {
        height: 36px;
      }
    }
    .form-field {
      .form-field-label {
        text-align: left;
        display: block;
      }
      .form-field-content {
        display: block;
      }
    }
    .form-control-text {
      input {
        width: 80%;
      }
      .form-control-unit {
        width: 2em;
        display: inline-block;
        text-align: right;
      }
    }
    .form-control-button {
      button {
        width: 90%;
        box-shadow: 1px 2px 4px gray;
        margin: 20px auto;
      }
    }
  }

  // 無料オンライン相談
  .my-resv-section01 {
    .reservation-form-wrapper {
      h3 {
        @include font-size(24);
      }
    }
    .label-require {
      font-size: .8em;
      color: $color-pink;
      vertical-align: top;
    }
    .form-field {
      @include font-size(18);
      padding: 10px 0;
      .form-field-label {
        width: 100%;
      }
      .form-field-content {
        width: 100%;
        display: table;
        .form-control {
          width: 50%;
          display: table-cell;
          vertical-align: middle;
        }
        .form-control-unit {
          padding-top: .75em;
          display: inline-block;
        }
      }
      input[type=date], select {
        border-color: $color-pink;
      }
    }
    .confirm-field {
      @include font-size(18);
      border-bottom: 1px solid $color-pink;
      padding: 20px 10px 10px 10px;
      &:first-of-type {
        margin-top: 10px;
      }
    }
    .complete-image {
      width: 260px;
      margin: 20px auto 50px;
    }
    .form-field-footer {
      margin: 30px 0 0;
    }
  }
}

@include desktop {
  .mypage-header-button {
    .form-control {
      width: 30%;
      margin: 0;
      float: right;
    }
  }

  .mypage-status {
    ul {
      flex-wrap: nowrap;
      li {
        flex-basis: 25%;
        @include font-size(18);
      }
    }
  }

  .form-field-single {
    text-align: right;
    margin: 0;
  }

  // 重要度チェック
  .my-tl-section01 {
    .box-inner-no-padding {
      display: flex;
      justify-content: space-between;
      .my-tl-box {
        width: 47%;
        margin: 0;
        &.my-tl-box2 {
          h3 {
            border: 1px solid $color-green;
          }
        }
      }
    }
  }

  // 問題点詳細
  .my-td-section01 {
    .my-td-trouble .my-td-trouble-title {
      text-align: left;
      + p {
        margin: 10px 0 20px;
      }
    }
    .form-control {
      width: 60%;
      display: block;
      margin: 0 auto 20px;
    }
  }

  // お悩みチェック
  .my-tc-section01 {
    .form-field-footer {
      width: 400px;
      padding: 60px 0 40px;
      margin: 0 auto;
    }
  }

  // ステータス確認
  $my-st-box-width: 570px;
  $my-st-list-width: 104px;
  $my-st-list-height: 9393px;
  .my-st-section01 {
    .my-st-member {
      padding: 5px 5px 5px 20px;
      margin: 20px 0;
      .my-st-member-image {
        width: 64px;
      }
      .my-st-member-info {
        width: calc( 60% - 80px );
        align-self: center;
        margin-left: 16px;
        p {
          span {
            display: inline-block;
            margin-right: 2em;
          }
        }
      }
      .my-st-member-button {
        width: 40%;
        align-self: center;
        padding: 0;
        .form-control {
          width: 49%;
          &:first-child {
            padding-right: 10px;
          }
        }
      }
    }
    .box-inner-no-padding {
      h3 {
        color: $color-white;
        @include font-size(24);
        text-align: center;
        background-color: $color-green;
      }
      .my-st-family-tree {
        .my-st-family-group {
          max-width: $my-st-box-width;
          &.my-st-family-group2 {
            .my-st-family-group2-space {
              background-position: 50% 100%;
              background-size: contain;
            }
          }
          &.my-st-family-group3 {
            .my-st-family-group3-space1 {
              width: calc( #{$my-st-box-width} / 2 - #{$my-st-list-width} / 2 );
              background-image: url(/images/mypage/status-border3.png);
              background-repeat: no-repeat;
              background-position: 40px 455%;
              padding-bottom: 40px;
              display: block;
            }
            .my-st-family-group3-space2 {
              width: calc( #{$my-st-box-width} / 2 - #{$my-st-list-width} - #{$my-st-list-width} / 2 );
              background-image: url(/images/mypage/status-border4.png);
              background-repeat: repeat-x;
              background-position: 0 26%;
              display: block;
            }
            .my-st-family-group3-1 {
              ul {
                border-color: $color-dark-gray;
              }
            }
            .my-st-family-group3-2 {
              background-image: url(/images/mypage/status-border1.png);
              background-repeat: repeat-y;
              background-size: contain;
              background-position: center;
              padding-bottom: 40px;
            }
          }
          &.my-st-family-group4 {
            .my-st-family-group4-2 {
              background-image: url(/images/mypage/status-border1.png);
              background-repeat: repeat-y;
              background-size: contain;
              background-position: center;
              padding-bottom: 40px;
            }
          }
        }
      }
    }
    .form-field-single {
      width: 360px;
    }
  }

  // 相続財産予定一覧
  .my-leg-section01 {
    h3 {
      @include font-size(34);
    }
    dl {
      @include font-size(30);
      display: flex;
      flex-wrap: wrap;
      dt {
        flex-basis: 42%;
        text-indent: .5em;
        border-right: 1px solid $color-pink;
        border-bottom: 1px solid $color-pink;
        margin: 0;
        padding: 14px 0 4px;
      }
      dd {
        flex-basis: 54%;
        padding: 14px .5em 4px;
        text-align: right;
        .my-leg-detail-prices {
          width: 100%;
          @include font-line-height(30, 60);
          text-align: left;
          margin: 0;
          table {
            width: 100%;
            padding: 0;
            th {
              text-indent: .5em;
            }
          }
        }
      }
    }
    .my-leg-detail {
      width: 80%;
      display: table;
      margin: 30px auto 0;
      .my-leg-detail-left, .my-leg-detail-right {
        display: table-cell;
        vertical-align: top;
      }
      .my-leg-detail-left {
        width: 40%;
        .my-leg-detail-inner {
          padding: 80px 20px 40px;
        }
      }
      .my-leg-detail-right {
        width: 60%;
        .my-leg-detail-inner {
          display: table;
          div {
            width: 50%;
            display: table-cell;
            padding: 40px 0 20px;
            vertical-align: middle;
            table {
              margin: 0;
            }
          }
        }
      }
    }
    .form-field-footer {
      .form-control {
        width: 40%;
        margin: 0 auto;
      }
    }
  }

  // マイページ診断
  .my-diag-section01 {
    h2 img.sp-none {
      height: 59px;
      margin: 0 auto .5rem;
    }
    .diagnosis-form {
      width: 84%;
      margin:0 auto;
    }
    .form-field-wrapper {
      width: 38%;
      display: block;
      float: left;
      &:first-of-type {
        width: 62%;
      }
      &::after {
        @include clearfix;
      }
    }
    .form-field {
      margin: 5px 0;
      .form-field-label {
        width: 160px;
        float: left;
      }
    }
    .form-control-text {
      text-align: center;
      input {
        width: 90px;
      }
      .form-control-unit {
        display: inline;
      }
    }
    .form-field-footer {
      padding: 20px 0;
      clear: both;
      .form-control-button {
        input[type=submit], button {
          width: 360px;
          padding: .5em 0;
          margin: 0 auto;
        }
      }
    }
  }

  // 無料オンライン相談
  .my-resv-section01 {
    .reservation-form-wrapper {
      h3 {
        @include font-size(26);
      }
      p {
        @include font-size(20);
      }
    }
    form {
      margin: 10px 0 10px 10px;
    }
    .form-field {
      display: flex;
      padding: 10px 0;
      align-items: center;
      .form-field-label {
        flex-basis: 36%;
        @include font-size(26);
      }
      .form-field-content {
        .form-control {
          width: auto;
          display: inline-flex;
          input[type=date] {
            width: 300px;
            padding: 0.8em .375em;
          }
          select {
            width: 200px;
            margin-left: .75em;
          }
        }
      }
    }
    .confirm-field {
      width: 100%;
      @include font-size(24);
      padding-bottom: 0;
      display: table;
      .confirm-label {
        width: 35%;
        border-right: 1px solid $color-pink;
        display: table-cell;
        padding: 0 0 10px 0;
      }
      .confirm-content {
        display: table-cell;
        padding: 0 0 10px 20px;
      }
    }
    .complete-image {
      width: 350px;
    }
    .form-field-footer {
      width: 400px;
      margin: 30px auto 0;
    }
    .confirm-field + .form-field-footer {
      margin-top: 50px;
    }
  }
}