section {
    display: flex;
    flex-direction: column;

    .breadcrumbs {
        width: 980px;
        margin: 10px auto 0;

        ul {
            display: table;
            font-size: 13px;
            margin-top: 3%;
            margin-bottom: 1%;
            margin-left: 1%;

            li {
                margin: 0 10px 0 0;
                font-size: 13px;
                float: left;
                font-size: 17px;

                :first-child::before {
                    display: none;

                    //     padding: 0 3px 0 0;
                    // content: ">";
                    // font-family: FontAwesome;
                    // font-size: 14px;
                    ::before {
                        padding: 0 10px 0 0;
                        content: ">";
                        font-family: FontAwesome;
                        // font-size: 14px;
                    }
                }
            }
        }
    }

    .top-image {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 85vw;
    }

    main {
        min-height: 100vh;
        display: flex;
        margin-top: 10px;

        .local-nav {
            width: 200px;
            text-align: center;
            // background-color: #888;
            // color: #fff;
            margin-left: 8%;
            margin-top: 15px;
            float: left;

            .local-nav-content01 {
                margin-bottom: 80px;
            }

            .local-nav-content02 {
                margin-bottom: 80px;
            }


            .local-nav-content01-title {
                background-color: skyblue;
                color: #fff;
            }

            .local-nav-content01-title-text {
                width: 100px;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-01 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-02 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-03 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;

                font-size: 21px;
            }

            .local-nav-content01-04 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-05 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-06 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-07 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-08 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-09 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-10 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-11 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content01-12 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: skyblue;
                border-width: thin;
                font-size: 21px;
            }


            .local-nav-content01-01 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-02 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-03 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-04 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-05 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-06 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-07 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-08 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-09 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-10 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-11 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content01-12 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }






            .local-nav-content02-title {
                background-color: orange;
                color: #fff;
            }

            .local-nav-content02-title p {
                width: 100px;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-01 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content02-02 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content02-03 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;

                font-size: 21px;
            }

            .local-nav-content02-04 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content02-05 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content02-06 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content02-07 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content02-08 {
                border: solid;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                /* 上辺・左辺・右辺が透明になる */
                border-color: orange;
                border-width: thin;
                font-size: 21px;
            }

            .local-nav-content02-01 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-02 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-03 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-04 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-05 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-06 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-07 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .local-nav-content02-08 p {
                width: 85%;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .content {
            flex: 1;
            // background-color: #eee;
            text-align: center;
            margin-left: 5%;
            margin-right: 8%;
            // float: right;
            display: flex;
            flex-direction: column;

            .content-title-box {
                margin-top: 20px;
                margin-bottom: 80px;

            }

            .content01-little-box {
                background-color: orange;
                width: 20px;
                height: 20px;
                // display: inline-block;
                /* 文字の長さにwidthを合わせる */
                float: left;
                margin-top: 8px;

            }

            .content01-title {
                margin-left: 10px;
                font-size: 25px;
                float: left;

            }

            .content01-text01 {
                margin-bottom: 20px;
            }

            .content01-circle {
                margin-bottom: 20px;
            }

            .content01-image {
                margin-bottom: 80px;
            }


            .content02-little-box {
                background-color: skyblue;
                width: 20px;
                height: 20px;
                // display: inline-block;
                /* 文字の長さにwidthを合わせる */
                float: left;
                margin-top: 8px;

            }

            .content02-title {
                margin-left: 10px;
                font-size: 25px;
                float: left;

            }



        }
    }
}

// .groval-nav {
//     height: 70px;
//     text-align: center;
//     background-color: #888;
//     color: #fff;
// }













@media screen and (max-width: 767px) {
    /* スマホ対応 */


    // <<---- ハンバーガーメニュー ---->>
    .head-bar01 {
        // background: #ccc;
        box-sizing: border-box;
        height: 50px;
        padding: 10px 2.5%;

        a {
            text-align: left;
            // float: left;
        }
    }

    .menu-btn01,
    .menu-btn01 span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;

    }

    .menu-btn01 {
        display: block;
        float: right;
        margin: 0 auto;
        position: relative;
        width: 40px;
        // height: 30px;
        color: white;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #000;

            :nth-of-type(1) {
                top: 0;

                :nth-of-type(2) {
                    top: 13px;

                    :nth-of-type(3) {
                        bottom: 0;

                    }

                }

            }

        }

    }

    .sp-menu01 {
        display: none;

        li {
            box-sizing: border-box;
            border-bottom: 1px solid #fff;

            a {
                // background: #000;
                box-sizing: border-box;
                // color: #fff;
                display: block;
                font-size: 16px;
                line-height: 26px;
                padding: 5px 10px;
                text-decoration: none;
                width: 100%;

            }

        }

    }





    .head-bar02 {
        // background: #ccc;
        box-sizing: border-box;
        height: 50px;
        padding: 10px 2.5%;
    }

    .menu-btn02,
    .menu-btn02 span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;

    }

    .menu-btn02 {
        display: block;
        float: right;
        margin: 0 auto;
        position: relative;
        width: 40px;
        // height: 30px;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #000;

            :nth-of-type(1) {
                top: 0;

                :nth-of-type(2) {
                    top: 13px;

                    :nth-of-type(3) {
                        bottom: 0;

                    }

                }


            }

        }

    }


    .sp-menu02 {
        display: none;

        li {
            box-sizing: border-box;
            border-bottom: 1px solid #fff;

            a {
                // background: #000;
                box-sizing: border-box;
                // color: #fff;
                display: block;
                font-size: 16px;
                line-height: 26px;
                padding: 5px 10px;
                text-decoration: none;
                width: 100%;

            }

        }

    }

    section {
        display: flex;
        /* Flexコンテナ―に設定 */
        flex-direction: column;

        .breadcrumbs {
            display: none;
        }


        /* コンテンツの配置を「上→下」に設定 */
        .top-image {
            order: 3;
            width: 100vw;
            margin: 0;
            display: none;
        }

        main {
            margin: 0;
            flex-direction: column;

            .local-nav {
                margin: 0;
                width: 100vw;

                // .local-nav-content {
                //     margin: 0;

                .local-nav-content01 {
                    order: 1;
                    width: 100vw;
                    float: none;
                    margin: 0;
                }

                .local-nav-content02 {
                    order: 2;
                    width: 100vw;
                    float: none;
                    margin: 0;
                }

            }

            .top-image02 {
                width: 100vw;
                padding: 0;
            }

            .content {
                clear: both;

                .content-title-box {
                    margin-top: 60px;
                    margin-bottom: 20px;
                }

                .content01-little-box {
                    width: 15px;
                    height: 15px;
                }

                .content01-title {
                    // order: 4;
                    font-size: 19px;

                }

                .content01-image {
                    margin-bottom: 20px;
                }

                .content02-little-box {
                    width: 15px;
                    height: 15px;
                }

                .content02-title {
                    font-size: 19px;

                }

            }

        }

    }

}




@media screen and (min-width: 768px) {
    /* pc対応 */


    .top-image {
        text-align: center;
        margin-left: 7%;
    }

    .content-title-box {
        width: 50vw;
    }

    .top-image02 {
        display: none;
    }

    .head-bar01 {
        height: 70px;
        width: 100px;
        margin-left: 25%;
        padding-top: 11px;
    }

    .head-bar02 {
        height: 70px;
        width: 100px;
        margin-left: 25%;
        padding-top: 11px;
    }
}