@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.color-pink {
  color: #EF8971;
}

.color-green {
  color: #98BF29;
}

.icon-right-arrow::before {
  content: "\025b6";
  margin-right: 4px;
}

/* ----------------------------------------------------------------
 Setting
-------------------------------------------------------------------*/

/* ----------------------------------------------------------------
header
-------------------------------------------------------------------*/

/*
@import "_compornent/_link";
@import "_compornent/_title";
@import "_compornent/_button";
@import "_compornent/_field";
@import "_compornent/_section";
@import "_compornent/_icon";
@import "_compornent/_search";
@import "_compornent/_list";
@import "_compornent/_tag";
*/

@media all {
  .sp-none {
    display: none;
  }
  .pc-none {
    display: block;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    color: #707070;
  }
  img {
    vertical-align: middle;
  }
  a, a:hover {
    color: #707070;
    text-decoration: none;
  }
  iframe {
    max-width: 100%;
  }
  .is_notTouchDevice a:hover {
    opacity: .8;
  }
  .header, .main, .footer, .box-wrapper {
    width: 100%;
    height: auto;
    min-width: 320px;
  }
  .box-wrapper {
    display: block;
    position: relative;
  }
  .box-wrapper .box-inner {
    margin: 0 auto;
  }
  .header::after, .main::after, .footer::after, .box-wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .header .header-logo {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: relative;
  }
  .header .header-logo .header-site-logo img {
    width: 157px;
  }
  .header .header-logo a.navbar-opener {
    position: absolute;
    background-image: url(/images/common/navbar-opener.png);
    background-size: contain;
    right: 20px;
    top: 22px;
    width: 40px;
    height: 40px;
  }
  .header .navbar-block {
    left: 0;
    top: 91px;
    width: 100%;
    height: 165px;
    display: none;
    position: absolute;
    background-color: #98BF29;
    z-index: 100;
  }
  .header .navbar-block ul {
    width: 100%;
    max-width: 320px;
    display: block;
    margin: 0 auto;
  }
  .header .navbar-block ul li {
    text-indent: -9999%;
    width: 33.33%;
    text-align: center;
    padding: 18px 0 0;
    display: block;
    float: left;
  }
  .header .navbar-block ul li a {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  }
  .header .navbar-block ul li:nth-child(n + 4) {
    width: 50%;
  }
  .header .navbar-block ul .nav-home a {
    height: 62px;
    background-image: url(/images/common/navbar-home-sp.png);
  }
  .header .navbar-block ul .nav-inquiry a {
    height: 61px;
    background-image: url(/images/common/navbar-inquiry-sp.png);
  }
  .header .navbar-block ul .nav-faq a {
    height: 62px;
    background-image: url(/images/common/navbar-faq-sp.png);
  }
  .header .navbar-block ul .nav-registration a {
    height: 40px;
    background-image: url(/images/common/navbar-resistration-sp.png);
  }
  .header .navbar-block ul .nav-login a {
    height: 40px;
    background-image: url(/images/common/navbar-mypage-login-sp.png);
  }
  .header .header-concept {
    border-top: 1px solid #EF8971;
    border-bottom: 1px solid #EF8971;
  }
  .header .header-concept .box-inner {
    text-align: center;
    padding: 15px 0;
    color: #EF8971;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.3;
  }
  .header .header-concept .box-inner span {
    color: #707070;
    font-size: 14px;
    font-size: 0.875rem;
    padding-top: 4px;
    display: block;
  }
  .footer {
    background-color: #F7F7F7;
    padding-bottom: calc(100% * 190 / 375);
  }
  .footer .footer-logo {
    text-align: center;
    padding: 20px 0;
  }
  .footer .footer-logo img {
    width: 200px;
    height: auto;
  }
  .footer .footer-nav {
    padding: 12px 0;
    margin: 0 auto;
  }
  .footer .footer-nav ul {
    display: table;
    margin: 0 auto;
  }
  .footer .footer-nav ul li {
    display: block;
  }
  .footer .footer-nav ul li a {
    color: inherit;
  }
  .footer .footer-nav.footer-nav1 {
    width: 90%;
    border-top: 1px solid #A0DDCC;
    border-bottom: 1px solid #A0DDCC;
  }
  .footer .footer-nav.footer-nav1 li {
    color: #A0DDCC;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 2;
  }
  .footer .footer-nav.footer-nav2 li {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 2.57143;
  }
  .footer .footer-nav li::before {
    content: "■";
    display: inline-block;
    margin-right: -0.25em;
  }
  .footer .footer-copyrights {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.33333;
    padding: 0 0 10px;
    text-align: center;
  }
  .quick-diagnosis {
    min-width: 320px;
    left: 0;
    right: initial;
    bottom: 0;
    position: fixed;
    z-index: 99;
  }
  .form-field-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .form-field::after {
    content: "";
    display: table;
    clear: both;
  }
  .form-field-label {
    margin: 1.25rem 0 .35rem;
  }
  .form-field-content {
    height: calc(2.5rem + 2px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-control {
    /* 入力系インプット */
  }
  .form-control input[type=text], .form-control input[type=number], .form-control input[type=email], .form-control input[type=tel], .form-control input[type=password] {
    display: inline-block;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #98BF29;
    border-radius: 2px;
    color: #707070;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-left: .35rem;
    padding: .75rem;
  }
  .form-control input[type=text]:hover, .form-control input[type=number]:hover, .form-control input[type=email]:hover, .form-control input[type=tel]:hover, .form-control input[type=password]:hover {
    border-color: #EF8971;
  }
  .form-control input[type=text]:focus, .form-control input[type=number]:focus, .form-control input[type=email]:focus, .form-control input[type=tel]:focus, .form-control input[type=password]:focus {
    outline-color: #EF8971;
  }
  .form-control input[type=text]:disabled, .form-control input[type=number]:disabled, .form-control input[type=email]:disabled, .form-control input[type=tel]:disabled, .form-control input[type=password]:disabled {
    border: 1px solid #C1C1C1;
    background-color: #F7F7F7;
  }
  /* ラジオボタン系インプット */
  .form-control-radio {
    width: 50%;
  }
  .form-control-radio label {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 2rem;
    box-sizing: border-box;
    cursor: pointer;
  }
  .form-control-radio input[type=radio], .form-control-radio input[type=checkbox] {
    position: absolute;
    visibility: hidden;
  }
  .form-control-radio input[type=radio] + span, .form-control-radio input[type=checkbox] + span {
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #98BF29;
    border-radius: 100%;
    z-index: 5;
    display: block;
    position: absolute;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  .form-control-radio input[type=radio]:checked + span, .form-control-radio input[type=checkbox]:checked + span {
    border-width: 8px;
  }
  .form-control-radio input[type=radio]:disabled + span, .form-control-radio input[type=checkbox]:disabled + span {
    border: 1px solid #C1C1C1;
    background-color: #F7F7F7;
  }
  /* ボタン系インプット */
  .form-control-button input[type=submit], .form-control-button button {
    width: 100%;
    text-align: center;
    display: block;
    color: #ffffff;
    background-color: #98BF29;
    border: none;
    font-size: 24px;
    font-size: 1.5rem;
    padding: .75rem 0;
    position: relative;
    outline-color: #98BF29;
    box-sizing: border-box;
  }
  .is_notTouchDevice .form-control-button input[type=submit]:hover, .is_notTouchDevice .form-control-button input[type=submit]:focus, .is_notTouchDevice .form-control-button button:hover, .is_notTouchDevice .form-control-button button:focus {
    background-color: #EF8971;
    outline-color: #EF8971;
  }
  .form-control-button input[type=submit]::after, .form-control-button button::after {
    content: "＞";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: .95rem;
    position: absolute;
  }
  .form-control-unit {
    margin-left: .75rem;
  }
  /* 注釈 */
  .form-control-help::before {
    content: "※";
    margin-right: .5rem;
  }
  .form-control-help {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    text-align: left;
    margin-top: 10px;
  }
  .title-with-border {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-size: 1.75rem;
  }
  .title-with-border::before, .title-with-border::after {
    border-top: 1px solid #98BF29;
    content: "";
    width: calc((100% - 8em) / 2);
  }
  .title-with-border::before {
    margin-right: 1em;
  }
  .title-with-border::after {
    margin-left: 1em;
  }
}

@media all and (min-width: 769px) {
  .sp-none {
    display: block;
  }
  .pc-none {
    display: none;
  }
  .header, .main, .footer, .box-wrapper {
    min-width: 1000px;
  }
  .box-inner {
    width: 1000px;
  }
  .header .box-inner {
    display: table;
    padding: 20px 0;
  }
  .header .header-logo {
    padding: 0;
    width: 200px;
    display: table-cell;
  }
  .header .header-logo .header-site-logo img {
    width: 200px;
  }
  .header .header-logo a.navbar-opener {
    display: none;
  }
  .header .navbar-block {
    position: static;
    width: 730px;
    height: auto;
    padding-left: 70px;
    display: table-cell;
    background-color: inherit;
    vertical-align: middle;
    z-index: auto;
  }
  .header .navbar-block.show {
    display: table-cell !important;
  }
  .header .navbar-block ul {
    max-width: 100%;
    margin: 0;
  }
  .header .navbar-block ul li {
    width: auto;
    display: inline-block;
    padding: 0;
    float: left;
  }
  .header .navbar-block ul li a {
    margin-right: 20px;
  }
  .header .navbar-block ul li:nth-child(n + 4) {
    width: auto;
  }
  .header .navbar-block ul li:last-of-type a {
    margin-right: 0;
  }
  .header .navbar-block ul .nav-home a {
    width: 79px;
    height: 42px;
    background-image: url(/images/common/navbar-home.png);
  }
  .header .navbar-block ul .nav-inquiry a {
    width: 125px;
    height: 42px;
    background-image: url(/images/common/navbar-inquiry.png);
  }
  .header .navbar-block ul .nav-faq a {
    width: 130px;
    height: 42px;
    background-image: url(/images/common/navbar-faq.png);
  }
  .header .navbar-block ul .nav-registration a {
    width: 103px;
    height: 42px;
    background-image: url(/images/common/navbar-resistration.png);
  }
  .header .navbar-block ul .nav-login a {
    width: 103px;
    height: 42px;
    background-image: url(/images/common/navbar-mypage-login.png);
  }
  .header .header-concept .box-inner {
    padding: 10px 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.3;
  }
  .header .header-concept .box-inner span {
    font-size: 16px;
    font-size: 1rem;
    padding-top: 0;
    display: inline;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer .footer-logo {
    padding: 30px 0;
  }
  .footer .footer-nav {
    padding: 0;
  }
  .footer .footer-nav ul li {
    padding-right: 10px;
    display: table-cell;
  }
  .footer .footer-nav.footer-nav1 {
    width: 610px;
    border-top: none;
    border-bottom: none;
    padding-bottom: 10px;
  }
  .footer .footer-copyrights {
    padding: 20px 0 30px;
  }
  .quick-diagnosis {
    min-width: auto;
    left: initial;
    right: 0;
  }
  .form-field-wrapper {
    width: 100%;
  }
  .form-field-label {
    margin: 0.5rem 0 0;
  }
  .form-control {
    /* 入力系インプット */
  }
  .form-control input[type=text], .form-control input[type=number], .form-control input[type=email], .form-control input[type=tel], .form-control input[type=password] {
    margin-left: .5rem;
    padding: .375rem;
  }
}
/*# sourceMappingURL=sourcemaps/style.css.map */
