{% extends 'layout.html' %}
{% set page = {
    "css": ["mypage"],
    "title": "マイページ診断 | "
} %}
{% set breadcrumb_list = [
  {
    "url": "/",
    "text": "ホーム"
  }, {
    "url": "/mypage/",
    "text": "マイページ"
  }, {
    "url": "",
    "text": "マイページ診断"
  }
] %}
{% block content %}

<section class="box-wrapper my-diag-section01">
  <div class="box-inner">
  {% include '_breadcrumb.html' %}

  </div>
  <div class="box-inner mypage-diagnosis-inner">
    <div class="diagnosis-top-title">
      <h2>
        <img src="/images/mypage/diagnosis-title00.png" alt="終活に必要な資金マイページ診断" class="sp-none">
        <img src="/images/mypage/diagnosis-title00-sp.png" alt="終活に必要な資金マイページ診断" class="pc-none">
      </h2>
      <p>【STEP1】～【STEP2】を<br>入力すれば、相続税簡易試算できます。</p>
    </div>
    <div class="diagnosis-form">
      <form action="#" method="POST" id="diagnosis">
        <div class="form-field-wrapper">
          <p class="diagnosis-title"><img src="/images/mypage/diagnosis-title01.png" alt="Step.1 相続財産額の設定"></p>
          <div class="form-field">
            <div class="form-field-label">土地の想定価格</div>
            <div class="form-field">
              <div class="form-control form-control-text">
                <input type="number" name="land_price" min="0" max="999999"><span class="form-control-unit">万円</span>
              </div>
            </div>
          </div>
          <div class="form-field">
            <div class="form-field-label">建物の想定価格</div>
            <div class="form-field">
              <div class="form-control form-control-text">
                <input type="number" name="building_price" min="0" max="999999"><span class="form-control-unit">万円</span>
              </div>
            </div>
          </div>
          <div class="form-field">
            <div class="form-field-label">金融資産合計</div>
            <div class="form-field">
              <div class="form-control form-control-text">
                <input type="number" name="financial_price" min="0" max="999999"><span class="form-control-unit">万円</span>
              </div>
            </div>
          </div>
          <div class="form-field">
            <div class="form-field-label">借り入れ金などの合計</div>
            <div class="form-field">
              <div class="form-control form-control-text">
                <input type="number" name="loan_price" min="0" max="999999"><span class="form-control-unit">万円</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-field-wrapper">
          <p class="diagnosis-title"><img src="/images/mypage/diagnosis-title02.png" alt="Step.2 配偶者の財産取得割合の設定"></p>
          <div class="form-field form-field-single">
            <div class="form-control form-control-text">
              <input type="number" min="0" max="100"><span class="form-control-unit">%</span>
            </div>
            <p class="form-control-help">配偶者「無」の場合には、「0」を選択してください</p>
          </div>
        </div>

        <div class="form-field-footer">
          <div class="form-control form-control-button">
            <button class="button">診断結果を見る</button>
          </div>
        </div>
      </form>
    </div>
  
  </div>
</section>

{% endblock %}