{% extends 'layout.html' %}
{% set page = {
    "css": ["mypage"],
    "title": "お知らせ | "
} %}
{% set breadcrumb_list = [
  {
    "url": "/",
    "text": "ホーム"
  }, {
    "url": "/mypage/",
    "text": "マイページ"
  }, {
    "url": "",
    "text": "お知らせ"
  }
] %}
{% set lists = [
  [ "1分前", 
    "はなまるより、●○●○●○●○●○○●○●○○●○●○○●○●○のお知らせがあります。",
    "上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。"
  ], [
    "1分前",
    "はなまるより、●○●○●○●○●○についてのお知らせがあります。",
    "上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。"
  ], [
    "1分前",
    "はなまるより、●○●○●○●○●○のお知らせがあります。",
    "上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。"
  ], [
    "1分前",
    "はなまるより、●○●○●○●○●○○●○●○○●○●○○●○●○のお知らせがあります。",
    "上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。"
  ], [
    "1分前",
    "はなまるより、●○●○●○●○●○についてのお知らせがあります。",
    "上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。"
  ], [
    "1分前",
    "はなまるより、●○●○●○●○●○のお知らせがあります。",
    "上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。上のタイトルをクリックすると、お知らせ情報の詳細がアコーディオンで広がって確認できます。"
  ]
] %}
{% block content %}

<section class="box-wrapper my-not-section01">
  <div class="box-inner">
  {% include '_breadcrumb.html' %}

    <div class="mypage-status">
       <ul>
         <li>重要度チェック</li>
         <li class="current">お知らせ</li>
         <li>ステータス確認</li>
         <li>相続予定財産情報</li>
       </ul>
    </div>

  <ul class="my-notifications">
    {% for time, title, detail in lists %}
      <li>
        <p class="my-not-title js-accordion">{{title}}</p>
        <p class="my-not-update"><span></span>{{time}}</p>
        <p class="my-not-detail" data-rel="js-accordion"{% if loop.first %} data-show="1"{% endif %}>{{detail}}</p>
      </li>
    {% endfor %}
  </ul>
  </div>
</section>

{% endblock %}