/* ----------------------------------------------------------------
header
-------------------------------------------------------------------*/
@include touch {
  .header {
    .header-logo {
      width: 100%;
      padding: 20px 0;
      text-align: center;
      position: relative;
      .header-site-logo img {
        width: 157px;
      }
      a.navbar-opener {
        position: absolute;
        background-image: url(/images/common/navbar-opener.png);
        background-size: contain;
        right: 20px;
        top: 22px;
        width: 40px;
        height: 40px;
      }
    }
    .navbar-block {
      left: 0;
      top: 91px;
      width: 100%;
      display: none;
      position: absolute;
      background-color: $color-green;
      z-index: 100;
      ul {
        width: 100%;
        min-width: $content-layout-sp-width;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          width: 33.33%;
          text-align: center;
          a {
            color: $color-white;
            display: inline-block;
            padding: 10px;
            p {
              white-space: nowrap;
              line-height: 1.2;
            }
            span {
              width: 40px;
              height: 40px;
              background-repeat: no-repeat;
              background-position: center top;
              background-size: contain;
              display: block;
              margin: 0 auto 4px;
            }
          }
        }
        li:nth-child(4) {
          width: 50%;
          padding-left: 10%;
        }
        li:nth-child(5) {
          width: 50%;
          padding-right: 10%;
        }
        .nav-home a span {
          background-image: url(/images/common/navbar-home-sp.png);
        }
        .nav-inquiry a span {
          background-image: url(/images/common/navbar-inquiry-sp.png);
        }
        .nav-faq a span {
          background-image: url(/images/common/navbar-faq-sp.png);
        }
        .nav-registration a span {
          background-image: url(/images/common/navbar-resistration-sp.png);
        }
        .nav-login a span {
          background-image: url(/images/common/navbar-mypage-login-sp.png);
        }
        .nav-mypage a span {
          background-image: url(/images/common/navbar-mypage-sp.png);
        }
        .nav-user a span {
          background-image: url(/images/common/navbar-user-sp.png);
        }
      }
    }
    .header-concept {
      border-top: 1px solid $color-pink;
      border-bottom: 1px solid $color-pink;
      .box-inner {
        text-align: center;
        padding: 15px 0;
        color: $color-pink;
        @include font-line-height(20, 26);
        span {
          color: $font-color;
          @include font-size(14);
          padding-top: 4px;
          display: block;
        }
      }
    }
  }
}

@include desktop {
  .header {
    .box-inner {
      display: table;
      padding: 20px 0;
    }
    .header-logo {
      padding: 0;
      width: 200px;
      display: table-cell;
      vertical-align: middle;
      .header-site-logo img {
        width: 200px;
      }
      a.navbar-opener {
        display: none;
      }
    }
    .navbar-block {
      position: static;
      width: 730px;
      padding-left: 70px;
      background-color: inherit;
      z-index: auto;
      display: table-cell;
      vertical-align: middle;
      &.show {
        display: table-cell !important;
      }
      ul {
        display: inline-flex;
        flex-wrap: nowrap;
        li {
          width: auto;
          text-align: left;
          a {
            color: $font-color;
            padding: 0;
            display: table;
            vertical-align: middle;
            p {
              display: table-cell;
              padding-left: 6px;
              vertical-align: inherit;
            }
            span {
              display: table-cell;
            }
          }
        }
        li:nth-child(4) {
          width: auto;
          padding-left: 0;
        }
        li:nth-child(5) {
          width: auto;
          padding-right: 0;
        }
        .nav-home a span {
          background-image: url(/images/common/navbar-home.png);
        }
        .nav-inquiry a span {
          background-image: url(/images/common/navbar-inquiry.png);
        }
        .nav-faq a span {
          background-image: url(/images/common/navbar-faq.png);
        }
        .nav-registration a span {
          background-image: url(/images/common/navbar-resistration.png);
        }
        .nav-login a span {
          background-image: url(/images/common/navbar-mypage-login.png);
        }
        .nav-mypage a span {
          background-image: url(/images/common/navbar-mypage.png);
        }
        .nav-user a span {
          background-image: url(/images/common/navbar-user.png);
        }
      }
    }
    .header-concept {
      .box-inner {
        padding: 10px 0;
        @include font-line-height(20, 26);
        span {
          @include font-size(16);
          padding-top: 0;
          display: inline;
        }
      }
    }
  }
}