@include touch {
  .form-field-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .form-field::after {
    @include clearfix;
  }
  .form-field-label {
    margin: 1.25rem 0 .35rem;
  }
  .form-field-content {
    height: calc(2.5rem + 2px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-control {
    /* 入力系インプット */
    input[type=text], input[type=number], input[type=email], input[type=tel], input[type=password], input[type=date], input[type=datetime]  {
      display: inline-block;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid $color-green;
      border-radius: 2px;
      color: $font-color;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin-left: .35rem;
      padding: .75rem;
      &:hover {
        border-color: $color-pink;
      }
      &:focus {
        outline-color: $color-pink;
      }
      &:disabled {
        border: 1px solid $color-disabled;
        background-color: $color-gray;
      }
    }
  }
  /* インプット用の単位 */
  .form-control-unit {
    margin-left: .75rem;
  }
  /* 注釈 */
  .form-control-help::before {
    content: "※";
    margin-right: .5rem;
  }
  .form-control-help {
    @include font-line-height(12, 24);
    text-align: left;
    margin-top: 10px;
  }
  /* セレクトボックス */
  .form-control-select {
    select {
      display: inline-block;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid $color-green;
      border-radius: 2px;
      color: $font-color;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin-left: .35rem;
      padding: .75rem;
      float: left;
    }
  }
  /* ラジオボタン/チェックボックス系インプット */
  .form-control-radio, .form-control-checkbox {
    width: 50%;
    label {
      width: 100%;
      display: block;
      position: relative;
      padding-left: 2rem;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
  .form-control-radio {
    input[type=radio] {
      position: absolute;
      visibility: hidden;
      & + span {
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        height: 1.5rem;
        width: 1.5rem;
        background-color: $color-white;
        border: 1px solid $color-green;
        border-radius: 100%;
        z-index: 5;
        display: block;
        position: absolute;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
      }
      &:checked + span {
        border-width: 8px;
      }
      &:disabled + span {
        border: 1px solid $color-disabled;
        background-color: $color-gray;
      }
    }
  }
  .form-control-checkbox {
    input[type=checkbox] {
      position: absolute;
      visibility: hidden;
      & + span {
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        height: 1.5rem;
        width: 1.5rem;
        background-color: $color-white;
        border: 1px solid $color-dark-gray;
        border-radius: 2px;
        z-index: 5;
        display: block;
        position: absolute;
      }
      &:checked + span::after {
        content: "";
        left: -.5rem;
        width: 2rem;
        height: 2rem;
        background-image: url(/images/common/form-check.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-4px, -2px);
        -webkit-transform: translate(-4px, -2px);
        display: block;
      }
      &:disabled + span {
        border: 1px solid $color-disabled;
        background-color: $color-gray;
      }
    }
  }
  /* ボタン系インプット */
  .form-control-button {
    input[type=submit], input[type=button], button, .button {
      width: 100%;
      text-align: center;
      display: block;
      color: $color-white;
      background-color: $color-green;
      border: none;
      @include font-size(24);
      padding: .75rem 0;
      position: relative;
      outline-color: $color-green;
      box-sizing: border-box;
      box-shadow: 0 1px 2px $color-dark-gray;
      .is_notTouchDevice &:hover, .is_notTouchDevice &:focus {
        background-color: $color-pink;
        outline-color: $color-pink;
      }
      &::after {
        content: "";
        width: 0.75em;
        height: 0.75em;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(/images/common/button-arrow01.png);
        display: block;
        position: absolute;
      }
      &.button-type2 {
        color: $color-green;
        background-color: $color-gray;
        outline-color: $color-gray;
        .is_notTouchDevice &:hover, .is_notTouchDevice &:focus {
          background-color: $color-cream;
          outline-color: $color-cream;
        }
        &::after {
          left: 10px;
          right: inherit;
          background-image: url(/images/common/button-arrow02.png);
        }
      }
      &.button-type3 {
        background-color: $color-disabled;
        outline-color: $color-disabled;
        .is_notTouchDevice &:hover, .is_notTouchDevice &:focus {
          color: $font-color;
          background-color: $color-gray;
          outline-color: $color-gray;
        }
      }
      &.button-type4 {
        background-color: $color-pink;
        outline-color: $color-pink;
        .is_notTouchDevice &:hover, .is_notTouchDevice &:focus {
          background-color: $color-green;
          outline-color: $color-green;
        }
      }
    }
  }
}

@include desktop {
  .form-field-wrapper {
    width: 100%;
  }
  .form-field-label {
    margin: 0.5rem 0 0;
  }
  .form-control {
    /* 入力系インプット */
    input[type=text], input[type=number], input[type=email], input[type=tel], input[type=password], input[type=date], input[type=datetime] {
      margin-left: .5rem;
      padding: .375rem;
    }
  }
}