{% import "_data/globalConfig.html" as global %}
<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{page.title}}{{global.site.sitename}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<link href="/css/style.css" rel="stylesheet">
{% for css in page.css %}
<link href="/css/{{css}}.css" rel="stylesheet">
{% endfor %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body id="body">

  <section class="modal-overlay">
    <div class="modal-wrapper{% if (page.class != '') %} {{page.class}}{% endif %}">
    {% block content %}{% endblock %}
    </div>
  </section>

  <script src="/js/common.js"></script>
  {% for js in page.js %}
  <script src="/js/{{js}}.js"></script>
  {% endfor %}
</body>
</html>